In [1]:
  ! pip install selenium

Requirement already satisfied: selenium in c:\users\bhakti.thaker\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\bhakti.thaker\anaconda3\lib\site-packages (from selenium) (1.25.11)

will download web driver for web browser. The steps for downloading thw web driver for your browser are:
1. click the version of your browser
2.go to the link -chromedriver.chromium.org/downloads
3.download the web driver for your version of browser
now these steps are for crome browser. Download link will be diffrent for mozilla firefox and other browsers.

In [2]:
# import Libraries
import selenium
import pandas as pd
from selenium import webdriver

In [3]:
# lets firstlt connect to web driver
driver = webdriver.Chrome(r"C:\Users\bhakti.thaker\Desktop\Datatrained\FLIPROBBO\Selenium Web sCrapping\chromedriver_win32\chromedriver.exe")

In [4]:
# alternative: upload this exe file into jupyter and now after running below stament also driver will be connected.
#driver= webdriver.Chrome("chromedriver.exe")

# Ques 1 > Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [5]:
url = 'https://www.naukri.com/'
driver.get(url)

In [6]:
#finding element for job search bar
search_job= driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [7]:
#write on search bar
search_job.send_keys("Data Analyst")

In [8]:
#finding element for job location bar
search_loc= driver.find_element_by_id('qsb-location-sugg')

In [9]:
#write on location bar
search_loc.send_keys("Bangalore")

In [10]:
# do click using xpath function
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [11]:
# # do click using class function
# search_btn = driver.find_element_by_class_name('btn')
# search_btn.click()

We have to extract 4 things: 1> job titles 2>company name 3> location list 4?experince list

In [12]:
# #Extracting 1 tags for job titles i.e find_element_by_path not elements
# titles_tags = driver.find_element_by_xpath("//a[@class ='title fw500 ellipsis']")
# titles_tags

In [13]:
#Extracting all tags for job titles
titles_tags = driver.find_elements_by_xpath("//a[@class ='title fw500 ellipsis']")
titles_tags

[<selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="ba61875c-fc3e-418d-b160-f06c0aa81ee1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="1e3bb0d8-69bc-4cb5-88b0-597178a2feb7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="4ae63362-3962-4591-8cda-232eb24bdc77")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="1e40dace-8633-4285-b6e8-7a93acacda9a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="e2a10bf6-489c-49bf-abb7-5c8bc20c1546")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="8111c465-89e5-4e45-a1bd-fa1b1c0798b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="a9b61e1c-91da-4abc-9dda-19842ed212e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="f967a4bd-96f3-41f6-bd0e-cc69f01b4481")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="1d6d014f-a386-4dcc-bcf5-e9d1cb14b0fa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="f499cf6e-bc6d-49d8-af83-9a6687e6d452")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="3f073fa8-41b6-4b74-bd68-d19a265046a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="e3533811-e157-4689-a91c-dd6944168120")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="5573e818-6da2-49ba-a454-c59ef5dad1a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="ceffca77-68d4-4e7b-a5b7-2488db46bb71")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="0237671f-0720-42f3-b500-62abe10b3f62")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="4b44bc2b-2965-4d99-90e0-efdbc89adb1b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="9a63c6cb-6772-4f21-bbee-b4fc709d2e1c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="c6fa4218-f9e8-4633-bc7d-991086350a16")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="b7ab782b-cb7d-4925-a432-18dcb8066523")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="bd8e3d3b-e1b9-48e9-bf44-4050662a0987")>]

In [14]:
# will extract the text from the tags.
#so will run the loop to iterate over the tags extracted above and extract the text inside them.
job_titles=[]
for i in titles_tags:
    job_titles.append(i.text)
job_titles

['Data Scientist / Data Analyst -Business Analyst',
 'Data Analyst - Informatica MDM',
 'Assistant Vice President - MIS & Reporting ( Business Data Analyst)',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data analyst - Google Analytics',
 'Senior/Regular Business Analyst / Data Analyst',
 'Data Analyst',
 'Hiring For Data Analyst @ Flipkart on Contract',
 'Senior Data Analyst',
 'Data Analyst',
 'Cybersecurity Data Analyst',
 'Business Data Analyst - MIS & Reporting',
 'Data Analyst / Business Analyst -',
 'Business Data Analyst',
 'Data Analyst',
 'Data Analyst']

In [15]:
#Extracting all tags for Company Name
company_names_tags = driver.find_elements_by_xpath("//a[@class ='subTitle ellipsis fleft']")
company_names_tags

[<selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="14833287-c7d4-419a-a2cd-68005f067684")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="71270a70-3d05-44ca-9a0b-24c8f0c4bbbe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="6cc55c3d-450c-457d-825b-228f92e7f41b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="6f7d1286-935d-402b-8800-1d3de1dc09f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="d4e4a5fa-fd9e-4940-b512-3ff9c62df7e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="3bbfb780-09e7-4fbf-8118-81a90cfbeb50")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="9cf1603e-458f-49c3-be86-83ae9309cebb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="95a4cdbf-4a35-40a8-8cde-d986420e97b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="a4c5cb32-f45e-4bfb-bd68-185861dceccc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="2c0e9618-a2f1-4f00-8aa8-6634fe86a5c4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="95fdc4e6-bb8f-400c-98ad-f3ab4dc18d99")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="6635430d-abfa-44dc-a1c5-d5705c222876")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="0a18f321-7cf2-45cb-87df-92c8da0fda3e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="943cf5ca-6195-4c24-be06-59a8f9db45c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="d2fe3111-416b-464e-9333-d578c0c88c72")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="955eaad4-3098-4698-997a-bb489bfcc178")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="93098b00-f351-478c-b5bf-eecb7831b4a4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="ca733e2e-6f21-45a6-a88a-c722ac7a51ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="1b42300a-ece3-4fed-bbda-3f5b29068e35")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="fbcadbd9-12d3-4a48-a82e-317ef7a50a4a")>]

In [16]:
# will extract the text from the tags.
#so will run the loop to iterate over the tags extracted above and extract the text inside them.
job_company_names=[]
for i in company_names_tags:
    job_company_names.append(i.text)
job_company_names

['Inflexion Analytix Private Limited',
 'Shell India Markets Private Limited',
 'INTERTRUSTVITEOS CORPORATE AND FUND SERVICES PVT. LTD.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'SA Tech Software (I) Pvt. Ltd.',
 'H and M Hennes and Mauritz (P) Ltd.',
 'Luxoft',
 'Flipkart Internet Private Limited',
 'Flipkart Internet Private Limited',
 'Flipkart Internet Private Limited',
 'IBM India Pvt. Limited',
 'Huawei Technologies India Pvt Ltd',
 'INTERTRUST GROUP',
 'LatentView Analytics Private Limited',
 'ALSTOM India Limited',
 'Udaan',
 'Luxoft']

In [17]:
# #Extracting all tags for Experience
# experiences_tags = driver.find_elements_by_xpath("//span[@class ='ellipsis fleft fs12 lh16']")
# experiences_tags
# using above span tag will extract experience salary and location while li tag will only extract experince


# use //span as its a child tag of li (parent tag)
#also work without //span but only in this scenario
# can also use indexing: //span[1]

#Extracting all tags for Experience
experiences_tags = driver.find_elements_by_xpath("//li[@class ='fleft grey-text br2 placeHolderLi experience']//span")
experiences_tags

[<selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="b59ecf01-f4ef-4234-a96f-20c7afa75601")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="3b27041f-4abd-4be3-8325-bb6dacba7005")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="d0637fad-c69a-4b82-9fae-22393ed397a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="eab2aeeb-e0b3-4a9d-82cc-3402b6ac6879")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="4a60ddd5-8a51-4bc4-ac59-0b0d6fe3e037")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="828ff2e2-2b58-4309-bf91-3627a2a16870")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="b392aa37-d73c-4b09-8074-77528272ef11")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="7ece7aa5-4207-429e-8561-91134d74b9ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="a12c042d-f119-4863-bad5-c00b33cfd159")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="2707c065-87c1-411c-b5fc-9d6a2399ae44")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="6acfe013-f776-4f40-a917-0de69b6c24c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="57b2a4d8-874f-4303-a8a1-25a4a0ca7606")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="47a56a01-1bbd-4cc3-a0e3-f2903ae4af22")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="fbe004eb-dd9b-4616-a578-f3ae3ba2af36")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="5416ec56-db60-403d-8f58-0e12a895ab43")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="61cd0aa7-7a0a-40fc-bec6-7d71216db389")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="d8f23fea-6b44-4b1e-829e-35a1c9ee0d63")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="a4a4b588-ab80-44ed-a21e-9ad24d78ce14")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="a08861c8-b68a-49db-a4b1-97c0b77be841")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="e3fdbe1c-bf13-4f80-8145-f0ea078ef6de")>]

In [18]:
# will extract the text from the tags.
#so will run the loop to iterate over the tags extracted above and extract the text inside them.
job_experiences=[]
for i in experiences_tags:
    job_experiences.append(i.text)
job_experiences

['0-3 Yrs',
 '6-9 Yrs',
 '12-18 Yrs',
 '3-6 Yrs',
 '3-6 Yrs',
 '4-9 Yrs',
 '4-8 Yrs',
 '1-3 Yrs',
 '4-7 Yrs',
 '3-6 Yrs',
 '1-3 Yrs',
 '2-6 Yrs',
 '2-5 Yrs',
 '5-10 Yrs',
 '5-8 Yrs',
 '3-8 Yrs',
 '1-5 Yrs',
 '5-10 Yrs',
 '1-6 Yrs',
 '2-6 Yrs']

In [19]:
# #Extracting all tags for Location
# locations_tags = driver.find_elements_by_xpath("//span[@class ='ellipsis fleft fs12 lh16']")
# locations_tags
# using above span tag will extract experience salary and location while li tag will only extract experince


# use //span as its a child tag of li (parent tag)
#also work without //span but only in this scenario
# can also use indexing: //span[1]


#Extracting all tags for Location
locations_tags = driver.find_elements_by_xpath("//li[@class ='fleft grey-text br2 placeHolderLi location']//span")
locations_tags

[<selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="e1dbde86-c1bd-47d6-a185-31cd2a594e6f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="09070314-b22b-44c1-ab99-79dcdd801b2c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="e9e9dd8a-77b6-4db4-a54b-e39a107fa16d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="654e6516-27f2-43bb-bae1-5a0f90e0c885")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="13003574-491c-4c7a-a2ab-1205ca1c99c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="3b3d9340-a415-47b3-a554-76f2af5b52bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="5955d835-ea75-47a5-95d6-71dcc7a9e4af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="48407dc6-33b4-499a-81de-951c30044308")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="860ea595-c487-4fcd-b4d9-7bf1cd77fd9d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="a1b6c760-424c-4e56-80a8-390621b3df18")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="2a254dd4-e3d3-47f5-9763-d253040c1e36")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="78dff618-b5a3-43f8-8693-c7c171b3d2e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="10893037-b9fe-40d4-9101-29746ff459f6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="b109f29e-34ff-4419-ad45-72dc605e4f18")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="ceaff23d-25b0-425f-a576-40cf6249cc55")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="91edd1fe-82e0-45d8-a3f1-76678796d90e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="5ca52307-85b2-4cc7-b95a-47d8637e5886")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="8b0e6d69-dc90-4081-b717-74017613519b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="8fb8640d-1ede-4b0a-8047-b0bdd7ccfebe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="096f4258-6acd-4063-943a-5267165a4ea0")>]

In [20]:
# will extract the text from the tags.
#so will run the loop to iterate over the tags extracted above and extract the text inside them.
job_locations=[]
for i in locations_tags:
    job_locations.append(i.text)
job_locations

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [21]:
# #Extracting all tags for Company Name
# urls= driver.find_elements_by_tag_name("img")
# urls

In [22]:
# job_urls=[]
# for i in urls:
#     job_urls.append(i.get_attribute('src'))
# job_urls

In [23]:
# will check number of data extracted
print(len(job_titles),len(job_company_names),len(job_experiences),len(job_locations))
# print(len(job_titles),len(job_company_names),len(job_experiences),len(job_locations),len(job_urls)

20 20 20 20

In [24]:
# create dataframe
import pandas as pd

jobs = pd.DataFrame({})
jobs['Title'] = job_titles
jobs['Company'] = job_company_names
jobs['Experience_required'] = job_experiences
jobs['Location'] = job_locations
# jobs['Url']=job_urls

In [25]:
jobs

,Title,Company,Experience_required,Location
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,0-3 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/..."
1,Data Analyst - Informatica MDM,Shell India Markets Private Limited,6-9 Yrs,Bangalore/Bengaluru
2,Assistant Vice President - MIS & Reporting ( B...,INTERTRUSTVITEOS CORPORATE AND FUND SERVICES P...,12-18 Yrs,"Mumbai, Bangalore/Bengaluru"
3,Data Analyst,Myntra Designs Pvt. Ltd.,3-6 Yrs,Bangalore/Bengaluru
4,Data Analyst,Myntra Designs Pvt. Ltd.,3-6 Yrs,Bangalore/Bengaluru
5,Data Analyst,Myntra Designs Pvt. Ltd.,4-9 Yrs,Bangalore/Bengaluru
6,Data Analyst,Myntra Designs Pvt. Ltd.,4-8 Yrs,Bangalore/Bengaluru
7,Data Analyst,SA Tech Software (I) Pvt. Ltd.,1-3 Yrs,"Kolkata, Pune, Chennai, Bangalore/Bengaluru, D..."
8,Data analyst - Google Analytics,H and M Hennes and Mauritz (P) Ltd.,4-7 Yrs,Bangalore/Bengaluru
9,Senior/Regular Business Analyst / Data Analyst,Luxoft,3-6 Yrs,Bangalore/Bengaluru
10,Data Analyst,Flipkart Internet Private Limited,1-3 Yrs,Bangalore/Bengaluru
11,Hiring For Data Analyst @ Flipkart on Contract,Flipkart Internet Private Limited,2-6 Yrs,Bangalore/Bengaluru
12,Senior Data Analyst,Flipkart Internet Private Limited,2-5 Yrs,Bangalore/Bengaluru
13,Data Analyst,IBM India Pvt. Limited,5-10 Yrs,Bangalore/Bengaluru
14,Cybersecurity Data Analyst,Huawei Technologies India Pvt Ltd,5-8 Yrs,Bangalore/Bengaluru
15,Business Data Analyst - MIS & Reporting,INTERTRUST GROUP,3-8 Yrs,"Mumbai, Bangalore/Bengaluru"
16,Data Analyst / Business Analyst -,LatentView Analytics Private Limited,1-5 Yrs,"Chennai, Bangalore/Bengaluru"
17,Business Data Analyst,ALSTOM India Limited,5-10 Yrs,Bangalore/Bengaluru
18,Data Analyst,Udaan,1-6 Yrs,Bangalore/Bengaluru
19,Data Analyst,Luxoft,2-6 Yrs,Bangalore/Bengaluru

In [26]:
result = jobs.drop(jobs.index[10:],axis = 0)
result

,Title,Company,Experience_required,Location
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,0-3 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/..."
1,Data Analyst - Informatica MDM,Shell India Markets Private Limited,6-9 Yrs,Bangalore/Bengaluru
2,Assistant Vice President - MIS & Reporting ( B...,INTERTRUSTVITEOS CORPORATE AND FUND SERVICES P...,12-18 Yrs,"Mumbai, Bangalore/Bengaluru"
3,Data Analyst,Myntra Designs Pvt. Ltd.,3-6 Yrs,Bangalore/Bengaluru
4,Data Analyst,Myntra Designs Pvt. Ltd.,3-6 Yrs,Bangalore/Bengaluru
5,Data Analyst,Myntra Designs Pvt. Ltd.,4-9 Yrs,Bangalore/Bengaluru
6,Data Analyst,Myntra Designs Pvt. Ltd.,4-8 Yrs,Bangalore/Bengaluru
7,Data Analyst,SA Tech Software (I) Pvt. Ltd.,1-3 Yrs,"Kolkata, Pune, Chennai, Bangalore/Bengaluru, D..."
8,Data analyst - Google Analytics,H and M Hennes and Mauritz (P) Ltd.,4-7 Yrs,Bangalore/Bengaluru
9,Senior/Regular Business Analyst / Data Analyst,Luxoft,3-6 Yrs,Bangalore/Bengaluru

# Ques 2> Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [27]:
url = 'https://www.naukri.com/'
driver.get(url)

In [28]:
#finding element for job search bar
search_job= driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [29]:
#write on search bar
search_job.send_keys("Data Scientist")

In [30]:
#finding element for job location bar
search_loc= driver.find_element_by_id('qsb-location-sugg')

In [31]:
#write on location bar
search_loc.send_keys("Bangalore")

In [32]:
# do click using xpath function
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

We have to extract 4 things: 1> job titles 2>company name 3> location list 4?full job description

In [33]:
#Extracting all tags for job titles
titles_tags = driver.find_elements_by_xpath("//a[@class ='title fw500 ellipsis']")
titles_tags

[<selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="e3db22b0-8c2b-4b32-9e28-7c868de1cf5e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="29569b5f-79e8-4d73-826d-6e4f55a1c3bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="a565148f-a721-4248-b772-64ea74c4ee12")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="c1303562-b844-4c5b-aed0-1b977696f15d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="36d18b4f-3f5f-40eb-ba89-62f9e1b0107b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="99c81983-221e-4e67-88fb-a32e1061563a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="db9cb808-cdca-4ee9-863b-a0d4261d697e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="5219ab71-d609-4af9-9791-85a5d2aaff63")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="39efeff7-bccb-46da-bd06-1d83746a7bce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="0bad5498-1542-4288-97b7-27deabaffe1a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="644619ce-3400-4214-8877-abc1735d8571")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="91c31118-288c-4e8b-ac77-5187be6878ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="ffd109c4-4fd1-41a2-b151-712678867187")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="2ab52b7b-a37c-4afb-9292-c05cb33c9af4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="291e7ab1-b0b0-467f-82ea-a2ebe71160d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="f5661516-28ea-418d-b10c-1cf7df51beea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="cc967adc-207d-42b0-9795-a297ef39223e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="8f121f81-57d0-4035-a711-a7e69b9c60f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="2a7ce38f-d9ad-4a1c-adc7-b3dbc4c4471d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="4ff2c050-a75e-4636-8c33-3a0faa0a558b")>]

In [34]:
# will extract the text from the tags.
#so will run the loop to iterate over the tags extracted above and extract the text inside them.
job_titles=[]
for i in titles_tags:
    job_titles.append(i.text)
job_titles

['Data Scientist / Data Analyst -Business Analyst',
 'Senior Data Scientist, Modeling',
 'Big Data - Data Scientist',
 'Specialist I - Data Scientist',
 'Data Scientist',
 'Lead Data Scientist',
 'Data Scientist',
 'SDE Lead Data Scientist-L3',
 'Computational Design Lead Data Scientist-L3',
 'Hiring For DATA Scientist - ON Contract Basis (3-6 Months)',
 'Senior Data Scientist',
 'Senior Data Scientist - Chatbot & NLP',
 'Senior Data Scientist - Chatbot & NLP',
 'Senior Data Scientist',
 'Sr. Data Scientist',
 'Senior Data Scientist',
 'Senior Associate/Team Lead - Data Scientist Consulting',
 'Senior Data Scientist',
 'Data Scientist',
 'Hiring For Lead data Scientist For Bangalore location']

In [35]:
#Extracting all tags for Company Name
company_names_tags = driver.find_elements_by_xpath("//a[@class ='subTitle ellipsis fleft']")
company_names_tags

[<selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="5e1e0e9b-5e89-43c5-9e2c-e053b4827a90")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="d8440169-d4bf-4a4f-aa42-92fa6e0ebeeb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="e84fb5ee-2ae8-4146-94cd-ff2cd8e12e6e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="2bc19ea1-64f4-4a77-8651-e25cc5f431bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="a5a4c541-02d2-414c-8c40-86aaefeb8829")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="380f3716-810e-4098-a60b-444f38a39779")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="27901dd0-6868-4c81-b2ad-42e96a703b67")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="56c3b27c-5a9a-4005-bb98-f88db9926a71")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="6b4afcd3-1d9e-41c3-aa45-2aadb274ec56")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="47b61581-3e54-4694-94a9-35f500836154")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="8b7f965b-c01c-4640-83cd-ce470f43d595")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="5a6ea1f8-1e37-4e7d-ac94-f6d1cc93b3d1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="0c6d64b7-3571-4f1d-975c-100dad6269eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="ef9a8004-c763-47a8-9a28-27ab8fb40972")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="313f72c7-0237-4e75-b0f2-494837557ee9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="b85c56b3-31db-4689-8694-661160971b8a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="0960ffc4-cd7b-4199-9605-93008049fcbc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="bae00581-96b7-442a-8147-8db15ea5e979")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="63320ab0-7eef-424e-ae4f-140b46c2b086")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="110d787e-98f9-4b70-ba48-f68ea5c58e14")>]

In [36]:
# will extract the text from the tags.
#so will run the loop to iterate over the tags extracted above and extract the text inside them.
job_company_names=[]
for i in company_names_tags:
    job_company_names.append(i.text)
job_company_names

['Inflexion Analytix Private Limited',
 'Nielsen',
 'Xoriant Solutions Pvt Ltd',
 'Philips India Limited',
 'IBM India Pvt. Limited',
 'Intel Technology India Pvt Ltd',
 'Oracle India Pvt. Ltd.',
 'Huawei Technologies India Pvt Ltd',
 'Huawei Technologies India Pvt Ltd',
 'GlobalEdx Learning and Technology Solution Pvt Ltd',
 'GO-JEK India',
 'Gojek Tech',
 'GO-JEK India',
 'nanobi data and analytics private limited',
 'VALIANCE ANALYTICS PRIVATE LIMITED',
 'BankBazaar.com (A&A DUKAAN FINANCIAL SERVICES PVT. LTD)',
 'Analytics India Magazine',
 'Gojek Tech',
 'Applied Materials',
 'Societe Generale']

In [37]:
#Extracting all tags for Location
locations_tags = driver.find_elements_by_xpath("//li[@class ='fleft grey-text br2 placeHolderLi location']//span")
locations_tags

[<selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="e33b7988-6a2c-4be9-889a-252310ce2c9a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="39401605-c04b-4ee0-a35c-5cc0719b8382")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="bb31adae-4179-4b31-88fc-2f0f4adc21a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="8eb04315-300b-4b78-a7d2-86b177f8675c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="248bc134-79ef-4e19-8146-5e27ac90fc96")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="0037f4ab-32ce-4aa6-9914-6bb291d83645")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="a1eeda38-486c-444f-9a64-40e3ad274b64")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="d8a3beab-0c08-4067-945e-3b55aeca1ece")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="bef1c7e4-de1a-428e-8974-63c23000bd84")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="e50d11da-f180-4369-88f2-f5d2b4bab4fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="c94fe054-3d90-4ead-92aa-6b2769dfa4aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="6f48acc6-2cba-43b7-b19c-f8b044b5adb8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="d9434efc-1ebb-43df-9f2c-2fafaf415c39")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="66496e1d-7762-4ab5-a21a-13b53e6bb203")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="0c8a7932-d30b-4a4a-a973-c8fa35f97bd4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="80a9eecb-03c4-43d8-aacc-3f718bdabbe8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="cf6d296e-a138-4a62-9892-75448f1db239")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="08d246f9-8746-4600-97c8-8eb1274c285c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="3a3a7e0f-7321-4f2e-8cd6-8d272943ba25")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="c4fa1da6-9dec-468e-b218-aea6e1633ccd")>]

In [38]:
# will extract the text from the tags.
#so will run the loop to iterate over the tags extracted above and extract the text inside them.
job_locations=[]
for i in locations_tags:
    job_locations.append(i.text)
job_locations

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru, Vadodara, Mumbai (All Areas)',
 'Kochi/Cochin, Indore, Hyderabad/Secunderabad, Pune, Ahmedabad, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [39]:
#Extracting all tags for Full Description
import time


# # do click using xpath function
# search_btn = driver.find_element_by_tag_name("a")
# search_btn.click()

urls=[]

for j in driver.find_elements_by_xpath("//div[@class='info fleft']/a"):
        urls.append(j.get_attribute('href'))
time.sleep(4)
    
# for i in range(0,3):
#     for j in driver.find_elements_by_xpath("//div[@class='info fleft']/a"):
#         urls.append(j.get_attribute('href'))
#     driver.find_element_by_xpath("//a[@class='fright fs14 btn-secondary br2']").click()
#     time.sleep(4)

In [40]:
urls

['https://www.naukri.com/job-listings-data-scientist-data-analyst-business-analyst-inflexion-analytix-private-limited-mumbai-hyderabad-secunderabad-pune-gurgaon-gurugram-chennai-bangalore-bengaluru-0-to-3-years-100521000368?src=jobsearchDesk&sid=16215400364113565&xp=1&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-modeling-nielsen-kolkata-gurgaon-gurugram-bangalore-bengaluru-vadodara-baroda-mumbai-all-areas-3-to-7-years-280421003878?src=jobsearchDesk&sid=16215400364113565&xp=2&px=1',
 'https://www.naukri.com/job-listings-big-data-data-scientist-xoriant-solutions-pvt-ltd-kochi-cochin-indore-hyderabad-secunderabad-pune-ahmedabad-bangalore-bengaluru-mumbai-all-areas-1-to-3-years-130521005018?src=jobsearchDesk&sid=16215400364113565&xp=3&px=1',
 'https://www.naukri.com/job-listings-specialist-i-data-scientist-philips-india-limited-bangalore-bengaluru-4-to-7-years-170521500993?src=jobsearchDesk&sid=16215400364113565&xp=4&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-india-pvt-limited-bangalore-bengaluru-6-to-8-years-110521907352?src=jobsearchDesk&sid=16215400364113565&xp=5&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-intel-technology-india-pvt-ltd-bangalore-bengaluru-6-to-10-years-070521500578?src=jobsearchDesk&sid=16215400364113565&xp=6&px=1',
 'https://www.naukri.com/job-listings-data-scientist-oracle-india-pvt-ltd-bangalore-bengaluru-6-to-10-years-190521008276?src=jobsearchDesk&sid=16215400364113565&xp=7&px=1',
 'https://www.naukri.com/job-listings-sde-lead-data-scientist-l3-huawei-technologies-india-pvt-ltd-bangalore-bengaluru-5-to-8-years-120521901434?src=jobsearchDesk&sid=16215400364113565&xp=8&px=1',
 'https://www.naukri.com/job-listings-computational-design-lead-data-scientist-l3-huawei-technologies-india-pvt-ltd-bangalore-bengaluru-5-to-8-years-120521901329?src=jobsearchDesk&sid=16215400364113565&xp=9&px=1',
 'https://www.naukri.com/job-listings-hiring-for-data-scientist-on-contract-basis-3-6-months-globaledx-learning-and-technology-solution-pvt-ltd-hyderabad-secunderabad-bangalore-bengaluru-mumbai-all-areas-3-to-8-years-170521003581?src=jobsearchDesk&sid=16215400364113565&xp=10&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-go-jek-india-bangalore-bengaluru-4-to-11-years-190521500736?src=jobsearchDesk&sid=16215400364113565&xp=11&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-chatbot-nlp-gojek-tech-bangalore-bengaluru-3-to-7-years-060521500524?src=jobsearchDesk&sid=16215400364113565&xp=12&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-chatbot-nlp-go-jek-india-bangalore-bengaluru-5-to-10-years-050521500478?src=jobsearchDesk&sid=16215400364113565&xp=13&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-nanobi-data-and-analytics-private-limited-bangalore-bengaluru-7-to-9-years-190521501055?src=jobsearchDesk&sid=16215400364113565&xp=14&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-valiance-analytics-private-limited-bangalore-bengaluru-delhi-ncr-6-to-8-years-180521006944?src=jobsearchDesk&sid=16215400364113565&xp=15&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-bankbazaar-com-a-a-dukaan-financial-services-pvt-ltd-bangalore-bengaluru-5-to-7-years-040321006895?src=jobsearchDesk&sid=16215400364113565&xp=16&px=1',
 'https://www.naukri.com/job-listings-senior-associate-team-lead-data-scientist-consulting-analytics-india-magazine-bangalore-bengaluru-3-to-5-years-200521900965?src=jobsearchDesk&sid=16215400364113565&xp=17&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-gojek-tech-bangalore-bengaluru-3-to-7-years-200521500197?src=jobsearchDesk&sid=16215400364113565&xp=18&px=1',
 'https://www.naukri.com/job-listings-data-scientist-applied-materials-india-private-limited-bangalore-bengaluru-2-to-4-years-070521901521?src=jobsearchDesk&sid=16215400364113565&xp=19&px=1',
 'https://www.naukri.com/job-listings-hiring-for-lead-data-scientist-for-bangalore-location-societe-generale-global-solution-centre-pvt-ltd-bangalore-bengaluru-5-to-9-years-130521000901?src=jobsearchDesk&sid=16215400364113565&xp=20&px=1']

In [43]:
# for i in urls:
#     driver.get(i)


# will extract the text from the tags.
#so will run the loop to iterate over the tags extracted above and extract the text inside them.
job_descriptions=[]
for i in urls:
#     driver.get(i)
    x=driver.find_elements_by_xpath("//section[@class ='job-desc']")
    for j in x:
         job_descriptions.append(j.text.replace('\n',' '))
#         job_descriptions.append(j.text.replace('Job description\n',' '))
job_descriptions

["Job description Job Role : Data Scientist/Data Analyst /Business Analyst  Location : Chennai/Bangalore/Hyderabad/Pune/Mumbai/Delhi  Greetings from CAIA - Center for Artificial Intelligence & Advanced Analytics 43% of companies experienced a high deficit of skilled resources with Advanced Analytical skills and AI implementing capabilities in year 2020. CAIA gives you a great opportunity to enter the world of future technologies and Innovations- Data Science, Analytics, AI, Data Visualization and Cloud Computing.  While 2020 was a year like no other, we are living in an interesting times where data is reshaping the world, and businesses are rapidly adopting technology to gain an edge over others. Hence, there's a substantial increase in demand for technology professionals who can implement systems in data science, machine learning and AI in Tier 1 and Tier 2 organization's working closely with us.  To help you build a sustainable career we would like you to utilize data, software and Analytical approaches in Data Science and AI to up skill and get recruited into an organization appreciating your skilling journey. Applications invited from all Freshers and experienced candidates (0-3 yrs) aspiring to make a career in Artificial Intelligence and Advanced Analytics and Data Science. If you wish to make a shift in your career or undergo a career transition, upskilling is essential since it allows you to learn more about the domain and acquire the required skills.  Call to schedule interview Monday -Saturday from 10:00 am to 7Pm  Manigandan -+91 7299917200  Email : manigandan@centerforaia.com  What is needed from you?  Freshers who wish to start their career in Analytics and AI and professionals who wish to upskill or change their domain to analytics and emerging technologies are free to apply. An Educational background in any one of the following- BE/B.Tech, ME/M Tech, MSc, BSc/MSc Maths and Statistics, B Com, BCA, BSc CS, BSC IT, MSC IT, MCA Skills relating to Mathematics/Statistics. Natural passion towards numbers, business, coding, Analytics and Artificial Intelligence, Machine Learning, visualization Good verbal and written communication skills Ability to understand domains in businesses across various sectors   Selection procedure includes  Aptitude Test & Communication Exam - Online / Offline SQL/Python test - Online / Offline  Candidates who clears the above will have one-one discussion with our Career Guidance Manager for further evaluation and processing of your Resume.   All the Shortlisted candidates will be eligible to continue the corporate training with CAIA What you can expect from us?  You will get trained on the following modules for a period of 12-14 weeks:  SQL & PLSQL Data Wrangling using Python Data Visualization Using Power-BI Statistics for Machine Learning Artificial Intelligence, Data Interpretation Supervised & Unsupervised Learning, NLP & Deep Learning Cloud Data Lake Business intelligence & Data Visualization Simulation Projects Expected Outcome?  At the end of the Training you are expected to be well versed with the following:  Analysis of large and complex data sets from multiple sources Development and evaluation of data analytics models, algorithms and solutions Understanding/implementation of ML algorithms, performance tuning and reporting Implementation of algorithms to mine targeted data and the ability to convert data in to a business story Translation of business requirements into technical requirements; Data extraction, preparation and transformation Identification, development and implementation of statistical techniques and algorithms that address business challenges and adds value to the organization Requirement Analysis and communication of findings in the form of a meaningful story with the stakeholders Finding analytical solutions to abstract business issues. Apply objective analysis of facts before coming to a conclusion  About CAIA - Inflexion Analytix Private Limited  Center for Artificial Intelligence and Advanced Analytics (Center for AIA) is the brainchild of experienced and visionary alumni of IIT Madras and Bombay. Digital leaders - 5F World and Systech Solutions have joined hands to create a venture for architecting the future of society, workforce, governments and businesses. 5F World specializes in designing solutions around digital platforms and Systech Solutions has an expertise in architecting Artificial Intelligence and Advance Analytics solutions for Fortune 500 companies. Our Website : http://www.centerforaia.com/  https://inflexion-analytix-private-limited.business.site/?m=true  Center for Artificial Intelligence & Advanced Analytics (CAIA) focuses on the following:  1. Global Research on emerging trends, technologies and applications in AI and Advanced Analytics 2. Advanced Training programs for readying the future ready workforce 3. Solutions to herald the futuristic lifestyle and workspaces in the field of AI and Data Science. RoleData Analyst Industry TypeBPO / Call Centre Functional AreaAnalytics & Business Intelligence Employment TypeFull Time, Permanent Role CategoryAnalytics & BI Education UG :Any Graduate in Any Specialization Key Skills Business IntelligenceArtificial IntelligenceBig DataITMachine LearningStatisticsDeep LearningAnalyticsBusiness AnalysisSQLData ScienceNLPCloud ComputingData VisualizationSoftwareData WarehousingPython",
 "Job description Job Role : Data Scientist/Data Analyst /Business Analyst  Location : Chennai/Bangalore/Hyderabad/Pune/Mumbai/Delhi  Greetings from CAIA - Center for Artificial Intelligence & Advanced Analytics 43% of companies experienced a high deficit of skilled resources with Advanced Analytical skills and AI implementing capabilities in year 2020. CAIA gives you a great opportunity to enter the world of future technologies and Innovations- Data Science, Analytics, AI, Data Visualization and Cloud Computing.  While 2020 was a year like no other, we are living in an interesting times where data is reshaping the world, and businesses are rapidly adopting technology to gain an edge over others. Hence, there's a substantial increase in demand for technology professionals who can implement systems in data science, machine learning and AI in Tier 1 and Tier 2 organization's working closely with us.  To help you build a sustainable career we would like you to utilize data, software and Analytical approaches in Data Science and AI to up skill and get recruited into an organization appreciating your skilling journey. Applications invited from all Freshers and experienced candidates (0-3 yrs) aspiring to make a career in Artificial Intelligence and Advanced Analytics and Data Science. If you wish to make a shift in your career or undergo a career transition, upskilling is essential since it allows you to learn more about the domain and acquire the required skills.  Call to schedule interview Monday -Saturday from 10:00 am to 7Pm  Manigandan -+91 7299917200  Email : manigandan@centerforaia.com  What is needed from you?  Freshers who wish to start their career in Analytics and AI and professionals who wish to upskill or change their domain to analytics and emerging technologies are free to apply. An Educational background in any one of the following- BE/B.Tech, ME/M Tech, MSc, BSc/MSc Maths and Statistics, B Com, BCA, BSc CS, BSC IT, MSC IT, MCA Skills relating to Mathematics/Statistics. Natural passion towards numbers, business, coding, Analytics and Artificial Intelligence, Machine Learning, visualization Good verbal and written communication skills Ability to understand domains in businesses across various sectors   Selection procedure includes  Aptitude Test & Communication Exam - Online / Offline SQL/Python test - Online / Offline  Candidates who clears the above will have one-one discussion with our Career Guidance Manager for further evaluation and processing of your Resume.   All the Shortlisted candidates will be eligible to continue the corporate training with CAIA What you can expect from us?  You will get trained on the following modules for a period of 12-14 weeks:  SQL & PLSQL Data Wrangling using Python Data Visualization Using Power-BI Statistics for Machine Learning Artificial Intelligence, Data Interpretation Supervised & Unsupervised Learning, NLP & Deep Learning Cloud Data Lake Business intelligence & Data Visualization Simulation Projects Expected Outcome?  At the end of the Training you are expected to be well versed with the following:  Analysis of large and complex data sets from multiple sources Development and evaluation of data analytics models, algorithms and solutions Understanding/implementation of ML algorithms, performance tuning and reporting Implementation of algorithms to mine targeted data and the ability to convert data in to a business story Translation of business requirements into technical requirements; Data extraction, preparation and transformation Identification, development and implementation of statistical techniques and algorithms that address business challenges and adds value to the organization Requirement Analysis and communication of findings in the form of a meaningful story with the stakeholders Finding analytical solutions to abstract business issues. Apply objective analysis of facts before coming to a conclusion  About CAIA - Inflexion Analytix Private Limited  Center for Artificial Intelligence and Advanced Analytics (Center for AIA) is the brainchild of experienced and visionary alumni of IIT Madras and Bombay. Digital leaders - 5F World and Systech Solutions have joined hands to create a venture for architecting the future of society, workforce, governments and businesses. 5F World specializes in designing solutions around digital platforms and Systech Solutions has an expertise in architecting Artificial Intelligence and Advance Analytics solutions for Fortune 500 companies. Our Website : http://www.centerforaia.com/  https://inflexion-analytix-private-limited.business.site/?m=true  Center for Artificial Intelligence & Advanced Analytics (CAIA) focuses on the following:  1. Global Research on emerging trends, technologies and applications in AI and Advanced Analytics 2. Advanced Training programs for readying the future ready workforce 3. Solutions to herald the futuristic lifestyle and workspaces in the field of AI and Data Science. RoleData Analyst Industry TypeBPO / Call Centre Functional AreaAnalytics & Business Intelligence Employment TypeFull Time, Permanent Role CategoryAnalytics & BI Education UG :Any Graduate in Any Specialization Key Skills Business IntelligenceArtificial IntelligenceBig DataITMachine LearningStatisticsDeep LearningAnalyticsBusiness AnalysisSQLData ScienceNLPCloud ComputingData VisualizationSoftwareData WarehousingPython",
 "Job description Job Role : Data Scientist/Data Analyst /Business Analyst  Location : Chennai/Bangalore/Hyderabad/Pune/Mumbai/Delhi  Greetings from CAIA - Center for Artificial Intelligence & Advanced Analytics 43% of companies experienced a high deficit of skilled resources with Advanced Analytical skills and AI implementing capabilities in year 2020. CAIA gives you a great opportunity to enter the world of future technologies and Innovations- Data Science, Analytics, AI, Data Visualization and Cloud Computing.  While 2020 was a year like no other, we are living in an interesting times where data is reshaping the world, and businesses are rapidly adopting technology to gain an edge over others. Hence, there's a substantial increase in demand for technology professionals who can implement systems in data science, machine learning and AI in Tier 1 and Tier 2 organization's working closely with us.  To help you build a sustainable career we would like you to utilize data, software and Analytical approaches in Data Science and AI to up skill and get recruited into an organization appreciating your skilling journey. Applications invited from all Freshers and experienced candidates (0-3 yrs) aspiring to make a career in Artificial Intelligence and Advanced Analytics and Data Science. If you wish to make a shift in your career or undergo a career transition, upskilling is essential since it allows you to learn more about the domain and acquire the required skills.  Call to schedule interview Monday -Saturday from 10:00 am to 7Pm  Manigandan -+91 7299917200  Email : manigandan@centerforaia.com  What is needed from you?  Freshers who wish to start their career in Analytics and AI and professionals who wish to upskill or change their domain to analytics and emerging technologies are free to apply. An Educational background in any one of the following- BE/B.Tech, ME/M Tech, MSc, BSc/MSc Maths and Statistics, B Com, BCA, BSc CS, BSC IT, MSC IT, MCA Skills relating to Mathematics/Statistics. Natural passion towards numbers, business, coding, Analytics and Artificial Intelligence, Machine Learning, visualization Good verbal and written communication skills Ability to understand domains in businesses across various sectors   Selection procedure includes  Aptitude Test & Communication Exam - Online / Offline SQL/Python test - Online / Offline  Candidates who clears the above will have one-one discussion with our Career Guidance Manager for further evaluation and processing of your Resume.   All the Shortlisted candidates will be eligible to continue the corporate training with CAIA What you can expect from us?  You will get trained on the following modules for a period of 12-14 weeks:  SQL & PLSQL Data Wrangling using Python Data Visualization Using Power-BI Statistics for Machine Learning Artificial Intelligence, Data Interpretation Supervised & Unsupervised Learning, NLP & Deep Learning Cloud Data Lake Business intelligence & Data Visualization Simulation Projects Expected Outcome?  At the end of the Training you are expected to be well versed with the following:  Analysis of large and complex data sets from multiple sources Development and evaluation of data analytics models, algorithms and solutions Understanding/implementation of ML algorithms, performance tuning and reporting Implementation of algorithms to mine targeted data and the ability to convert data in to a business story Translation of business requirements into technical requirements; Data extraction, preparation and transformation Identification, development and implementation of statistical techniques and algorithms that address business challenges and adds value to the organization Requirement Analysis and communication of findings in the form of a meaningful story with the stakeholders Finding analytical solutions to abstract business issues. Apply objective analysis of facts before coming to a conclusion  About CAIA - Inflexion Analytix Private Limited  Center for Artificial Intelligence and Advanced Analytics (Center for AIA) is the brainchild of experienced and visionary alumni of IIT Madras and Bombay. Digital leaders - 5F World and Systech Solutions have joined hands to create a venture for architecting the future of society, workforce, governments and businesses. 5F World specializes in designing solutions around digital platforms and Systech Solutions has an expertise in architecting Artificial Intelligence and Advance Analytics solutions for Fortune 500 companies. Our Website : http://www.centerforaia.com/  https://inflexion-analytix-private-limited.business.site/?m=true  Center for Artificial Intelligence & Advanced Analytics (CAIA) focuses on the following:  1. Global Research on emerging trends, technologies and applications in AI and Advanced Analytics 2. Advanced Training programs for readying the future ready workforce 3. Solutions to herald the futuristic lifestyle and workspaces in the field of AI and Data Science. RoleData Analyst Industry TypeBPO / Call Centre Functional AreaAnalytics & Business Intelligence Employment TypeFull Time, Permanent Role CategoryAnalytics & BI Education UG :Any Graduate in Any Specialization Key Skills Business IntelligenceArtificial IntelligenceBig DataITMachine LearningStatisticsDeep LearningAnalyticsBusiness AnalysisSQLData ScienceNLPCloud ComputingData VisualizationSoftwareData WarehousingPython",

In [44]:
# for j in job_descriptions:
#          y=j.replace('Job description','')
# job_descriptions.append(y)
# job_descriptions

In [45]:
# # will extract the text from the tags.
# #so will run the loop to iterate over the tags extracted above and extract the text inside them.
# job_descriptions=[]
# for i in descriptions_tags:
#     job_descriptions.append(i.text)
# job_descriptions

In [46]:
# will check number of data extracted
print(len(job_titles),len(job_company_names),len(job_descriptions),len(job_locations))
# print(len(job_titles),len(job_company_names),len(job_descriptions),len(job_locations),len(job_urls)

20 20 20 20

In [47]:
# create dataframe
import pandas as pd

jobs = pd.DataFrame({})
jobs['Title'] = job_titles
jobs['Company'] = job_company_names
jobs['Location'] = job_locations
jobs['Full Description'] = job_descriptions

# jobs['Url']=job_urls

In [48]:
jobs

,Title,Company,Location,Full Description
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Job description Job Role : Data Scientist/Data...
1,"Senior Data Scientist, Modeling",Nielsen,"Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru...",Job description Job Role : Data Scientist/Data...
2,Big Data - Data Scientist,Xoriant Solutions Pvt Ltd,"Kochi/Cochin, Indore, Hyderabad/Secunderabad, ...",Job description Job Role : Data Scientist/Data...
3,Specialist I - Data Scientist,Philips India Limited,Bangalore/Bengaluru,Job description Job Role : Data Scientist/Data...
4,Data Scientist,IBM India Pvt. Limited,Bangalore/Bengaluru,Job description Job Role : Data Scientist/Data...
5,Lead Data Scientist,Intel Technology India Pvt Ltd,Bangalore/Bengaluru,Job description Job Role : Data Scientist/Data...
6,Data Scientist,Oracle India Pvt. Ltd.,Bangalore/Bengaluru,Job description Job Role : Data Scientist/Data...
7,SDE Lead Data Scientist-L3,Huawei Technologies India Pvt Ltd,Bangalore/Bengaluru,Job description Job Role : Data Scientist/Data...
8,Computational Design Lead Data Scientist-L3,Huawei Technologies India Pvt Ltd,Bangalore/Bengaluru,Job description Job Role : Data Scientist/Data...
9,Hiring For DATA Scientist - ON Contract Basis ...,GlobalEdx Learning and Technology Solution Pvt...,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...",Job description Job Role : Data Scientist/Data...
10,Senior Data Scientist,GO-JEK India,Bangalore/Bengaluru,Job description Job Role : Data Scientist/Data...
11,Senior Data Scientist - Chatbot & NLP,Gojek Tech,Bangalore/Bengaluru,Job description Job Role : Data Scientist/Data...
12,Senior Data Scientist - Chatbot & NLP,GO-JEK India,Bangalore/Bengaluru,Job description Job Role : Data Scientist/Data...
13,Senior Data Scientist,nanobi data and analytics private limited,Bangalore/Bengaluru,Job description Job Role : Data Scientist/Data...
14,Sr. Data Scientist,VALIANCE ANALYTICS PRIVATE LIMITED,"Bangalore/Bengaluru, Delhi / NCR",Job description Job Role : Data Scientist/Data...
15,Senior Data Scientist,BankBazaar.com (A&A DUKAAN FINANCIAL SERVICES ...,Bangalore/Bengaluru,Job description Job Role : Data Scientist/Data...
16,Senior Associate/Team Lead - Data Scientist Co...,Analytics India Magazine,Bangalore/Bengaluru,Job description Job Role : Data Scientist/Data...
17,Senior Data Scientist,Gojek Tech,Bangalore/Bengaluru,Job description Job Role : Data Scientist/Data...
18,Data Scientist,Applied Materials,Bangalore/Bengaluru,Job description Job Role : Data Scientist/Data...
19,Hiring For Lead data Scientist For Bangalore l...,Societe Generale,Bangalore/Bengaluru,Job description Job Role : Data Scientist/Data...

In [49]:
result = jobs.drop(jobs.index[10:],axis = 0)
result

,Title,Company,Location,Full Description
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Job description Job Role : Data Scientist/Data...
1,"Senior Data Scientist, Modeling",Nielsen,"Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru...",Job description Job Role : Data Scientist/Data...
2,Big Data - Data Scientist,Xoriant Solutions Pvt Ltd,"Kochi/Cochin, Indore, Hyderabad/Secunderabad, ...",Job description Job Role : Data Scientist/Data...
3,Specialist I - Data Scientist,Philips India Limited,Bangalore/Bengaluru,Job description Job Role : Data Scientist/Data...
4,Data Scientist,IBM India Pvt. Limited,Bangalore/Bengaluru,Job description Job Role : Data Scientist/Data...
5,Lead Data Scientist,Intel Technology India Pvt Ltd,Bangalore/Bengaluru,Job description Job Role : Data Scientist/Data...
6,Data Scientist,Oracle India Pvt. Ltd.,Bangalore/Bengaluru,Job description Job Role : Data Scientist/Data...
7,SDE Lead Data Scientist-L3,Huawei Technologies India Pvt Ltd,Bangalore/Bengaluru,Job description Job Role : Data Scientist/Data...
8,Computational Design Lead Data Scientist-L3,Huawei Technologies India Pvt Ltd,Bangalore/Bengaluru,Job description Job Role : Data Scientist/Data...
9,Hiring For DATA Scientist - ON Contract Basis ...,GlobalEdx Learning and Technology Solution Pvt...,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...",Job description Job Role : Data Scientist/Data...

# Ques 3>  In this question you have to scrape data using the filters available on the webpage

In [50]:
url = 'https://www.naukri.com/'
driver.get(url)

In [51]:
#finding element for job search bar
search_job= driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [52]:
#write on search bar
search_job.send_keys("Data Scientist")

In [53]:
# do click using xpath function
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [54]:
#finding element for job location 
search_loc= driver.find_element_by_xpath("//label[@for='chk-Delhi / NCR-cityTypeGid-']/i")
# search_loc.is_selected()
search_loc.click()

In [55]:
#finding element for job salary 
search_salary= driver.find_element_by_xpath("//label[@for='chk-0-3 Lakhs-ctcFilter-']/i")
search_salary.click()

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//label[@for='chk-0-3 Lakhs-ctcFilter-']/i"}
  (Session info: chrome=90.0.4430.212)

We have to extract 4 things: 1> job titles 2>company name 3> location list 4>experince list

In [56]:
#Extracting all tags for job titles
titles_tags = driver.find_elements_by_xpath("//a[@class ='title fw500 ellipsis']")
titles_tags

[<selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="a8060c1b-894d-4bdc-883e-8bb0441c7c56")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="324d5ce2-4acd-438e-aab1-9824c341ede8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="961dee21-fe54-4ef8-889b-5b045627c8d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="e51dcc60-dcea-4fae-ac11-14ff89526388")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="2330cca9-2093-4bcd-9c0c-5ee9fdbf2434")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="b39eb8aa-936c-4116-a693-f6033b1b731a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="219b6721-1cf5-49af-8bd7-d357cb96e683")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="d928287c-6f4e-49b3-a9cc-99c9f1371681")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="6cc7cb4b-f5ff-42bd-a08f-fe6890ad0e62")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="c7019106-217d-4b2b-aa0c-d8323fb72081")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="30148642-3c0f-45ed-b40f-58cde5a07f8f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="cf1f8ee0-7f9a-4d74-ad9d-5468d10fbad5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="b30641d9-9f22-4507-90a7-bca001f58849")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="0c1dc9d7-da71-4560-be8c-ebf661091ec8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="b8365d72-4e0d-4cba-80ba-18acb50cea3b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="b334735d-616a-4824-b57a-f36bc9bd1abc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="379b9212-1597-4769-9599-9ecfcc86e7b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="a23e9986-60b6-4731-b8d0-410bfff083b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="e6754708-d8ad-4148-9a0a-4217b109a700")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="50f732e1-e129-4f3a-af46-837897f38c16")>]

In [57]:
# will extract the text from the tags.
#so will run the loop to iterate over the tags extracted above and extract the text inside them.
job_titles=[]
for i in titles_tags:
    job_titles.append(i.text)
job_titles

['Data Scientist / Data Analyst -Business Analyst',
 'Senior Data Scientist, Modeling',
 'Senior Data Scientist',
 'Sr. Data Scientist - AutoML',
 'Data Engineer/Data Scientist/Data Analysis',
 'Data Engineer/Data Scientist/Data Analysis',
 'Data Scientist',
 'Business Analyst- Data Scientist',
 'Sr. Data Scientist',
 'Data Scientist - High growth VC backed Influencer Marketplace',
 'Senior data scientist',
 'Senior Data Scientist - Mobile Application',
 'Data Scientist',
 'Data Scientist For an AI Product (Work from Home)',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Driveline Data Scientist',
 'DATA Scientist – Gurgaon (Exp 3-6 years)']

In [58]:
#Extracting all tags for Company Name
company_names_tags = driver.find_elements_by_xpath("//a[@class ='subTitle ellipsis fleft']")
company_names_tags

[<selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="ffb6f5ec-4865-40dd-afa5-0566ba6fcc48")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="ef890bf6-16a4-439d-b9bd-a7d5c5c83b07")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="01b1d526-1a72-4b08-a949-191013e1b970")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="a86c5b89-2cc5-479b-8be6-fb62d30a0525")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="674f4479-0de9-4538-b0ab-8b3556b25b1b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="3df68e62-67b8-4a0c-85a6-c327cf71b475")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="8f0936b9-b83e-4264-8421-1b8c76645b7e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="7f479a9b-bee6-4417-8fb4-bc773ea861fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="5750e082-b7c1-425b-90a9-5e8a90b28a2e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="06506cfa-6697-41cb-bddf-b17d90915e18")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="f6c5c887-cdf6-4122-b871-4a5fc2f106e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="0ebd5346-4614-471b-91d6-45306f1278e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="b6ad0520-e040-4aa2-be12-a93505bd59a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="6b8fc603-9783-48c6-b2dc-505478e337fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="93e64972-8978-49da-a57b-2fc63f3f24db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="fd525847-4ac5-4d6d-be14-aac0c8438235")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="7422001c-4e0d-448c-85b0-38df22551a27")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="ef723042-0c57-4ddd-888e-f797516ed822")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="0c62f341-66e7-4dec-a879-621467e9ea8f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="0d056f78-bad0-430e-86b0-bbeacfe22f5e")>]

In [59]:
# will extract the text from the tags.
#so will run the loop to iterate over the tags extracted above and extract the text inside them.
job_company_names=[]
for i in company_names_tags:
    job_company_names.append(i.text)
job_company_names

['Inflexion Analytix Private Limited',
 'Nielsen',
 'Decision Point',
 'TransOrg Analytics',
 'NIFTEL COMMUNICATIONS PRIVATE LIMITED',
 'NIFTEL COMMUNICATIONS PRIVATE LIMITED',
 'TransOrg Analytics',
 'Wipro',
 'VALIANCE ANALYTICS PRIVATE LIMITED',
 'Ravgins International Pvt. Ltd.',
 'Cardekho.com',
 'HOME CREDIT INDIA FINANCE PRIVATE LIMITED',
 'Burgeon IT Services Pvt ltd',
 'Biz HR IT Solutions',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'Mobikwik',
 'Webhelp India Private Limited',
 'CNH Industrial India Pvt. Ltd',
 'CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVATE L IMITED']

In [60]:
#Extracting all tags for Experience
experiences_tags = driver.find_elements_by_xpath("//li[@class ='fleft grey-text br2 placeHolderLi experience']//span")
experiences_tags

[<selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="8984c692-3e03-4708-8bb7-77bca1f87faf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="35f44dcb-2771-4f59-9226-a15ece259da8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="f2a28dc6-19aa-4d0e-b082-893ec3ad0c57")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="f7ab959e-f41c-4b44-af74-da4cf9f7d47c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="c78b0f40-4214-4083-8d55-6b972a5b0a8b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="66ca93f8-fd1b-4399-afbf-a3a3ce095a88")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="e1e0d79a-85d9-4e03-aee9-adc020ce0d07")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="36f5f699-5fba-45d8-8ab9-3e6438866d70")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="94101212-cf91-49ed-99b2-429e36d6c87c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="f9332eb7-76f6-491b-8e98-0c603fbab599")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="48ff4696-c6c4-468f-bdd9-9962fbd78878")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="ff0fe511-4cea-4752-978d-1013249b2b79")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="a25d7f85-b54d-437f-9891-f066ad2057f6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="4d32f8bd-8010-48e3-ac7b-a345336ea01b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="329328da-7891-42ff-9c2b-cdfbb26022b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="67187f02-68a4-4eb1-b51d-3e7430cfb802")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="e6be0041-22b8-4912-806e-d75b6a78093d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="a411d85d-bec5-497f-a647-4a53e1abe7a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="153f3bdf-fca1-4553-88b6-842d6e3e6d46")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="8a9eba00-6ce3-4ea8-b779-2b971eca2ac1")>]

In [61]:
# will extract the text from the tags.
#so will run the loop to iterate over the tags extracted above and extract the text inside them.
job_experiences=[]
for i in experiences_tags:
    job_experiences.append(i.text)
job_experiences

['0-3 Yrs',
 '3-7 Yrs',
 '3-6 Yrs',
 '5-8 Yrs',
 '3-8 Yrs',
 '3-8 Yrs',
 '3-6 Yrs',
 '2-5 Yrs',
 '6-8 Yrs',
 '3-5 Yrs',
 '3-6 Yrs',
 '4-9 Yrs',
 '6-11 Yrs',
 '3-5 Yrs',
 '3-8 Yrs',
 '3-8 Yrs',
 '3-5 Yrs',
 '2-7 Yrs',
 '5-10 Yrs',
 '3-6 Yrs']

In [62]:
#Extracting all tags for Location
locations_tags = driver.find_elements_by_xpath("//li[@class ='fleft grey-text br2 placeHolderLi location']//span")
locations_tags

[<selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="7b4bfb5a-6ed2-4718-80d9-21b8a1dda5fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="66434188-ae18-4528-83af-a37d7ba2028d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="4738aafd-1107-4451-8fd6-ea408ca55640")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="4f11b239-faef-4179-8de9-9f1cb68cae44")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="ccbba04c-1bb3-441c-886e-0467ba0a416b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="b144a2c6-6c87-4b17-8365-9d20ed6a8493")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="d0f16529-2ec4-47c9-a9ad-60ba6e8ce84a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="a8278d56-5d6b-4b23-8c3e-74e71b52e926")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="0fc3e9ca-3d5f-4988-8a2a-a813297a4ae5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="7f42148f-7d14-4a7a-bcc3-f7f0ffe5d053")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="7d57f9f7-a4ad-4506-8f87-73e7b76fe305")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="a3888ae0-78cb-4f72-b678-94a39b363d68")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="95474d43-f8ea-4d32-a6f2-d53657480217")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="0dd08c68-7b90-4698-8737-cac9cd1c3398")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="e2913919-2cdc-40d6-876f-ac52d17ffede")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="41174599-751a-411f-8f4b-b538f0f6d281")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="5461c66e-d953-4f58-91ee-339e772606db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="33ba7f91-93c5-4681-9719-b94390155e90")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="6b8a0a28-c00b-44b9-83d1-7fa9cdcf2264")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="737ef8d9-c513-4b7e-a877-5f5a74c1c428")>]

In [63]:
# will extract the text from the tags.
#so will run the loop to iterate over the tags extracted above and extract the text inside them.
job_locations=[]
for i in locations_tags:
    job_locations.append(i.text)
job_locations

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru, Vadodara, Mumbai (All Areas)',
 'Gurgaon/Gurugram, Chennai',
 'Gurgaon/Gurugram',
 'Noida, Chandigarh, Indore, Gurgaon/Gurugram, Ahmedabad, Jaipur, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Noida, Chandigarh, Indore, Gurgaon/Gurugram, Ahmedabad, Jaipur, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Mumbai, Gurgaon/Gurugram',
 'Noida, Gurgaon/Gurugram',
 'Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'New Delhi, Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon/Gurugram, Delhi / NCR']

In [64]:
# will check number of data extracted
print(len(job_titles),len(job_company_names),len(job_experiences),len(job_locations))
# print(len(job_titles),len(job_company_names),len(job_experiences),len(job_locations),len(job_urls)

20 20 20 20

In [65]:
# create dataframe
import pandas as pd

jobs = pd.DataFrame({})
jobs['Title'] = job_titles
jobs['Company'] = job_company_names
jobs['Experience_required'] = job_experiences
jobs['Location'] = job_locations
# jobs['Url']=job_urls

In [66]:
jobs

,Title,Company,Experience_required,Location
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,0-3 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/..."
1,"Senior Data Scientist, Modeling",Nielsen,3-7 Yrs,"Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru..."
2,Senior Data Scientist,Decision Point,3-6 Yrs,"Gurgaon/Gurugram, Chennai"
3,Sr. Data Scientist - AutoML,TransOrg Analytics,5-8 Yrs,Gurgaon/Gurugram
4,Data Engineer/Data Scientist/Data Analysis,NIFTEL COMMUNICATIONS PRIVATE LIMITED,3-8 Yrs,"Noida, Chandigarh, Indore, Gurgaon/Gurugram, A..."
5,Data Engineer/Data Scientist/Data Analysis,NIFTEL COMMUNICATIONS PRIVATE LIMITED,3-8 Yrs,"Noida, Chandigarh, Indore, Gurgaon/Gurugram, A..."
6,Data Scientist,TransOrg Analytics,3-6 Yrs,"Mumbai, Gurgaon/Gurugram"
7,Business Analyst- Data Scientist,Wipro,2-5 Yrs,"Noida, Gurgaon/Gurugram"
8,Sr. Data Scientist,VALIANCE ANALYTICS PRIVATE LIMITED,6-8 Yrs,"Bangalore/Bengaluru, Delhi / NCR"
9,Data Scientist - High growth VC backed Influen...,Ravgins International Pvt. Ltd.,3-5 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
10,Senior data scientist,Cardekho.com,3-6 Yrs,Gurgaon/Gurugram
11,Senior Data Scientist - Mobile Application,HOME CREDIT INDIA FINANCE PRIVATE LIMITED,4-9 Yrs,Gurgaon/Gurugram
12,Data Scientist,Burgeon IT Services Pvt ltd,6-11 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,..."
13,Data Scientist For an AI Product (Work from Home),Biz HR IT Solutions,3-5 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai..."
14,Data Scientist,Mount Talent Consulting Private Limited,3-8 Yrs,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru"
15,Data Scientist,Mount Talent Consulting Private Limited,3-8 Yrs,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru"
16,Data Scientist,Mobikwik,3-5 Yrs,"New Delhi, Gurgaon/Gurugram, Delhi / NCR"
17,Data Scientist,Webhelp India Private Limited,2-7 Yrs,Gurgaon/Gurugram
18,Driveline Data Scientist,CNH Industrial India Pvt. Ltd,5-10 Yrs,"Gurgaon/Gurugram, Delhi / NCR"
19,DATA Scientist – Gurgaon (Exp 3-6 years),CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,3-6 Yrs,"Gurgaon/Gurugram, Delhi / NCR"

In [67]:
result = jobs.drop(jobs.index[10:],axis = 0)
result

,Title,Company,Experience_required,Location
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,0-3 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/..."
1,"Senior Data Scientist, Modeling",Nielsen,3-7 Yrs,"Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru..."
2,Senior Data Scientist,Decision Point,3-6 Yrs,"Gurgaon/Gurugram, Chennai"
3,Sr. Data Scientist - AutoML,TransOrg Analytics,5-8 Yrs,Gurgaon/Gurugram
4,Data Engineer/Data Scientist/Data Analysis,NIFTEL COMMUNICATIONS PRIVATE LIMITED,3-8 Yrs,"Noida, Chandigarh, Indore, Gurgaon/Gurugram, A..."
5,Data Engineer/Data Scientist/Data Analysis,NIFTEL COMMUNICATIONS PRIVATE LIMITED,3-8 Yrs,"Noida, Chandigarh, Indore, Gurgaon/Gurugram, A..."
6,Data Scientist,TransOrg Analytics,3-6 Yrs,"Mumbai, Gurgaon/Gurugram"
7,Business Analyst- Data Scientist,Wipro,2-5 Yrs,"Noida, Gurgaon/Gurugram"
8,Sr. Data Scientist,VALIANCE ANALYTICS PRIVATE LIMITED,6-8 Yrs,"Bangalore/Bengaluru, Delhi / NCR"
9,Data Scientist - High growth VC backed Influen...,Ravgins International Pvt. Ltd.,3-5 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."

# Ques 4>Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [68]:
url = 'https://www.glassdoor.co.in/index.htm'
driver.get(url)

In [69]:
#finding element for job search bar
search_job= driver.find_element_by_id("sc.keyword")
search_job

In [70]:
# search_job.clear()

In [71]:
search_job.send_keys("Data Scientist")

In [72]:
#finding element for job location bar
search_loc= driver.find_element_by_id("sc.location")
search_loc

In [76]:
#write on location bar
#search_loc.clear()
search_loc.send_keys("Noida")
time.sleep(5)

In [77]:
# do click using xpath function
search_btn = driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']")
search_btn.click()

We have to extract 3 things: 1>company name 2> No of Days Ago 3>Rating of the Company

In [79]:
#Extracting all tags for Company Name
company_names_tags = driver.find_elements_by_xpath("//a[@class =' css-l2wjgv e1n63ojh0 jobLink']//span")
company_names_tags

[<selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="cef19b68-6d5b-4026-9111-aea0ae92e56b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="0c835446-a09c-425f-bf81-02b57ff1682c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="afed1567-b1cc-4aa2-8ed9-abe85efba1c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="f1dc1921-93bb-4a83-97ec-5a927d5b33d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="c437c121-108c-40cd-a070-97cd396a495d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="43175bda-a39c-49aa-a6eb-97e96748bc12")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="c82b6465-70c7-4883-aab6-9dd31adab6fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="6fe87863-df30-407b-b4cb-3c3c595d930e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="8dc029ee-a665-4e57-af29-ef9a6b5961e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="1a979807-b7ac-4079-bdd7-f90bc242ac3a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="c04a5e20-d061-4e3e-abc3-16010664caec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="467e1c9d-1c5a-4dfa-b2e3-ab0823e7b2ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="5915d0a2-dbdc-41d8-88db-8213aeede102")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="ba7795b1-0eac-480e-b309-13d8e64e4106")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="6054932c-cb62-4487-a2fb-519b61e930d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="596dca07-22e8-492a-be50-2bf1f22d5097")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="182c37eb-d250-4d2b-b27a-466348a23697")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="7971a8d3-7a10-4757-bb70-9247bc12678c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="198af9a4-4e24-4fa1-ba49-4d7c811241d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="03509f41-175c-46c3-b61d-9ca2a0c0bd06")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="c958f616-1156-4c0a-a80c-caa589b71bba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="906bf37a-9e83-45da-8e8c-713f229109ca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="132005b1-7d88-463b-b828-463139e0a536")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="4e843600-c38b-437a-b0e4-0b23992e3e35")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="60282abd-41de-4347-8f08-ab864e7cbd74")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="aa19602f-d842-4d28-abad-4685f7a10c56")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="dbc6b21f-ac74-4f33-b486-5c2991e7c3d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="463f0f46-ac92-4853-91e7-c3d2deaf97d6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="246dd13c-eb0b-49be-b9bb-5e303f3ee700")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="faffd29c-ab4e-4f43-b73b-02cf4c1217c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="c6c3c8bb-b054-49f9-aa6d-569aed139f70")>]

In [80]:
# will extract the text from the tags.
#so will run the loop to iterate over the tags extracted above and extract the text inside them.
job_company_names=[]
for i in company_names_tags:
    job_company_names.append(i.text)
job_company_names

['Bechtel',
 'Lantern Digital Services',
 'Ericsson',
 'Boston Consulting Group',
 'Sparkbpl',
 'Techlive',
 'Gauge Data Solutions',
 'Priority Vendor',
 'Biz2Credit Inc',
 'Skyjobs hr services',
 'Mansha Solutions',
 'MasterCard',
 'SearchUrCollege',
 'xtLytics',
 'WishFin',
 'Siemens Technology and Services Private Limited',
 'Fitfyles',
 'IHS Markit',
 'Team Computers',
 'Mahajan Imaging',
 'Webhelp',
 'Ank Aha',
 'Transorg Analytics',
 'Profisor Services',
 'Sentieo',
 'Saffron Consultancy Services',
 'Analytics Vidhya',
 'Futures and Careers',
 'Nihilent',
 'ESRI, Inc.',
 'Axslogic']

In [81]:
#Extracting all tags for number of days ago when job were posted
post_days_tags = driver.find_elements_by_xpath("//div[@class ='d-flex align-items-end pl-std css-mi55ob']")
post_days_tags

[<selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="221c3284-d29a-4915-8b21-2cf9c90f20d7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="1e6d8ee9-76d7-4c6b-875a-97a59d5bb623")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="4a24e5a6-eed4-414e-99ee-e388c7928cf0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="abd29389-7437-4413-8fdc-2178c5039b59")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="af909863-2d98-461d-a6d4-a87e31c1a368")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="64912500-b3b0-4e14-b9a0-2a3192b2abe1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="0095a203-f16b-4cd6-b57e-86365e45de4e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="b28c856d-8861-49e8-bed5-3e01ea1a93a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="e24fc81f-dfbd-44e4-91e0-7f1458abf83f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="3f9288e4-b104-45ff-895a-8eb670e2d098")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="67026b38-53ff-415b-97b1-d2fa92e3c1d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="0194a532-13cf-4c30-99f1-08f8a06a0264")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="768d8aea-0207-442d-bf32-7b90e6895d9e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="4db92cb3-018c-4b51-b643-546b192b0c6a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="7a61b422-186b-4d61-a23a-3c710ed002fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="748bc4f3-920a-4519-bc75-371ca5fbc253")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="e07e3051-2c96-41c7-b0a4-952c5ab6e381")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="54513339-5f87-4baa-b74d-844110e7efb6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="a10d06e5-8fbf-4123-b63c-b4cdd7231f40")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="2f3bd779-db85-4e7c-9132-21fab1bc68c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="45699637-6bc9-4e1a-bc63-68726a11a478")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="8d91404a-63bb-468a-8282-8ef3d911dbe1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="c4ccd553-b504-4769-afc6-3706bd7047f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="077e06b0-2a65-4826-852f-1c561d3d3c06")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="84d4ceb8-9f84-487b-bcb0-b017f5c5f4c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="c70a42fc-727e-488d-b4fc-900bb76400ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="a72eabf4-9268-4513-848d-f1cad69393cb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="0f4f10a9-cd09-46e3-a3ab-7bbf926de29e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="46a9d00d-5248-4ff7-9ea5-3baf15d2d862")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="70c1c73a-9ad6-44bd-9b26-b8b36a87cf4d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="217f38c8-9ecf-478b-a81f-10756793e39a")>]

In [82]:
# will extract the text from the tags.
#so will run the loop to iterate over the tags extracted above and extract the text inside them.
job_post_days=[]
for i in post_days_tags:
    job_post_days.append(i.text)
job_post_days

['17d',
 '8d',
 '15d',
 '1d',
 '14d',
 '21d',
 '14d',
 '14d',
 '23d',
 '7d',
 '10d',
 '23d',
 '14d',
 '1d',
 '25d',
 '2d',
 '14d',
 '1d',
 '2d',
 '14d',
 '8d',
 '14d',
 '3d',
 '14d',
 '16d',
 '14d',
 '14d',
 '26d',
 '23d',
 '23d',
 '12d']

In [83]:
#Extracting all tags for Rating of company
ratings_tags = driver.find_elements_by_xpath("//span[@class ='css-19pjha7 e1cjmv6j1']")
ratings_tags

[<selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="2cc69f19-686a-4ac6-aa40-9c8f24c5ef34")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="5b8149d5-3510-476e-978d-dbca692dc22b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="77a92181-d2eb-41d0-bb42-77e10dbbd9a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="4a302f71-f8ac-4b10-a3bc-40f148aea163")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="e8610d1c-1a04-41e1-ad1f-475872d73383")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="b710e8f3-0aec-4ee2-ad38-d0149bb732ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="eb61712d-320a-47c3-bab1-80777c888081")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="3d6c21eb-a463-4d1f-8bf4-4b0b55083441")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="199de281-763f-4302-b4af-932504f40bd8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="6f1c3ce0-d827-4350-a178-4c69a46d3e83")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="94bd8d42-490d-411a-ab27-c7b89c1e7c69")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="21dea377-8ca2-4c65-a87f-134d71ed3f6b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="65a69cb7-9a51-457f-96c5-b71ad4bf4f5e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="b70e5e70-d084-4018-a5e0-1b2ab371a7d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="438ca352-473d-4770-9a1f-f03f2db7fa64")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="6fc5fb05-75c4-4d72-a3b8-32260b542b56")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="0b438a64-a429-442b-92fa-40def683d75b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="84819299-eae9-409a-b943-bf8674a4e215")>]

In [84]:
# will extract the text from the tags.
#so will run the loop to iterate over the tags extracted above and extract the text inside them.
job_ratings=[]
for i in ratings_tags:
    job_ratings.append(i.text)
job_ratings

['4.0',
 '4.1',
 '4.1',
 '5.0',
 '3.1',
 '3.7',
 '3.8',
 '3.8',
 '4.1',
 '4.1',
 '4.1',
 '4.0',
 '4.0',
 '2.3',
 '4.5',
 '3.7',
 '3.6',
 '4.3']

In [85]:
# will check number of data extracted
print(len(job_company_names),len(job_post_days),len(job_ratings))

31 31 18

In [86]:
# in list type. not in string so no need for eval()
import pandas as pd

df1 = pd.DataFrame(job_company_names,columns=['Company Name'])
df1

                                       Company Name
0                                           Bechtel
1                          Lantern Digital Services
2                                          Ericsson
3                           Boston Consulting Group
4                                          Sparkbpl
5                                          Techlive
6                              Gauge Data Solutions
7                                   Priority Vendor
8                                    Biz2Credit Inc
9                               Skyjobs hr services
10                                 Mansha Solutions
11                                       MasterCard
12                                  SearchUrCollege
13                                         xtLytics
14                                          WishFin
15  Siemens Technology and Services Private Limited
16                                         Fitfyles
17                                       IHS Markit
18                                   Team Computers
19                                  Mahajan Imaging
20                                          Webhelp
21                                          Ank Aha
22                               Transorg Analytics
23                                Profisor Services
24                                          Sentieo
25                     Saffron Consultancy Services
26                                 Analytics Vidhya
27                              Futures and Careers
28                                         Nihilent
29                                       ESRI, Inc.
30                                         Axslogic

In [87]:
df2 = pd.DataFrame(job_post_days,columns=['Number of days ago when job was posted'])
df2

   Number of days ago when job was posted
0                                     17d
1                                      8d
2                                     15d
3                                      1d
4                                     14d
5                                     21d
6                                     14d
7                                     14d
8                                     23d
9                                      7d
10                                    10d
11                                    23d
12                                    14d
13                                     1d
14                                    25d
15                                     2d
16                                    14d
17                                     1d
18                                     2d
19                                    14d
20                                     8d
21                                    14d
22                                     3d
23                                    14d
24                                    16d
25                                    14d
26                                    14d
27                                    26d
28                                    23d
29                                    23d
30                                    12d

In [88]:
df3 = pd.DataFrame(job_ratings,columns=['Rating of Company'])
df3

   Rating of Company
0                4.0
1                4.1
2                4.1
3                5.0
4                3.1
5                3.7
6                3.8
7                3.8
8                4.1
9                4.1
10               4.1
11               4.0
12               4.0
13               2.3
14               4.5
15               3.7
16               3.6
17               4.3

In [89]:
result = pd.concat([df1, df2], axis=1, join='inner')
result

,Company Name,Number of days ago when job was posted
0,Bechtel,17d
1,Lantern Digital Services,8d
2,Ericsson,15d
3,Boston Consulting Group,1d
4,Sparkbpl,14d
5,Techlive,21d
6,Gauge Data Solutions,14d
7,Priority Vendor,14d
8,Biz2Credit Inc,23d
9,Skyjobs hr services,7d
10,Mansha Solutions,10d
11,MasterCard,23d
12,SearchUrCollege,14d
13,xtLytics,1d
14,WishFin,25d
15,Siemens Technology and Services Private Limited,2d
16,Fitfyles,14d
17,IHS Markit,1d
18,Team Computers,2d
19,Mahajan Imaging,14d
20,Webhelp,8d
21,Ank Aha,14d
22,Transorg Analytics,3d
23,Profisor Services,14d
24,Sentieo,16d
25,Saffron Consultancy Services,14d
26,Analytics Vidhya,14d
27,Futures and Careers,26d
28,Nihilent,23d
29,"ESRI, Inc.",23d
30,Axslogic,12d

In [90]:
result = pd.concat([result, df3], axis=1, join='inner')
result

,Company Name,Number of days ago when job was posted,Rating of Company
0,Bechtel,17d,4.0
1,Lantern Digital Services,8d,4.1
2,Ericsson,15d,4.1
3,Boston Consulting Group,1d,5.0
4,Sparkbpl,14d,3.1
5,Techlive,21d,3.7
6,Gauge Data Solutions,14d,3.8
7,Priority Vendor,14d,3.8
8,Biz2Credit Inc,23d,4.1
9,Skyjobs hr services,7d,4.1
10,Mansha Solutions,10d,4.1
11,MasterCard,23d,4.0
12,SearchUrCollege,14d,4.0
13,xtLytics,1d,2.3
14,WishFin,25d,4.5
15,Siemens Technology and Services Private Limited,2d,3.7
16,Fitfyles,14d,3.6
17,IHS Markit,1d,4.3

In [91]:
result = jobs.drop(jobs.index[10:],axis = 0)
result

,Title,Company,Experience_required,Location
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,0-3 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/..."
1,"Senior Data Scientist, Modeling",Nielsen,3-7 Yrs,"Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru..."
2,Senior Data Scientist,Decision Point,3-6 Yrs,"Gurgaon/Gurugram, Chennai"
3,Sr. Data Scientist - AutoML,TransOrg Analytics,5-8 Yrs,Gurgaon/Gurugram
4,Data Engineer/Data Scientist/Data Analysis,NIFTEL COMMUNICATIONS PRIVATE LIMITED,3-8 Yrs,"Noida, Chandigarh, Indore, Gurgaon/Gurugram, A..."
5,Data Engineer/Data Scientist/Data Analysis,NIFTEL COMMUNICATIONS PRIVATE LIMITED,3-8 Yrs,"Noida, Chandigarh, Indore, Gurgaon/Gurugram, A..."
6,Data Scientist,TransOrg Analytics,3-6 Yrs,"Mumbai, Gurgaon/Gurugram"
7,Business Analyst- Data Scientist,Wipro,2-5 Yrs,"Noida, Gurgaon/Gurugram"
8,Sr. Data Scientist,VALIANCE ANALYTICS PRIVATE LIMITED,6-8 Yrs,"Bangalore/Bengaluru, Delhi / NCR"
9,Data Scientist - High growth VC backed Influen...,Ravgins International Pvt. Ltd.,3-5 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."

# Ques 5> Write a python program to scrape the salary data for Data Scientist designation in Noida location.

In [92]:
url = 'https://www.glassdoor.co.in/Salaries/index.htm'
driver.get(url)

In [93]:
#finding element for job search bar
search_job= driver.find_element_by_id('KeywordSearch')
search_job

In [94]:
#write on search bar
search_job.clear()
search_job.send_keys("Data Scientist")

In [95]:
#finding element for job location bar
search_loc= driver.find_element_by_id('LocationSearch')

In [96]:
search_loc.clear()

In [97]:
import time
#write on location bar
search_loc.send_keys("Noida")
time.sleep(5)

In [98]:
# do click using xpath function
search_btn = driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
search_btn.click()

We have to extract 4 things: 1> Company Name 2>Number of Salaries 3> Average Salary  4>Min Salary 5> Max Salary

In [99]:
#Extracting all tags for Company Name
company_names_tags = driver.find_elements_by_xpath("//p[@class ='m-0 ']")
company_names_tags

[<selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="a524385c-ca8e-4da3-9c16-26d8eb333311")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="eafbf9e4-26d4-4866-bba0-c6483787fc7a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="d6dfb7ab-2dd2-4029-b837-661d507cff93")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="97cac339-ab45-4293-8d68-5acbd858af7a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="f48d3e57-31ca-45c5-a7c3-906b2bedf01e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="e9a9eddb-fdb2-4130-b32a-7ee03c08f51d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="782e579f-88f8-4c8c-a4a6-610737bd3d44")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="4d931ac9-8248-4f51-898b-8349302e570e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="15738f6e-f27e-45fe-b4d0-9eef44eba0d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="74bf5072-1728-465b-bdf3-cb7aaaecc9e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="e748b55d-ceb9-4dd3-9bb5-d8a43016475f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="41f375d3-60df-420d-b7c4-4fb35948aa28")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="2d455c9f-6869-41f5-a769-c688805bbe81")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="dd0061f0-afcd-455e-8167-25c457117212")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="6281aeb6-2591-4501-9c8e-b9d18428fd91")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="16a56b0d-0d53-4c4b-896f-a0087eee0758")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="f75fa691-0c47-41e2-991f-2644bbb51251")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="6f1b4702-50f6-4f88-b0b2-388b06a7e711")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="f1f0d6b1-043e-40ec-b52b-1d7fb47be328")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="4e2f5dbd-e3d8-449f-b49a-5d6dd26ce181")>]

In [100]:
# will extract the text from the tags.
#so will run the loop to iterate over the tags extracted above and extract the text inside them.
job_company_names=[]
for i in company_names_tags:
    job_company_names.append(i.text)
job_company_names

['Tata Consultancy Services',
 'Accenture',
 'IBM',
 'Ericsson-Worldwide',
 'Delhivery',
 'UnitedHealth Group',
 'Valiance Solutions',
 'ZS Associates',
 'EXL Service',
 'Optum Global Solutions',
 'Innovaccer',
 'Cognizant Technology Solutions',
 'Optum',
 'Tech Mahindra',
 'OYO',
 'Nagarro',
 'dunnhumby',
 'Vidooly Media Tech',
 'Algo8.ai',
 'Amazon']

In [108]:
#Extracting all tags for Number of salary
no_of_sals_tags = driver.find_elements_by_xpath("//p[@class ='css-1uyte9r css-1kuy7z7 m-0 ']")
no_of_sals_tags

[<selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="06bb45ce-0093-446e-8146-7d34b113b5ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="49f5598b-0986-4761-96dc-6e36d4f93822")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="26f1a4a7-bac4-4f03-9b17-1aa5b12a750f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="23dd376b-55ef-44c8-9d9a-da8e957accf6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="7f1f5d63-19c3-4cc5-9375-9845fa650237")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="717dd95a-8e9e-4152-aa45-56e5568fc808")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="6100a574-158e-4f23-92d4-527df69f05cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="914e891b-5203-4f5c-876c-19d2cdfaed99")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="1b456667-88d8-44f5-93aa-3ab77dd22192")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="f7a997ab-a523-471f-b3f1-0cc8e558651d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="93c8b674-873c-4149-90ad-14e5c6de2d6b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="55fab296-f328-406f-979e-9388d23dbbfa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="677e07f9-2019-4ebd-98cc-e8f290000687")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="dd0e8dbb-d2d7-4ba6-b5fb-178471305950")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="241bd11c-93ce-42ed-ad26-983119dc8e05")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="6c985fff-683f-4f30-97fd-39b2f6853a47")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="3c3ffe8e-f6d4-4b5c-b688-57b5a09aedee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="d68f6bc0-d310-4dae-ae2b-40d02bac8619")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="4fea5ac7-4add-46ed-a4c6-c8a42cd1b710")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="d7e70f1a-da70-44e0-939d-1f9c9abf5d67")>]

In [109]:
# will extract the text from the tags.
#so will run the loop to iterate over the tags extracted above and extract the text inside them.
job_no_of_sals=[]
for i in no_of_sals_tags:
    job_no_of_sals.append(i.text)
job_no_of_sals

['17 salaries',
 '14 salaries',
 '14 salaries',
 '14 salaries',
 '14 salaries',
 '11 salaries',
 '9 salaries',
 '8 salaries',
 '8 salaries',
 '8 salaries',
 '8 salaries',
 '6 salaries',
 '6 salaries',
 '5 salaries',
 '5 salaries',
 '5 salaries',
 '5 salaries',
 '5 salaries',
 '5 salaries',
 '4 salaries']

In [110]:
#Extracting all tags for Average Salary
avg_sals_tags = driver.find_elements_by_xpath("//p[@class ='d-block d-md-none m-0']")
avg_sals_tags

[<selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="09ca1f1a-d98d-426e-8c7d-62544bc88bd8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="8b129563-e679-448c-a40c-c3af25220222")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="2fe1a89c-bc24-41af-a3a7-c84cd162b915")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="407df96c-46c7-4b5d-b69b-bc1044043aa2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="51e3798a-1860-47ca-ae14-20745fc23791")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="76c0a9f0-3c23-4743-add9-cb91946ea617")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="86a12cd9-069f-427e-b1c3-9f488d44f0f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="bbd330aa-c592-4c44-be99-4b47f4ef0dbe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="3c4c0c5f-9b79-464b-9a09-7208ef9507df")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="305155df-cc79-4623-a817-03d30cecafe9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="80c56110-c3a1-4dd6-baca-eabe7df12fd2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="bc35fb98-536e-4769-946d-5d29a14ee9f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="041d9b9c-67f7-4e0a-94c3-3787369263dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="3b0314d6-8f77-4567-a562-f43609020d61")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="308cb5bf-6556-4b02-aadd-bd9762a67746")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="562c37e8-95d8-4278-b26e-1c4ac47d4907")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="8b269e1f-efe0-4613-bc35-4d9616c7f3ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="4e7001ce-f730-4fe0-a0fa-95c75d163904")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="a4cccd63-61ae-40e4-b79c-6c42627cacd6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="03f8df1c-e34d-40b2-9765-518dd4ab5ae7")>]

In [111]:
# will extract the text from the tags.
#so will run the loop to iterate over the tags extracted above and extract the text inside them.
job_avg_sals=[]
for i in avg_sals_tags:
    job_avg_sals.append(i.text)
job_avg_sals

['₹ 6,14,306/yr',
 '₹ 11,46,533/yr',
 '₹ 8,97,795/yr',
 '₹ 7,38,057/yr',
 '₹ 12,39,781/yr',
 '₹ 13,36,142/yr',
 '₹ 8,15,192/yr',
 '₹ 11,35,221/yr',
 '₹ 11,44,243/yr',
 '₹ 14,13,288/yr',
 '₹ 12,07,110/yr',
 '₹ 10,07,410/yr',
 '₹ 13,18,851/yr',
 '₹ 10,52,718/yr',
 '₹ 14,13,078/yr',
 '₹ 9,61,653/yr',
 '₹ 11,00,000/yr',
 '₹ 15,887/mo',
 '₹ 6,75,000/yr',
 '₹ 15,00,000/yr']

In [121]:
#Extracting all tags for Minimum Salary
min_sals_tags = driver.find_elements_by_xpath("//div[@class ='common__RangeBarStyle__values d-flex justify-content-between ']//span[1]")
min_sals_tags

[<selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="57c00c51-e4aa-494d-a9c3-361033b5c89f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="cd38d0c9-03ea-4453-8e39-b5b1329a1ca3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="178429a2-f863-4ab1-a2b3-e52fbae66541")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="dce46553-846c-4a50-8e8f-17c4e5deac3a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="8648927d-fe78-48de-8f24-7258465e78da")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="8bce65c5-99c9-46ea-9f1b-9901c1239e73")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="66129b5f-d2a3-43b6-a137-0f9bd5f78b72")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="30a53e17-db62-4651-921d-a241191f6f89")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="bd58bb20-0cf9-4c0b-bd35-798756930f20")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="98144274-179e-4164-9650-e9acf0bac1fa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="1fdb66b0-ef01-4dcf-a52e-c70f12f9e762")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="18bd1efb-7e92-4be4-9a4b-37fe392b4446")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="0fb02fd0-2a58-4058-82bf-2abb8b952baa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="a6205fb1-23e2-47dc-bbfe-7065625c6d00")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="03f5b1fe-1fd9-44a2-93c5-d343ad82c8a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="bf4a990f-2ecd-48c5-9d52-7b14b053fdf8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="b89b042f-fff5-4c88-a6f0-f92aea95d0de")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="334fdd59-5f7a-4186-bcdb-78d92a266101")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="58d52a85-ba92-489b-b7ed-a1a614879999")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="8dada7f4-0a09-4373-af80-312e28aeb42d")>]

In [122]:
# will extract the text from the tags.
#so will run the loop to iterate over the tags extracted above and extract the text inside them.
job_min_sals=[]
for i in min_sals_tags:
    job_min_sals.append(i.text)
job_min_sals

['₹343K',
 '₹577K',
 '₹586K',
 '₹355K',
 '₹450K',
 '₹1,069K',
 '₹502K',
 '₹202K',
 '₹575K',
 '₹1,014K',
 '₹620K',
 '₹792K',
 '₹807K',
 '₹405K',
 '₹971K',
 '₹400K',
 '₹817K',
 '₹12K',
 '₹86K',
 '₹772K']

In [123]:
#Extracting all tags for Maximum Salary
max_sals_tags = driver.find_elements_by_xpath("//div[@class ='common__RangeBarStyle__values d-flex justify-content-between ']//span[2]")
max_sals_tags

[<selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="c7775d4e-adf7-450a-a918-5b8628d1576b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="361c7953-a957-4b74-8a75-971e59f11992")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="56583254-a3aa-4a10-8866-b60012316d7d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="4d1a556c-5c42-47a4-801e-7f8bad492427")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="cac69245-c2d0-47d8-b9d5-cf06b22506cb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="6d01b730-8e83-41f1-ba7b-ba7e18f73dc6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="24889516-9326-4600-885d-f6016e800758")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="46c72cb4-32b7-4c9b-8182-ad020ebe535b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="7ad922ff-ccd9-46b9-9ced-7926336c7fb1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="5b449392-f7d2-4d20-b847-ce87ea17d94b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="e107fdd9-047e-4fa9-97bf-c13eea191585")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="a853b69b-e842-4ba9-9572-f3a54b1f0e29")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="24376c3a-6355-41eb-986d-5721d455541e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="0aab41c9-25ab-4110-bd4e-b057765d21de")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="0f582693-a5ea-47c0-8f90-ad78c8820389")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="21ef1493-c488-4132-9e67-cb1c9cb19fb1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="bffec920-741e-4ab6-aa17-31adf1ebbc03")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="a4eb9ba4-7c03-4e75-975e-1fb08467d014")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="80dce519-13a5-4857-a17e-0ce2a5aa40ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2d6489b001bcce0519bf4797b7e7e80a", element="b9e98c64-80ed-44ec-9f5f-930163b50828")>]

In [124]:
# will extract the text from the tags.
#so will run the loop to iterate over the tags extracted above and extract the text inside them.
job_max_sals=[]
for i in max_sals_tags:
    job_max_sals.append(i.text)
job_max_sals

['₹1,250K',
 '₹2,213K',
 '₹2,730K',
 '₹1,613K',
 '₹11,622K',
 '₹1,520K',
 '₹1,465K',
 '₹1,809K',
 '₹1,520K',
 '₹2,149K',
 '₹1,695K',
 '₹1,263K',
 '₹1,986K',
 '₹1,703K',
 '₹1,883K',
 '₹1,124K',
 '₹2,006K',
 '₹63K',
 '₹1,358K',
 '₹2,091K']

In [125]:
# will check number of data extracted
print(len(job_company_names),len(job_no_of_sals),len(job_avg_sals),len(job_min_sals),len(job_max_sals))
# print(len(job_titles),len(job_company_names),len(job_experiences),len(job_locations),len(job_urls)

20 20 20 20 20

In [126]:
# create dataframe
import pandas as pd

jobs = pd.DataFrame({})
jobs['Company'] = job_company_names
jobs['Number of Salaries'] = job_no_of_sals
jobs['Average Salary'] = job_avg_sals
jobs['Minimumm Salary'] = job_min_sals
jobs['Maximum Salary'] = job_max_sals

In [127]:
jobs

,Company,Number of Salaries,Average Salary,Minimumm Salary,Maximum Salary
0,Tata Consultancy Services,17 salaries,"₹ 6,14,306/yr",₹343K,"₹1,250K"
1,Accenture,14 salaries,"₹ 11,46,533/yr",₹577K,"₹2,213K"
2,IBM,14 salaries,"₹ 8,97,795/yr",₹586K,"₹2,730K"
3,Ericsson-Worldwide,14 salaries,"₹ 7,38,057/yr",₹355K,"₹1,613K"
4,Delhivery,14 salaries,"₹ 12,39,781/yr",₹450K,"₹11,622K"
5,UnitedHealth Group,11 salaries,"₹ 13,36,142/yr","₹1,069K","₹1,520K"
6,Valiance Solutions,9 salaries,"₹ 8,15,192/yr",₹502K,"₹1,465K"
7,ZS Associates,8 salaries,"₹ 11,35,221/yr",₹202K,"₹1,809K"
8,EXL Service,8 salaries,"₹ 11,44,243/yr",₹575K,"₹1,520K"
9,Optum Global Solutions,8 salaries,"₹ 14,13,288/yr","₹1,014K","₹2,149K"
10,Innovaccer,8 salaries,"₹ 12,07,110/yr",₹620K,"₹1,695K"
11,Cognizant Technology Solutions,6 salaries,"₹ 10,07,410/yr",₹792K,"₹1,263K"
12,Optum,6 salaries,"₹ 13,18,851/yr",₹807K,"₹1,986K"
13,Tech Mahindra,5 salaries,"₹ 10,52,718/yr",₹405K,"₹1,703K"
14,OYO,5 salaries,"₹ 14,13,078/yr",₹971K,"₹1,883K"
15,Nagarro,5 salaries,"₹ 9,61,653/yr",₹400K,"₹1,124K"
16,dunnhumby,5 salaries,"₹ 11,00,000/yr",₹817K,"₹2,006K"
17,Vidooly Media Tech,5 salaries,"₹ 15,887/mo",₹12K,₹63K
18,Algo8.ai,5 salaries,"₹ 6,75,000/yr",₹86K,"₹1,358K"
19,Amazon,4 salaries,"₹ 15,00,000/yr",₹772K,"₹2,091K"

In [128]:
# result = jobs.drop(jobs.index[10:],axis = 0)
# result

# Ques 6> Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

In [129]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [130]:
#finding element for job search bar
search_job= driver.find_element_by_xpath('//input[@class="_3704LK"]')
search_job

In [131]:
#write on search bar
search_job.send_keys("Sunglasses")

In [132]:
# do click using xpath function
search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

In [133]:
brand=[]
desc=[]
price=[]
discount=[]

In [134]:
import time
for i in range(0,3):
    for j in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]'):
        brand.append(j.text)
    for k in driver.find_elements_by_xpath('//a[@class="IRpwTa"]'):
        desc.append(k.text)
    for l in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):
        price.append(l.text)
    for m in driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]'):
        discount.append(m.text)
    driver.find_element_by_xpath('//nav[@class="yFHi8N"]/a').click()
    time.sleep(4)

In [135]:
# #Extracting all tags for job titles
# titles_tags = driver.find_elements_by_xpath("//div[@class ='_2WkVRV']")
# titles_tags

In [136]:
brand

['Lee Topper',
 'SRPM',
 'ROZZETTA CRAFT',
 'PIRASO',
 'DEIXELS',
 'NuVew',
 'PHENOMENAL',
 'Silver Kartz',
 'HIPPON',
 'Villain',
 'GANSTA',
 'Singco India',
 'ROYAL SON',
 'ROYAL SON',
 'hipe',
 'Ray-Ban',
 'AISLIN',
 'Flizz',
 'elegante',
 'NuVew',
 'IRUS by IDEE',
 'United Colors of Benetton.',
 'BKGE',
 'Lee Topper',
 'IDEE',
 'Fravy',
 'Crackers',
 'Singco',
 'specsmakers',
 'ROYAL SON',
 'Fastrack',
 'ROZZETTA CRAFT',
 'Silver Kartz',
 'ROYAL SON',
 'Singco India',
 'DEIXELS',
 'PHENOMENAL',
 'GANSTA',
 'ROYAL SON',
 'ROYAL SON',
 'Lee Topper',
 'ROYAL SON',
 'Fastrack',
 'ROZZETTA CRAFT',
 'PIRASO',
 'NuVew',
 'PHENOMENAL',
 'HIPPON',
 'DEIXELS',
 'Silver Kartz',
 'Villain',
 'GANSTA',
 'Singco India',
 'NuVew',
 'ROYAL SON',
 'hipe',
 'AISLIN',
 'Ray-Ban',
 'IRUS by IDEE',
 'Lee Topper',
 'United Colors of Benetton.',
 'Flizz',
 'elegante',
 'ROYAL SON',
 'BKGE',
 'IDEE',
 'Singco',
 'Fravy',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'PHENOMENAL',
 'GANSTA',
 'Singco India',
 'NuVew',
 'Silver Kartz',
 'DEIXELS',
 'ROYAL SON',
 'hipe',
 'NuVew',
 'NuVew',
 'Lee Topper',
 'ROYAL SON',
 'Fastrack',
 'ROZZETTA CRAFT',
 'PIRASO',
 'NuVew',
 'PHENOMENAL',
 'HIPPON',
 'DEIXELS',
 'Silver Kartz',
 'Villain',
 'GANSTA',
 'Singco India',
 'NuVew',
 'ROYAL SON',
 'hipe',
 'AISLIN',
 'Ray-Ban',
 'IRUS by IDEE',
 'Lee Topper',
 'United Colors of Benetton.',
 'Flizz',
 'elegante',
 'ROYAL SON',
 'BKGE',
 'IDEE',
 'Singco',
 'Fravy',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'PHENOMENAL',
 'GANSTA',
 'Singco India',
 'NuVew',
 'Silver Kartz',
 'DEIXELS',
 'ROYAL SON',
 'hipe',
 'NuVew',
 'NuVew']

In [137]:
desc

['UV Protection, Riding Glasses Retro Square, Spectacle ...',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'Others Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'Polarized Rectangular Sunglasses (65)',
 'Mirrored Wayfarer Sunglasses (55)',
 'Mirrored Aviator Sunglasses (63)',
 'UV Protection, Gradient Oval Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'UV Protection, Gradient Cat-eye Sunglasses (63)',
 'Gradient Rectangular Sunglasses (56)',
 'Gradient, UV Protection Aviator Sunglasses (57)',
 'UV Protection, Polarized Rectangular, Retro Square Sung...',
 'UV Protection Round Sunglasses (Free Size)',
 'Gradient Aviator Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection, Others Aviator Sunglasses (32)',
 'Polarized Aviator Sunglasses (54)',
 'Polarized Wrap-around Sunglasses (66)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Oval Sunglasses (56)',
 'Polarized Rectangular Sunglasses (65)',
 'Mirrored, Riding Glasses, Others Sports Sunglasses (50)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Aviator Sunglasses (57)',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'UV Protection, Riding Glasses Retro Square, Spectacle ...',
 'Polarized Rectangular Sunglasses (65)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Others Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Cat-eye Sunglasses (63)',
 'UV Protection Wayfarer Sunglasses (55)',
 'Mirrored Wayfarer Sunglasses (55)',
 'UV Protection, Gradient Oval Sunglasses (58)',
 'Mirrored Aviator Sunglasses (63)',
 'Gradient Rectangular Sunglasses (56)',
 'UV Protection Round Sunglasses (Free Size)',
 'Gradient, UV Protection Aviator Sunglasses (57)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'Polarized Rectangular Sunglasses (65)',
 'UV Protection, Polarized Rectangular, Retro Square Sung...',
 'Gradient Aviator Sunglasses (58)',
 'UV Protection, Others Aviator Sunglasses (32)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...',
 'Mirrored, Riding Glasses, Others Sports Sunglasses (50)',
 'UV Protection Cat-eye Sunglasses (60)',
 'UV Protection Oval Sunglasses (56)',
 'UV Protection Round Sunglasses (Free Size)',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'UV Protection, Mirrored Round Sunglasses (Free Size)',
 'UV Protection, Mirrored, Night Vision, Riding Glasses S...',
 'UV Protection, Mirrored, Night Vision, Riding Glasses S...',
 'UV Protection, Riding Glasses Retro Square, Spectacle ...',
 'Polarized Rectangular Sunglasses (65)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Others Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Cat-eye Sunglasses (63)',
 'UV Protection Wayfarer Sunglasses (55)',
 'Mirrored Wayfarer Sunglasses (55)',
 'UV Protection, Gradient Oval Sunglasses (58)',
 'Mirrored Aviator Sunglasses (63)',
 'Gradient Rectangular Sunglasses (56)',
 'UV Protection Round Sunglasses (Free Size)',
 'Gradient, UV Protection Aviator Sunglasses (57)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'Polarized Rectangular Sunglasses (65)',
 'UV Protection, Polarized Rectangular, Retro Square Sung...',
 'Gradient Aviator Sunglasses (58)',
 'UV Protection, Others Aviator Sunglasses (32)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...',
 'Mirrored, Riding Glasses, Others Sports Sunglasses (50)',
 'UV Protection Cat-eye Sunglasses (60)',
 'UV Protection Oval Sunglasses (56)',
 'UV Protection Round Sunglasses (Free Size)',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'UV Protection, Mirrored Round Sunglasses (Free Size)',
 'UV Protection, Mirrored, Night Vision, Riding Glasses S...',
 'UV Protection, Mirrored, Night Vision, Riding Glasses S...']

In [138]:
price

['₹389',
 '₹189',
 '₹499',
 '₹349',
 '₹213',
 '₹215',
 '₹399',
 '₹246',
 '₹251',
 '₹599',
 '₹281',
 '₹339',
 '₹265',
 '₹699',
 '₹219',
 '₹3,843',
 '₹470',
 '₹399',
 '₹499',
 '₹371',
 '₹542',
 '₹1,599',
 '₹394',
 '₹289',
 '₹1,181',
 '₹289',
 '₹170',
 '₹349',
 '₹891',
 '₹664',
 '₹733',
 '₹404',
 '₹284',
 '₹699',
 '₹249',
 '₹209',
 '₹399',
 '₹337',
 '₹711',
 '₹664',
 '₹389',
 '₹699',
 '₹630',
 '₹499',
 '₹349',
 '₹215',
 '₹399',
 '₹251',
 '₹213',
 '₹246',
 '₹599',
 '₹281',
 '₹339',
 '₹371',
 '₹265',
 '₹219',
 '₹470',
 '₹3,843',
 '₹542',
 '₹289',
 '₹1,599',
 '₹399',
 '₹499',
 '₹699',
 '₹394',
 '₹1,181',
 '₹349',
 '₹289',
 '₹404',
 '₹664',
 '₹399',
 '₹292',
 '₹249',
 '₹403',
 '₹284',
 '₹209',
 '₹711',
 '₹219',
 '₹342',
 '₹391',
 '₹389',
 '₹699',
 '₹630',
 '₹499',
 '₹349',
 '₹215',
 '₹399',
 '₹251',
 '₹213',
 '₹246',
 '₹599',
 '₹281',
 '₹339',
 '₹371',
 '₹265',
 '₹219',
 '₹470',
 '₹3,843',
 '₹542',
 '₹289',
 '₹1,599',
 '₹399',
 '₹499',
 '₹699',
 '₹394',
 '₹1,181',
 '₹349',
 '₹289',
 '₹404',
 '₹664',
 '₹399',
 '₹292',
 '₹249',
 '₹403',
 '₹284',
 '₹209',
 '₹711',
 '₹219',
 '₹342',
 '₹391']

In [139]:
discount

['70% off',
 '62% off',
 '77% off',
 '78% off',
 '82% off',
 '72% off',
 '80% off',
 '83% off',
 '79% off',
 '20% off',
 '85% off',
 '71% off',
 '79% off',
 '65% off',
 '78% off',
 '30% off',
 '69% off',
 '81% off',
 '66% off',
 '75% off',
 '52% off',
 '61% off',
 '78% off',
 '71% off',
 '58% off',
 '80% off',
 '82% off',
 '82% off',
 '55% off',
 '66% off',
 '18% off',
 '79% off',
 '76% off',
 '65% off',
 '83% off',
 '73% off',
 '80% off',
 '83% off',
 '64% off',
 '66% off',
 '70% off',
 '65% off',
 '21% off',
 '77% off',
 '78% off',
 '72% off',
 '80% off',
 '79% off',
 '82% off',
 '83% off',
 '20% off',
 '85% off',
 '71% off',
 '75% off',
 '79% off',
 '78% off',
 '69% off',
 '30% off',
 '52% off',
 '71% off',
 '61% off',
 '81% off',
 '66% off',
 '65% off',
 '78% off',
 '58% off',
 '82% off',
 '80% off',
 '79% off',
 '66% off',
 '80% off',
 '85% off',
 '83% off',
 '72% off',
 '76% off',
 '73% off',
 '64% off',
 '86% off',
 '63% off',
 '68% off',
 '70% off',
 '65% off',
 '21% off',
 '77% off',
 '78% off',
 '72% off',
 '80% off',
 '79% off',
 '82% off',
 '83% off',
 '20% off',
 '85% off',
 '71% off',
 '75% off',
 '79% off',
 '78% off',
 '69% off',
 '30% off',
 '52% off',
 '71% off',
 '61% off',
 '81% off',
 '66% off',
 '65% off',
 '78% off',
 '58% off',
 '82% off',
 '80% off',
 '79% off',
 '66% off',
 '80% off',
 '85% off',
 '83% off',
 '72% off',
 '76% off',
 '73% off',
 '64% off',
 '86% off',
 '63% off',
 '68% off']

In [140]:
# will check number of data extracted
print(len(brand),len(desc),len(price),len(discount))
# print(len(job_titles),len(job_company_names),len(job_experiences),len(job_locations),len(job_urls)

120 117 120 120

In [141]:
# in list type. not in string so no need for eval()
import pandas as pd

df1 = pd.DataFrame(brand,columns=['Brand of Sunglass'])
df1

    Brand of Sunglass
0          Lee Topper
1                SRPM
2      ROZZETTA CRAFT
3              PIRASO
4             DEIXELS
..                ...
115           DEIXELS
116         ROYAL SON
117              hipe
118             NuVew
119             NuVew

[120 rows x 1 columns]

In [142]:
df2 = pd.DataFrame(desc,columns=['Description of Sunglass'])
df2

                               Description of Sunglass
0    UV Protection, Riding Glasses Retro Square, Sp...
1                  UV Protection Round Sunglasses (53)
2    UV Protection Retro Square Sunglasses (Free Size)
3         UV Protection Aviator Sunglasses (Free Size)
4    UV Protection Aviator, Wayfarer Sunglasses (Fr...
..                                                 ...
112         UV Protection Round Sunglasses (Free Size)
113   Polarized, UV Protection Aviator Sunglasses (58)
114  UV Protection, Mirrored Round Sunglasses (Free...
115  UV Protection, Mirrored, Night Vision, Riding ...
116  UV Protection, Mirrored, Night Vision, Riding ...

[117 rows x 1 columns]

In [143]:
df3 = pd.DataFrame(price,columns=['Price'])
df3

    Price
0    ₹389
1    ₹189
2    ₹499
3    ₹349
4    ₹213
..    ...
115  ₹209
116  ₹711
117  ₹219
118  ₹342
119  ₹391

[120 rows x 1 columns]

In [144]:
df4 = pd.DataFrame(discount,columns=['Discount'])
df4

    Discount
0    70% off
1    62% off
2    77% off
3    78% off
4    82% off
..       ...
115  73% off
116  64% off
117  86% off
118  63% off
119  68% off

[120 rows x 1 columns]

In [145]:
result = pd.concat([df1, df2], axis=1, join='inner')
result

    Brand of Sunglass                            Description of Sunglass
0          Lee Topper  UV Protection, Riding Glasses Retro Square, Sp...
1                SRPM                UV Protection Round Sunglasses (53)
2      ROZZETTA CRAFT  UV Protection Retro Square Sunglasses (Free Size)
3              PIRASO       UV Protection Aviator Sunglasses (Free Size)
4             DEIXELS  UV Protection Aviator, Wayfarer Sunglasses (Fr...
..                ...                                                ...
112      Singco India         UV Protection Round Sunglasses (Free Size)
113             NuVew   Polarized, UV Protection Aviator Sunglasses (58)
114      Silver Kartz  UV Protection, Mirrored Round Sunglasses (Free...
115           DEIXELS  UV Protection, Mirrored, Night Vision, Riding ...
116         ROYAL SON  UV Protection, Mirrored, Night Vision, Riding ...

[117 rows x 2 columns]

In [146]:
result = pd.concat([result, df3], axis=1, join='inner')
result

    Brand of Sunglass                            Description of Sunglass Price
0          Lee Topper  UV Protection, Riding Glasses Retro Square, Sp...  ₹389
1                SRPM                UV Protection Round Sunglasses (53)  ₹189
2      ROZZETTA CRAFT  UV Protection Retro Square Sunglasses (Free Size)  ₹499
3              PIRASO       UV Protection Aviator Sunglasses (Free Size)  ₹349
4             DEIXELS  UV Protection Aviator, Wayfarer Sunglasses (Fr...  ₹213
..                ...                                                ...   ...
112      Singco India         UV Protection Round Sunglasses (Free Size)  ₹249
113             NuVew   Polarized, UV Protection Aviator Sunglasses (58)  ₹403
114      Silver Kartz  UV Protection, Mirrored Round Sunglasses (Free...  ₹284
115           DEIXELS  UV Protection, Mirrored, Night Vision, Riding ...  ₹209
116         ROYAL SON  UV Protection, Mirrored, Night Vision, Riding ...  ₹711

[117 rows x 3 columns]

In [147]:
result = pd.concat([result, df4], axis=1, join='inner')
result

,Brand of Sunglass,Description of Sunglass,Price,Discount
0,Lee Topper,"UV Protection, Riding Glasses Retro Square, Sp...",₹389,70% off
1,SRPM,UV Protection Round Sunglasses (53),₹189,62% off
2,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off
3,PIRASO,UV Protection Aviator Sunglasses (Free Size),₹349,78% off
4,DEIXELS,"UV Protection Aviator, Wayfarer Sunglasses (Fr...",₹213,82% off
...,...,...,...,...
112,Singco India,UV Protection Round Sunglasses (Free Size),₹249,83% off
113,NuVew,"Polarized, UV Protection Aviator Sunglasses (58)",₹403,72% off
114,Silver Kartz,"UV Protection, Mirrored Round Sunglasses (Free...",₹284,76% off
115,DEIXELS,"UV Protection, Mirrored, Night Vision, Riding ...",₹209,73% off
116,ROYAL SON,"UV Protection, Mirrored, Night Vision, Riding ...",₹711,64% off

In [148]:
result = result.drop(result.index[100:],axis = 0)
result

,Brand of Sunglass,Description of Sunglass,Price,Discount
0,Lee Topper,"UV Protection, Riding Glasses Retro Square, Sp...",₹389,70% off
1,SRPM,UV Protection Round Sunglasses (53),₹189,62% off
2,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off
3,PIRASO,UV Protection Aviator Sunglasses (Free Size),₹349,78% off
4,DEIXELS,"UV Protection Aviator, Wayfarer Sunglasses (Fr...",₹213,82% off
...,...,...,...,...
95,hipe,Mirrored Aviator Sunglasses (63),₹219,78% off
96,AISLIN,Gradient Rectangular Sunglasses (56),₹470,69% off
97,Ray-Ban,UV Protection Round Sunglasses (Free Size),"₹3,843",30% off
98,IRUS by IDEE,"Gradient, UV Protection Aviator Sunglasses (57)",₹542,52% off
99,Lee Topper,UV Protection Retro Square Sunglasses (Free Size),₹289,71% off

# Ques 7> Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [149]:
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'
driver.get(url)

In [150]:
# do click using xpath function
all_review = driver.find_element_by_xpath("//a[@href='/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART']")
all_review.click()

In [151]:
rating=[]
review_summary=[]
full_review=[]

In [152]:
import time
for i in range(0,10):
    for j in driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]'):
        rating.append(j.text)
    for k in driver.find_elements_by_xpath('//p[@class="_2-N8zT"]'):
        review_summary.append(k.text)
    for l in driver.find_elements_by_xpath('//div[@class="t-ZTKy"]'):
        full_review.append(l.text)
    driver.find_element_by_xpath('//nav[@class="yFHi8N"]/a').click()
    time.sleep(4)

In [153]:
rating

['5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5']

In [154]:
review_summary

['Brilliant',
 'Perfect product!',
 'Great product',
 'Worth every penny',
 'Good choice',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Brilliant',
 'Perfect product!',
 'Great product',
 'Worth every penny',
 'Good choice',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Brilliant',
 'Perfect product!',
 'Great product',
 'Worth every penny',
 'Good choice',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Brilliant',
 'Perfect product!',
 'Great product',
 'Worth every penny',
 'Good choice',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Brilliant',
 'Perfect product!',
 'Great product',
 'Worth every penny',
 'Good choice',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Brilliant',
 'Perfect product!',
 'Great product',
 'Worth every penny',
 'Good choice',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Brilliant',
 'Perfect product!',
 'Great product',
 'Worth every penny',
 'Good choice',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Brilliant',
 'Perfect product!',
 'Great product',
 'Worth every penny',
 'Good choice',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Brilliant',
 'Perfect product!',
 'Great product',
 'Worth every penny',
 'Good choice',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Brilliant',
 'Perfect product!',
 'Great product',
 'Worth every penny',
 'Good choice',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny']

In [155]:
full_review

['The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃\n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...\nREAD MORE',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃\n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...\nREAD MORE',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃\n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...\nREAD MORE',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃\n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...\nREAD MORE',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃\n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...\nREAD MORE',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',

In [156]:
# will check number of data extracted
print(len(rating),len(review_summary),len(full_review))

100 100 100

In [157]:
# create dataframe
import pandas as pd

df = pd.DataFrame({})
df['Rating of Ipnone 11'] = rating
df['Review Summary'] = review_summary
df['Full Review'] = full_review

In [158]:
df

,Rating of Ipnone 11,Review Summary,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,4,Good choice,So far it’s been an AMAZING experience coming ...
...,...,...,...
95,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
96,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
97,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
98,5,Fabulous!,This is my first iOS phone. I am very happy wi...
99,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...

# Que 8>Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

In [159]:
#finding element for job search bar
search= driver.find_element_by_xpath('//input[@class="_3704LK"]')
search

In [160]:
#write on search bar
search.send_keys("sneakers")

In [161]:
# do click using xpath function
search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

In [162]:
brand=[]
desc=[]
price=[]
discount=[]

In [163]:
import time
for i in range(0,3):
    for j in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]'):
        brand.append(j.text)
    for k in driver.find_elements_by_xpath('//a[@class="IRpwTa"]'):
        desc.append(k.text)
    for l in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):
        price.append(l.text)
    for m in driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]'):
        discount.append(m.text)
    driver.find_element_by_xpath('//nav[@class="yFHi8N"]/a').click()
    time.sleep(4)

In [164]:
brand

['bluemaker',
 'Jack Diamond',
 'Robbie jones',
 'HOTSTYLE',
 'Robbie jones',
 'aadi',
 'Shoes Bank',
 'ORICUM',
 'Numenzo',
 'Stefano Rads',
 'VIPSJAZZY',
 'Zsyto',
 'bluemaker',
 'oxpeo',
 '"trend"',
 'Robbie jones',
 'World Wear Footwear',
 'BRUTON',
 'believe',
 'Zorth',
 'Magnolia',
 '3SIX5',
 'Kraasa',
 'Zorth',
 'HOTSTYLE',
 'Birde',
 'Baogi',
 'SPARX',
 'restinfoot',
 'STRANGER BROTHERS',
 'SPARX',
 'SCATCHITE',
 'T-ROCK',
 'ARMADO',
 'Jokatoo',
 'Axter',
 'VORII',
 'World Wear Footwear',
 'World Wear Footwear',
 'Wen Hawk',
 'Jack Diamond',
 'bluemaker',
 'Robbie jones',
 'HOTSTYLE',
 'Robbie jones',
 'aadi',
 'Shoes Bank',
 'ORICUM',
 'Numenzo',
 'Stefano Rads',
 'VIPSJAZZY',
 'Zsyto',
 'bluemaker',
 'oxpeo',
 '"trend"',
 'Robbie jones',
 'World Wear Footwear',
 'BRUTON',
 'believe',
 'Zorth',
 'Magnolia',
 '3SIX5',
 'Kraasa',
 'Zorth',
 'HOTSTYLE',
 'Birde',
 'Baogi',
 'SPARX',
 'restinfoot',
 'STRANGER BROTHERS',
 'SPARX',
 'SCATCHITE',
 'T-ROCK',
 'ARMADO',
 'Jokatoo',
 'Axter',
 'VORII',
 'World Wear Footwear',
 'World Wear Footwear',
 'RED TAPE',
 'Jack Diamond',
 'bluemaker',
 'Robbie jones',
 'HOTSTYLE',
 'Robbie jones',
 'aadi',
 'Shoes Bank',
 'ORICUM',
 'Numenzo',
 'Stefano Rads',
 'VIPSJAZZY',
 'Zsyto',
 'bluemaker',
 'oxpeo',
 '"trend"',
 'Robbie jones',
 'World Wear Footwear',
 'BRUTON',
 'believe',
 'Zorth',
 'Magnolia',
 '3SIX5',
 'Kraasa',
 'Zorth',
 'HOTSTYLE',
 'Birde',
 'Baogi',
 'SPARX',
 'restinfoot',
 'STRANGER BROTHERS',
 'SPARX',
 'SCATCHITE',
 'T-ROCK',
 'ARMADO',
 'Jokatoo',
 'Axter',
 'VORII',
 'World Wear Footwear',
 'World Wear Footwear',
 'RED TAPE']

In [165]:
desc

['Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Combo pack of 2 casual sneaker shoes for men Sneakers F...',
 'Sneakers For Men',
 'casual for men (blue 06) Sneakers For Men',
 'Colourblocked Trending Multicolor Ultralight canvas Spo...',
 'Fashionable casual sneakers shoes for men Sneakers For ...',
 'Casual Sneakers Black Shoes For Men Sneakers For Men',
 'Combo Pack of 4 Latest Collection Stylish Casual Loafer...',
 'Combo Pack Of 4 Canvas Sneakers For Men',
 'Sneakers for men(black_6) Sneakers For Men',
 'White Sneakers Sneakers For Men',
 'ORIFWSH(OR)-1077 Sneakers For Men',
 'Series 7 Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Combo Pack of 4 Casual Shoes Sneakers For Men',
 'SM-322 Sneakers For Men',
 'Casual shoes Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Synthetic Leather Casual Partywear Wedding Sneakers Sho...',
 'casual shoes For Mens Combo(AR)-1658-1619 ( Multicolor-...',
 'Sneakers For Men',
 'Combo Pack of 2 Latest Collection Stylish Casual Loafer...',
 'Latest Stylish Casual sneakers for men | Lace up lightw...',
 'Men 5014 Latest Collection Stylish Casual Sports Loafer...',
 '5011-Latest Collection Stylish Casual Loafer Sneakers S...',
 'Latest Stylish Casual sneakers for men | Lace up lightw...',
 'Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Combo pack of 2 casual sneaker shoes for men Sneakers F...',
 'Sneakers For Men',
 'casual for men (blue 06) Sneakers For Men',
 'Colourblocked Trending Multicolor Ultralight canvas Spo...',
 'Fashionable casual sneakers shoes for men Sneakers For ...',
 'Casual Sneakers Black Shoes For Men Sneakers For Men',
 'Combo Pack of 4 Latest Collection Stylish Casual Loafer...',
 'Combo Pack Of 4 Canvas Sneakers For Men',
 'Sneakers for men(black_6) Sneakers For Men',
 'White Sneakers Sneakers For Men',
 'ORIFWSH(OR)-1077 Sneakers For Men',
 'Series 7 Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Combo Pack of 4 Casual Shoes Sneakers For Men',
 'SM-322 Sneakers For Men',
 'Casual shoes Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Synthetic Leather Casual Partywear Wedding Sneakers Sho...',
 'casual shoes For Mens Combo(AR)-1658-1619 ( Multicolor-...',
 'Sneakers For Men',
 'Combo Pack of 2 Latest Collection Stylish Casual Loafer...',
 'Latest Stylish Casual sneakers for men | Lace up lightw...',
 'Men 5014 Latest Collection Stylish Casual Sports Loafer...',
 '5011-Latest Collection Stylish Casual Loafer Sneakers S...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Combo pack of 2 casual sneaker shoes for men Sneakers F...',
 'Sneakers For Men',
 'casual for men (blue 06) Sneakers For Men',
 'Colourblocked Trending Multicolor Ultralight canvas Spo...',
 'Fashionable casual sneakers shoes for men Sneakers For ...',
 'Casual Sneakers Black Shoes For Men Sneakers For Men',
 'Combo Pack of 4 Latest Collection Stylish Casual Loafer...',
 'Combo Pack Of 4 Canvas Sneakers For Men',
 'Sneakers for men(black_6) Sneakers For Men',
 'White Sneakers Sneakers For Men',
 'ORIFWSH(OR)-1077 Sneakers For Men',
 'Series 7 Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Combo Pack of 4 Casual Shoes Sneakers For Men',
 'SM-322 Sneakers For Men',
 'Casual shoes Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Synthetic Leather Casual Partywear Wedding Sneakers Sho...',
 'casual shoes For Mens Combo(AR)-1658-1619 ( Multicolor-...',
 'Sneakers For Men',
 'Combo Pack of 2 Latest Collection Stylish Casual Loafer...',
 'Latest Stylish Casual sneakers for men | Lace up lightw...',
 'Men 5014 Latest Collection Stylish Casual Sports Loafer...',
 '5011-Latest Collection Stylish Casual Loafer Sneakers S...',
 'Sneakers For Men']

In [166]:
price

['₹474',
 '₹639',
 '₹379',
 '₹283',
 '₹474',
 '₹399',
 '₹331',
 '₹377',
 '₹398',
 '₹242',
 '₹419',
 '₹328',
 '₹474',
 '₹419',
 '₹449',
 '₹428',
 '₹499',
 '₹499',
 '₹446',
 '₹599',
 '₹305',
 '₹214',
 '₹416',
 '₹599',
 '₹299',
 '₹842',
 '₹399',
 '₹769',
 '₹379',
 '₹474',
 '₹599',
 '₹398',
 '₹378',
 '₹498',
 '₹455',
 '₹299',
 '₹399',
 '₹240',
 '₹240',
 '₹398',
 '₹639',
 '₹474',
 '₹379',
 '₹283',
 '₹474',
 '₹399',
 '₹331',
 '₹377',
 '₹398',
 '₹242',
 '₹419',
 '₹328',
 '₹474',
 '₹419',
 '₹449',
 '₹428',
 '₹499',
 '₹499',
 '₹446',
 '₹599',
 '₹305',
 '₹214',
 '₹416',
 '₹599',
 '₹299',
 '₹842',
 '₹399',
 '₹769',
 '₹379',
 '₹474',
 '₹599',
 '₹398',
 '₹378',
 '₹498',
 '₹455',
 '₹299',
 '₹399',
 '₹240',
 '₹240',
 '₹1,708',
 '₹639',
 '₹474',
 '₹379',
 '₹283',
 '₹474',
 '₹399',
 '₹331',
 '₹377',
 '₹398',
 '₹242',
 '₹419',
 '₹328',
 '₹474',
 '₹419',
 '₹449',
 '₹428',
 '₹499',
 '₹499',
 '₹446',
 '₹599',
 '₹305',
 '₹214',
 '₹416',
 '₹599',
 '₹299',
 '₹842',
 '₹399',
 '₹769',
 '₹379',
 '₹474',
 '₹599',
 '₹398',
 '₹378',
 '₹498',
 '₹455',
 '₹299',
 '₹399',
 '₹240',
 '₹240',
 '₹1,708']

In [167]:
discount

['52% off',
 '36% off',
 '62% off',
 '43% off',
 '52% off',
 '60% off',
 '66% off',
 '62% off',
 '60% off',
 '65% off',
 '58% off',
 '74% off',
 '52% off',
 '58% off',
 '77% off',
 '57% off',
 '81% off',
 '85% off',
 '55% off',
 '40% off',
 '69% off',
 '57% off',
 '58% off',
 '40% off',
 '40% off',
 '57% off',
 '60% off',
 '23% off',
 '62% off',
 '52% off',
 '14% off',
 '60% off',
 '62% off',
 '50% off',
 '69% off',
 '78% off',
 '60% off',
 '51% off',
 '51% off',
 '60% off',
 '36% off',
 '52% off',
 '62% off',
 '43% off',
 '52% off',
 '60% off',
 '66% off',
 '62% off',
 '60% off',
 '65% off',
 '58% off',
 '74% off',
 '52% off',
 '58% off',
 '77% off',
 '57% off',
 '81% off',
 '85% off',
 '55% off',
 '40% off',
 '69% off',
 '57% off',
 '58% off',
 '40% off',
 '40% off',
 '57% off',
 '60% off',
 '23% off',
 '62% off',
 '52% off',
 '14% off',
 '60% off',
 '62% off',
 '50% off',
 '69% off',
 '78% off',
 '60% off',
 '51% off',
 '51% off',
 '70% off',
 '36% off',
 '52% off',
 '62% off',
 '43% off',
 '52% off',
 '60% off',
 '66% off',
 '62% off',
 '60% off',
 '65% off',
 '58% off',
 '74% off',
 '52% off',
 '58% off',
 '77% off',
 '57% off',
 '81% off',
 '85% off',
 '55% off',
 '40% off',
 '69% off',
 '57% off',
 '58% off',
 '40% off',
 '40% off',
 '57% off',
 '60% off',
 '23% off',
 '62% off',
 '52% off',
 '14% off',
 '60% off',
 '62% off',
 '50% off',
 '69% off',
 '78% off',
 '60% off',
 '51% off',
 '51% off',
 '70% off']

In [168]:
# will check number of data extracted
print(len(brand),len(desc),len(price),len(discount))
# print(len(job_titles),len(job_company_names),len(job_experiences),len(job_locations),len(job_urls)

120 96 120 120

In [169]:
# in list type. not in string so no need for eval()
import pandas as pd

df1 = pd.DataFrame(brand,columns=['Brand of Sneakers'])
df1

       Brand of Sneakers
0              bluemaker
1           Jack Diamond
2           Robbie jones
3               HOTSTYLE
4           Robbie jones
..                   ...
115                Axter
116                VORII
117  World Wear Footwear
118  World Wear Footwear
119             RED TAPE

[120 rows x 1 columns]

In [170]:
df2 = pd.DataFrame(desc,columns=['Description of Sneakers'])
df2

                              Description of Sneakers
0                                    Sneakers For Men
1      Casual Sneakers Shoes For Men Sneakers For Men
2                           Sneakers Sneakers For Men
3                                    Sneakers For Men
4                                    Sneakers For Men
..                                                ...
91  Combo Pack of 2 Latest Collection Stylish Casu...
92  Latest Stylish Casual sneakers for men | Lace ...
93  Men 5014 Latest Collection Stylish Casual Spor...
94  5011-Latest Collection Stylish Casual Loafer S...
95                                   Sneakers For Men

[96 rows x 1 columns]

In [171]:
df3 = pd.DataFrame(price,columns=['Price'])
df3

      Price
0      ₹474
1      ₹639
2      ₹379
3      ₹283
4      ₹474
..      ...
115    ₹299
116    ₹399
117    ₹240
118    ₹240
119  ₹1,708

[120 rows x 1 columns]

In [172]:
df4 = pd.DataFrame(discount,columns=['Discount'])
df4

    Discount
0    52% off
1    36% off
2    62% off
3    43% off
4    52% off
..       ...
115  78% off
116  60% off
117  51% off
118  51% off
119  70% off

[120 rows x 1 columns]

In [173]:
result = pd.concat([df1, df2], axis=1, join='inner')
result

   Brand of Sneakers                            Description of Sneakers
0          bluemaker                                   Sneakers For Men
1       Jack Diamond     Casual Sneakers Shoes For Men Sneakers For Men
2       Robbie jones                          Sneakers Sneakers For Men
3           HOTSTYLE                                   Sneakers For Men
4       Robbie jones                                   Sneakers For Men
..               ...                                                ...
91             Zsyto  Combo Pack of 2 Latest Collection Stylish Casu...
92         bluemaker  Latest Stylish Casual sneakers for men | Lace ...
93             oxpeo  Men 5014 Latest Collection Stylish Casual Spor...
94           "trend"  5011-Latest Collection Stylish Casual Loafer S...
95      Robbie jones                                   Sneakers For Men

[96 rows x 2 columns]

In [174]:
result = pd.concat([result, df3], axis=1, join='inner')
result

   Brand of Sneakers                            Description of Sneakers Price
0          bluemaker                                   Sneakers For Men  ₹474
1       Jack Diamond     Casual Sneakers Shoes For Men Sneakers For Men  ₹639
2       Robbie jones                          Sneakers Sneakers For Men  ₹379
3           HOTSTYLE                                   Sneakers For Men  ₹283
4       Robbie jones                                   Sneakers For Men  ₹474
..               ...                                                ...   ...
91             Zsyto  Combo Pack of 2 Latest Collection Stylish Casu...  ₹328
92         bluemaker  Latest Stylish Casual sneakers for men | Lace ...  ₹474
93             oxpeo  Men 5014 Latest Collection Stylish Casual Spor...  ₹419
94           "trend"  5011-Latest Collection Stylish Casual Loafer S...  ₹449
95      Robbie jones                                   Sneakers For Men  ₹428

[96 rows x 3 columns]

In [175]:
result = pd.concat([result, df4], axis=1, join='inner')
result

,Brand of Sneakers,Description of Sneakers,Price,Discount
0,bluemaker,Sneakers For Men,₹474,52% off
1,Jack Diamond,Casual Sneakers Shoes For Men Sneakers For Men,₹639,36% off
2,Robbie jones,Sneakers Sneakers For Men,₹379,62% off
3,HOTSTYLE,Sneakers For Men,₹283,43% off
4,Robbie jones,Sneakers For Men,₹474,52% off
...,...,...,...,...
91,Zsyto,Combo Pack of 2 Latest Collection Stylish Casu...,₹328,74% off
92,bluemaker,Latest Stylish Casual sneakers for men | Lace ...,₹474,52% off
93,oxpeo,Men 5014 Latest Collection Stylish Casual Spor...,₹419,58% off
94,"""trend""",5011-Latest Collection Stylish Casual Loafer S...,₹449,77% off
95,Robbie jones,Sneakers For Men,₹428,57% off

In [176]:
result = result.drop(result.index[100:],axis = 0)
result

,Brand of Sneakers,Description of Sneakers,Price,Discount
0,bluemaker,Sneakers For Men,₹474,52% off
1,Jack Diamond,Casual Sneakers Shoes For Men Sneakers For Men,₹639,36% off
2,Robbie jones,Sneakers Sneakers For Men,₹379,62% off
3,HOTSTYLE,Sneakers For Men,₹283,43% off
4,Robbie jones,Sneakers For Men,₹474,52% off
...,...,...,...,...
91,Zsyto,Combo Pack of 2 Latest Collection Stylish Casu...,₹328,74% off
92,bluemaker,Latest Stylish Casual sneakers for men | Lace ...,₹474,52% off
93,oxpeo,Men 5014 Latest Collection Stylish Casual Spor...,₹419,58% off
94,"""trend""",5011-Latest Collection Stylish Casual Loafer S...,₹449,77% off
95,Robbie jones,Sneakers For Men,₹428,57% off

# Ques 9> scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe

In [177]:
url = 'https://www.myntra.com/shoes'
driver.get(url)

In [178]:
#finding element for price filter
price= driver.find_element_by_xpath("//ul[@class='price-list']/li[2]/label/div")
# search_loc.is_selected()
price.click()

In [179]:
#finding element for color filter
search_loc= driver.find_element_by_xpath("//label[@class='common-customCheckbox']/div")
# search_loc= driver.find_element_by_xpath("//div[@class='vertical-filters-filters']/ul/li[1]/div")

# search_loc.is_selected()
search_loc.click()

In [180]:
brand=[]
desc=[]
price=[]

In [181]:
import time
for i in range(0,10):
    for j in driver.find_elements_by_xpath('//h3[@class="product-brand"]'):
        brand.append(j.text)
    for k in driver.find_elements_by_xpath('//h4[@class="product-product"]'):
        desc.append(k.text)
    for l in driver.find_elements_by_xpath('//span[@class="product-discountedPrice"]'):
        price.append(l.text)
    driver.find_element_by_xpath('//ul[@class="pagination-container"]/li/a').click()
    time.sleep(4)

In [182]:
brand

['Nike',
 'Nike',
 'PUMA Motorsport',
 'Nike',
 'Nike',
 'Nike',
 'ALDO',
 'Nike',
 'ALDO',
 'ALDO',
 'Nike',
 'Nike',
 'ALDO',
 'Hush Puppies',
 'Nike',
 'Nike',
 'Nike',
 'Puma',
 'Nike',
 'Nike',
 'Nike',
 'Nike',
 'Lacoste',
 'UNDER ARMOUR',
 'Puma',
 'Puma',
 'UNDER ARMOUR',
 'Nike',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Puma',
 'Puma',
 'UNDER ARMOUR',
 'ADIDAS',
 'Skechers',
 'Puma',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Puma',
 'FORCLAZ By Decathlon',
 'UNDER ARMOUR',
 'Lacoste',
 'UNDER ARMOUR',
 'Puma',
 'UNDER ARMOUR',
 'Puma',
 'Nike',
 'UNDER ARMOUR',
 'Nike',
 'Nike',
 'Nike',
 'PUMA Motorsport',
 'Nike',
 'Nike',
 'Nike',
 'ALDO',
 'Nike',
 'ALDO',
 'ALDO',
 'Nike',
 'Nike',
 'ALDO',
 'Hush Puppies',
 'Nike',
 'Nike',
 'Nike',
 'Puma',
 'Nike',
 'Nike',
 'Nike',
 'Nike',
 'Lacoste',
 'UNDER ARMOUR',
 'Puma',
 'Puma',
 'UNDER ARMOUR',
 'Nike',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Puma',
 'Puma',
 'UNDER ARMOUR',
 'ADIDAS',
 'Skechers',
 'Puma',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Puma',
 'FORCLAZ By Decathlon',
 'UNDER ARMOUR',
 'Lacoste',
 'UNDER ARMOUR',
 'Puma',
 'UNDER ARMOUR',
 'Puma',
 'Nike',
 'UNDER ARMOUR',
 'Nike',
 'Nike',
 'Nike',
 'PUMA Motorsport',
 'Nike',
 'Nike',
 'Nike',
 'ALDO',
 'Nike',
 'ALDO',
 'ALDO',
 'Nike',
 'Nike',
 'ALDO',
 'Hush Puppies',
 'Nike',
 'Nike',
 'Nike',
 'Puma',
 'Nike',
 'Nike',
 'Nike',
 'Nike',
 'Lacoste',
 'UNDER ARMOUR',
 'Puma',
 'Puma',
 'UNDER ARMOUR',
 'Nike',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Puma',
 'Puma',
 'UNDER ARMOUR',
 'ADIDAS',
 'Skechers',
 'Puma',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Puma',
 'FORCLAZ By Decathlon',
 'UNDER ARMOUR',
 'Lacoste',
 'UNDER ARMOUR',
 'Puma',
 'UNDER ARMOUR',
 'Puma',
 'Nike',
 'UNDER ARMOUR',
 'Nike',
 'Nike',
 'Nike',
 'PUMA Motorsport',
 'Nike',
 'Nike',
 'Nike',
 'ALDO',
 'Nike',
 'ALDO',
 'ALDO',
 'Nike',
 'Nike',
 'ALDO',
 'Hush Puppies',
 'Nike',
 'Nike',
 'Nike',
 'Puma',
 'Nike',
 'Nike',
 'Nike',
 'Nike',
 'Lacoste',
 'UNDER ARMOUR',
 'Puma',
 'Puma',
 'UNDER ARMOUR',
 'Nike',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Puma',
 'Puma',
 'UNDER ARMOUR',
 'ADIDAS',
 'Skechers',
 'Puma',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Puma',
 'FORCLAZ By Decathlon',
 'UNDER ARMOUR',
 'Lacoste',
 'UNDER ARMOUR',
 'Puma',
 'UNDER ARMOUR',
 'Puma',
 'Nike',
 'UNDER ARMOUR',
 'Nike',
 'Nike',
 'Nike',
 'PUMA Motorsport',
 'Nike',
 'Nike',
 'Nike',
 'ALDO',
 'Nike',
 'ALDO',
 'ALDO',
 'Nike',
 'Nike',
 'ALDO',
 'Hush Puppies',
 'Nike',
 'Nike',
 'Nike',
 'Puma',
 'Nike',
 'Nike',
 'Nike',
 'Nike',
 'Lacoste',
 'UNDER ARMOUR',
 'Puma',
 'Puma',
 'UNDER ARMOUR',
 'Nike',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Puma',
 'Puma',
 'UNDER ARMOUR',
 'ADIDAS',
 'Skechers',
 'Puma',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Puma',
 'FORCLAZ By Decathlon',
 'UNDER ARMOUR',
 'Lacoste',
 'UNDER ARMOUR',
 'Puma',
 'UNDER ARMOUR',
 'Puma',
 'Nike',
 'UNDER ARMOUR',
 'Nike',
 'Nike',
 'Nike',
 'PUMA Motorsport',
 'Nike',
 'Nike',
 'Nike',
 'ALDO',
 'Nike',
 'ALDO',
 'ALDO',
 'Nike',
 'Nike',
 'ALDO',
 'Hush Puppies',
 'Nike',
 'Nike',
 'Nike',
 'Puma',
 'Nike',
 'Nike',
 'Nike',
 'Nike',
 'Lacoste',
 'UNDER ARMOUR',
 'Puma',
 'Puma',
 'UNDER ARMOUR',
 'Nike',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Puma',
 'Puma',
 'UNDER ARMOUR',
 'ADIDAS',
 'Skechers',
 'Puma',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Puma',
 'FORCLAZ By Decathlon',
 'UNDER ARMOUR',
 'Lacoste',
 'UNDER ARMOUR',
 'Puma',
 'UNDER ARMOUR',
 'Puma',
 'Nike',
 'UNDER ARMOUR',
 'Nike',
 'Nike',
 'Nike',
 'PUMA Motorsport',
 'Nike',
 'Nike',
 'Nike',
 'ALDO',
 'Nike',
 'ALDO',
 'ALDO',
 'Nike',
 'Nike',
 'ALDO',
 'Hush Puppies',
 'Nike',
 'Nike',
 'Nike',
 'Puma',
 'Nike',
 'Nike',
 'Nike',
 'Nike',
 'Lacoste',
 'UNDER ARMOUR',
 'Puma',
 'Puma',
 'UNDER ARMOUR',
 'Nike',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Puma',
 'Puma',
 'UNDER ARMOUR',
 'ADIDAS',
 'Skechers',
 'Puma',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Puma',
 'FORCLAZ By Decathlon',
 'UNDER ARMOUR',
 'Lacoste',
 'UNDER ARMOUR',
 'Puma',
 'UNDER ARMOUR',
 'Puma',
 'Nike',
 'UNDER ARMOUR',
 'Nike',
 'Nike',
 'Nike',
 'PUMA Motorsport',
 'Nike',
 'Nike',
 'Nike',
 'ALDO',
 'Nike',
 'ALDO',
 'ALDO',
 'Nike',
 'Nike',
 'ALDO',
 'Hush Puppies',
 'Nike',
 'Nike',
 'Nike',
 'Puma',
 'Nike',
 'Nike',
 'Nike',
 'Nike',
 'Lacoste',
 'UNDER ARMOUR',
 'Puma',
 'Puma',
 'UNDER ARMOUR',
 'Nike',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Puma',
 'Puma',
 'UNDER ARMOUR',
 'ADIDAS',
 'Skechers',
 'Puma',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Puma',
 'FORCLAZ By Decathlon',
 'UNDER ARMOUR',
 'Lacoste',
 'UNDER ARMOUR',
 'Puma',
 'UNDER ARMOUR',
 'Puma',
 'Nike',
 'UNDER ARMOUR',
 'Nike',
 'Nike',
 'Nike',
 'PUMA Motorsport',
 'Nike',
 'Nike',
 'Nike',
 'ALDO',
 'Nike',
 'ALDO',
 'ALDO',
 'Nike',
 'Nike',
 'ALDO',
 'Hush Puppies',
 'Nike',
 'Nike',
 'Nike',
 'Puma',
 'Nike',
 'Nike',
 'Nike',
 'Nike',
 'Lacoste',
 'UNDER ARMOUR',
 'Puma',
 'Puma',
 'UNDER ARMOUR',
 'Nike',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Puma',
 'Puma',
 'UNDER ARMOUR',
 'ADIDAS',
 'Skechers',
 'Puma',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Puma',
 'FORCLAZ By Decathlon',
 'UNDER ARMOUR',
 'Lacoste',
 'UNDER ARMOUR',
 'Puma',
 'UNDER ARMOUR',
 'Puma',
 'Nike',
 'UNDER ARMOUR',
 'Nike',
 'Nike',
 'Nike',
 'PUMA Motorsport',
 'Nike',
 'Nike',
 'Nike',
 'ALDO',
 'Nike',
 'ALDO',
 'ALDO',
 'Nike',
 'Nike',
 'ALDO',
 'Hush Puppies',
 'Nike',
 'Nike',
 'Nike',
 'Puma',
 'Nike',
 'Nike',
 'Nike',
 'Nike',
 'Lacoste',
 'UNDER ARMOUR',
 'Puma',
 'Puma',
 'UNDER ARMOUR',
 'Nike',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Puma',
 'Puma',
 'UNDER ARMOUR',
 'ADIDAS',
 'Skechers',
 'Puma',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Puma',
 'FORCLAZ By Decathlon',
 'UNDER ARMOUR',
 'Lacoste',
 'UNDER ARMOUR',
 'Puma',
 'UNDER ARMOUR',
 'Puma',
 'Nike',
 'UNDER ARMOUR',
 'Nike']

In [183]:
desc

['Men KD13 EP Basketball Shoes',
 'Men JOYRIDE Running Shoes',
 'Unisex Mercedes Running Shoes',
 'Men JORDAN MA2 Basketball',
 'REACT PHANTOM Running Shoes',
 'AIR ZOOM PEGASUS Running Shoes',
 'Men Solid Leather Loafers',
 'Men ZOOM FREAK 2 Basketball',
 'Men Solid Loafers',
 'Men Colourblocked Sneakers',
 'Men KD13 EP Basketball Shoes',
 'Men JORDAN Basketball Shoes',
 'Men Leather Oxfords',
 'Men Leather Slip-On Sneakers',
 'Unisex COSMIC UNITY Basketball',
 'Men React Infinity Running',
 'Women AIR MAX UP Sneakers',
 'Unisex RS-X X-Mas Sneakers',
 'Men JORDAN DELTA Basketball',
 'Women PEGASUS 37 Running Shoes',
 'Men AIR ZOOM Running Shoes',
 'Women AIR ZOOM Running Shoes',
 'Men Sneakers Casual Shoes',
 'HOVR Sonic 3 Running Shoes',
 'Men UltraRide Running Shoes',
 'Unisex Sneakers Casual Shoes',
 'Men Liquify Running Shoes',
 'Women REACT Running Shoes',
 'HOVR Velociti 3 Sports Shoes',
 'Men Charged Pursuit 2 Running',
 'Women Eternity Nitro Running',
 'Men Velocity Nitro Running',
 'Men Liquify Running Shoes',
 'Women ULTRABOOST Running',
 'Men GO RUN 7 Running Shoes',
 'Men SPEED 500 2 Running Shoes',
 'Men HOVR Rise 2 Training Shoes',
 'Men Charged Pulse Running Shoe',
 'Men Speedfit 2.0 Hiking Shoes',
 'Men Liberate Nitro Running',
 'Men Trekking Shoes',
 'Unisex SC 3ZER0 IV Basketball',
 'Men Sneakers',
 'TriBase Reign 2 Training Shoes',
 'Men UltraRide Running Shoes',
 'Charged Escape 3 Evo Running',
 'Men Spike 19.1 Cricket Shoes',
 'Men AIR FORCE Leather Sneakers',
 'HOVR Sonic 3 Running Shoes',
 'Men AIR MAX VG-R Sneakers',
 '',
 'Men JOYRIDE Running Shoes',
 'Unisex Mercedes Running Shoes',
 'Men JORDAN MA2 Basketball',
 'REACT PHANTOM Running Shoes',
 'AIR ZOOM PEGASUS Running Shoes',
 'Men Solid Leather Loafers',
 'Men ZOOM FREAK 2 Basketball',
 'Men Solid Loafers',
 'Men Colourblocked Sneakers',
 'Men KD13 EP Basketball Shoes',
 'Men JORDAN Basketball Shoes',
 'Men Leather Oxfords',
 'Men Leather Slip-On Sneakers',
 'Unisex COSMIC UNITY Basketball',
 'Men React Infinity Running',
 'Women AIR MAX UP Sneakers',
 'Unisex RS-X X-Mas Sneakers',
 'Men JORDAN DELTA Basketball',
 'Women PEGASUS 37 Running Shoes',
 'Men AIR ZOOM Running Shoes',
 'Women AIR ZOOM Running Shoes',
 'Men Sneakers Casual Shoes',
 'HOVR Sonic 3 Running Shoes',
 'Men UltraRide Running Shoes',
 'Unisex Sneakers Casual Shoes',
 'Men Liquify Running Shoes',
 'Women REACT Running Shoes',
 'HOVR Velociti 3 Sports Shoes',
 'Men Charged Pursuit 2 Running',
 'Women Eternity Nitro Running',
 'Men Velocity Nitro Running',
 'Men Liquify Running Shoes',
 'Women ULTRABOOST Running',
 'Men GO RUN 7 Running Shoes',
 'Men SPEED 500 2 Running Shoes',
 'Men HOVR Rise 2 Training Shoes',
 'Men Charged Pulse Running Shoe',
 'Men Speedfit 2.0 Hiking Shoes',
 'Men Liberate Nitro Running',
 'Men Trekking Shoes',
 'Unisex SC 3ZER0 IV Basketball',
 'Men Sneakers',
 'TriBase Reign 2 Training Shoes',
 'Men UltraRide Running Shoes',
 'Charged Escape 3 Evo Running',
 'Men Spike 19.1 Cricket Shoes',
 'Men AIR FORCE Leather Sneakers',
 'HOVR Sonic 3 Running Shoes',
 'Men AIR MAX VG-R Sneakers',
 '',
 'Men JOYRIDE Running Shoes',
 'Unisex Mercedes Running Shoes',
 'Men JORDAN MA2 Basketball',
 'REACT PHANTOM Running Shoes',
 'AIR ZOOM PEGASUS Running Shoes',
 'Men Solid Leather Loafers',
 'Men ZOOM FREAK 2 Basketball',
 'Men Solid Loafers',
 'Men Colourblocked Sneakers',
 'Men KD13 EP Basketball Shoes',
 'Men JORDAN Basketball Shoes',
 'Men Leather Oxfords',
 'Men Leather Slip-On Sneakers',
 'Unisex COSMIC UNITY Basketball',
 'Men React Infinity Running',
 'Women AIR MAX UP Sneakers',
 'Unisex RS-X X-Mas Sneakers',
 'Men JORDAN DELTA Basketball',
 'Women PEGASUS 37 Running Shoes',
 'Men AIR ZOOM Running Shoes',
 'Women AIR ZOOM Running Shoes',
 'Men Sneakers Casual Shoes',
 'HOVR Sonic 3 Running Shoes',
 'Men UltraRide Running Shoes',
 'Unisex Sneakers Casual Shoes',
 'Men Liquify Running Shoes',
 'Women REACT Running Shoes',
 'HOVR Velociti 3 Sports Shoes',
 'Men Charged Pursuit 2 Running',
 'Women Eternity Nitro Running',
 'Men Velocity Nitro Running',
 'Men Liquify Running Shoes',
 'Women ULTRABOOST Running',
 'Men GO RUN 7 Running Shoes',
 'Men SPEED 500 2 Running Shoes',
 'Men HOVR Rise 2 Training Shoes',
 'Men Charged Pulse Running Shoe',
 'Men Speedfit 2.0 Hiking Shoes',
 'Men Liberate Nitro Running',
 'Men Trekking Shoes',
 'Unisex SC 3ZER0 IV Basketball',
 'Men Sneakers',
 'TriBase Reign 2 Training Shoes',
 'Men UltraRide Running Shoes',
 'Charged Escape 3 Evo Running',
 'Men Spike 19.1 Cricket Shoes',
 'Men AIR FORCE Leather Sneakers',
 'HOVR Sonic 3 Running Shoes',
 'Men AIR MAX VG-R Sneakers',
 '',
 'Men JOYRIDE Running Shoes',
 'Unisex Mercedes Running Shoes',
 'Men JORDAN MA2 Basketball',
 'REACT PHANTOM Running Shoes',
 'AIR ZOOM PEGASUS Running Shoes',
 'Men Solid Leather Loafers',
 'Men ZOOM FREAK 2 Basketball',
 'Men Solid Loafers',
 'Men Colourblocked Sneakers',
 'Men KD13 EP Basketball Shoes',
 'Men JORDAN Basketball Shoes',
 'Men Leather Oxfords',
 'Men Leather Slip-On Sneakers',
 'Unisex COSMIC UNITY Basketball',
 'Men React Infinity Running',
 'Women AIR MAX UP Sneakers',
 'Unisex RS-X X-Mas Sneakers',
 'Men JORDAN DELTA Basketball',
 'Women PEGASUS 37 Running Shoes',
 'Men AIR ZOOM Running Shoes',
 'Women AIR ZOOM Running Shoes',
 'Men Sneakers Casual Shoes',
 'HOVR Sonic 3 Running Shoes',
 'Men UltraRide Running Shoes',
 'Unisex Sneakers Casual Shoes',
 'Men Liquify Running Shoes',
 'Women REACT Running Shoes',
 'HOVR Velociti 3 Sports Shoes',
 'Men Charged Pursuit 2 Running',
 'Women Eternity Nitro Running',
 'Men Velocity Nitro Running',
 'Men Liquify Running Shoes',
 'Women ULTRABOOST Running',
 'Men GO RUN 7 Running Shoes',
 'Men SPEED 500 2 Running Shoes',
 'Men HOVR Rise 2 Training Shoes',
 'Men Charged Pulse Running Shoe',
 'Men Speedfit 2.0 Hiking Shoes',
 'Men Liberate Nitro Running',
 'Men Trekking Shoes',
 'Unisex SC 3ZER0 IV Basketball',
 'Men Sneakers',
 'TriBase Reign 2 Training Shoes',
 'Men UltraRide Running Shoes',
 'Charged Escape 3 Evo Running',
 'Men Spike 19.1 Cricket Shoes',
 'Men AIR FORCE Leather Sneakers',
 'HOVR Sonic 3 Running Shoes',
 'Men AIR MAX VG-R Sneakers',
 '',
 'Men JOYRIDE Running Shoes',
 'Unisex Mercedes Running Shoes',
 'Men JORDAN MA2 Basketball',
 'REACT PHANTOM Running Shoes',
 'AIR ZOOM PEGASUS Running Shoes',
 'Men Solid Leather Loafers',
 'Men ZOOM FREAK 2 Basketball',
 'Men Solid Loafers',
 'Men Colourblocked Sneakers',
 'Men KD13 EP Basketball Shoes',
 'Men JORDAN Basketball Shoes',
 'Men Leather Oxfords',
 'Men Leather Slip-On Sneakers',
 'Unisex COSMIC UNITY Basketball',
 'Men React Infinity Running',
 'Women AIR MAX UP Sneakers',
 'Unisex RS-X X-Mas Sneakers',
 'Men JORDAN DELTA Basketball',
 'Women PEGASUS 37 Running Shoes',
 'Men AIR ZOOM Running Shoes',
 'Women AIR ZOOM Running Shoes',
 'Men Sneakers Casual Shoes',
 'HOVR Sonic 3 Running Shoes',
 'Men UltraRide Running Shoes',
 'Unisex Sneakers Casual Shoes',
 'Men Liquify Running Shoes',
 'Women REACT Running Shoes',
 'HOVR Velociti 3 Sports Shoes',
 'Men Charged Pursuit 2 Running',
 'Women Eternity Nitro Running',
 'Men Velocity Nitro Running',
 'Men Liquify Running Shoes',
 'Women ULTRABOOST Running',
 'Men GO RUN 7 Running Shoes',
 'Men SPEED 500 2 Running Shoes',
 'Men HOVR Rise 2 Training Shoes',
 'Men Charged Pulse Running Shoe',
 'Men Speedfit 2.0 Hiking Shoes',
 'Men Liberate Nitro Running',
 'Men Trekking Shoes',
 'Unisex SC 3ZER0 IV Basketball',
 'Men Sneakers',
 'TriBase Reign 2 Training Shoes',
 'Men UltraRide Running Shoes',
 'Charged Escape 3 Evo Running',
 'Men Spike 19.1 Cricket Shoes',
 'Men AIR FORCE Leather Sneakers',
 'HOVR Sonic 3 Running Shoes',
 'Men AIR MAX VG-R Sneakers',
 '',
 'Men JOYRIDE Running Shoes',
 'Unisex Mercedes Running Shoes',
 'Men JORDAN MA2 Basketball',
 'REACT PHANTOM Running Shoes',
 'AIR ZOOM PEGASUS Running Shoes',
 'Men Solid Leather Loafers',
 'Men ZOOM FREAK 2 Basketball',
 'Men Solid Loafers',
 'Men Colourblocked Sneakers',
 'Men KD13 EP Basketball Shoes',
 'Men JORDAN Basketball Shoes',
 'Men Leather Oxfords',
 'Men Leather Slip-On Sneakers',
 'Unisex COSMIC UNITY Basketball',
 'Men React Infinity Running',
 'Women AIR MAX UP Sneakers',
 'Unisex RS-X X-Mas Sneakers',
 'Men JORDAN DELTA Basketball',
 'Women PEGASUS 37 Running Shoes',
 'Men AIR ZOOM Running Shoes',
 'Women AIR ZOOM Running Shoes',
 'Men Sneakers Casual Shoes',
 'HOVR Sonic 3 Running Shoes',
 'Men UltraRide Running Shoes',
 'Unisex Sneakers Casual Shoes',
 'Men Liquify Running Shoes',
 'Women REACT Running Shoes',
 'HOVR Velociti 3 Sports Shoes',
 'Men Charged Pursuit 2 Running',
 'Women Eternity Nitro Running',
 'Men Velocity Nitro Running',
 'Men Liquify Running Shoes',
 'Women ULTRABOOST Running',
 'Men GO RUN 7 Running Shoes',
 'Men SPEED 500 2 Running Shoes',
 'Men HOVR Rise 2 Training Shoes',
 'Men Charged Pulse Running Shoe',
 'Men Speedfit 2.0 Hiking Shoes',
 'Men Liberate Nitro Running',
 'Men Trekking Shoes',
 'Unisex SC 3ZER0 IV Basketball',
 'Men Sneakers',
 'TriBase Reign 2 Training Shoes',
 'Men UltraRide Running Shoes',
 'Charged Escape 3 Evo Running',
 'Men Spike 19.1 Cricket Shoes',
 'Men AIR FORCE Leather Sneakers',
 'HOVR Sonic 3 Running Shoes',
 'Men AIR MAX VG-R Sneakers',
 '',
 'Men JOYRIDE Running Shoes',
 'Unisex Mercedes Running Shoes',
 'Men JORDAN MA2 Basketball',
 'REACT PHANTOM Running Shoes',
 'AIR ZOOM PEGASUS Running Shoes',
 'Men Solid Leather Loafers',
 'Men ZOOM FREAK 2 Basketball',
 'Men Solid Loafers',
 'Men Colourblocked Sneakers',
 'Men KD13 EP Basketball Shoes',
 'Men JORDAN Basketball Shoes',
 'Men Leather Oxfords',
 'Men Leather Slip-On Sneakers',
 'Unisex COSMIC UNITY Basketball',
 'Men React Infinity Running',
 'Women AIR MAX UP Sneakers',
 'Unisex RS-X X-Mas Sneakers',
 'Men JORDAN DELTA Basketball',
 'Women PEGASUS 37 Running Shoes',
 'Men AIR ZOOM Running Shoes',
 'Women AIR ZOOM Running Shoes',
 'Men Sneakers Casual Shoes',
 'HOVR Sonic 3 Running Shoes',
 'Men UltraRide Running Shoes',
 'Unisex Sneakers Casual Shoes',
 'Men Liquify Running Shoes',
 'Women REACT Running Shoes',
 'HOVR Velociti 3 Sports Shoes',
 'Men Charged Pursuit 2 Running',
 'Women Eternity Nitro Running',
 'Men Velocity Nitro Running',
 'Men Liquify Running Shoes',
 'Women ULTRABOOST Running',
 'Men GO RUN 7 Running Shoes',
 'Men SPEED 500 2 Running Shoes',
 'Men HOVR Rise 2 Training Shoes',
 'Men Charged Pulse Running Shoe',
 'Men Speedfit 2.0 Hiking Shoes',
 'Men Liberate Nitro Running',
 'Men Trekking Shoes',
 'Unisex SC 3ZER0 IV Basketball',
 'Men Sneakers',
 'TriBase Reign 2 Training Shoes',
 'Men UltraRide Running Shoes',
 'Charged Escape 3 Evo Running',
 'Men Spike 19.1 Cricket Shoes',
 'Men AIR FORCE Leather Sneakers',
 'HOVR Sonic 3 Running Shoes',
 'Men AIR MAX VG-R Sneakers',
 'Men KD13 EP Basketball Shoes',
 'Men JOYRIDE Running Shoes',
 'Unisex Mercedes Running Shoes',
 'Men JORDAN MA2 Basketball',
 'REACT PHANTOM Running Shoes',
 'AIR ZOOM PEGASUS Running Shoes',
 'Men Solid Leather Loafers',
 'Men ZOOM FREAK 2 Basketball',
 'Men Solid Loafers',
 'Men Colourblocked Sneakers',
 'Men KD13 EP Basketball Shoes',
 'Men JORDAN Basketball Shoes',
 'Men Leather Oxfords',
 'Men Leather Slip-On Sneakers',
 'Unisex COSMIC UNITY Basketball',
 'Men React Infinity Running',
 'Women AIR MAX UP Sneakers',
 'Unisex RS-X X-Mas Sneakers',
 'Men JORDAN DELTA Basketball',
 'Women PEGASUS 37 Running Shoes',
 'Men AIR ZOOM Running Shoes',
 'Women AIR ZOOM Running Shoes',
 'Men Sneakers Casual Shoes',
 'HOVR Sonic 3 Running Shoes',
 'Men UltraRide Running Shoes',
 'Unisex Sneakers Casual Shoes',
 'Men Liquify Running Shoes',
 'Women REACT Running Shoes',
 'HOVR Velociti 3 Sports Shoes',
 'Men Charged Pursuit 2 Running',
 'Women Eternity Nitro Running',
 'Men Velocity Nitro Running',
 'Men Liquify Running Shoes',
 'Women ULTRABOOST Running',
 'Men GO RUN 7 Running Shoes',
 'Men SPEED 500 2 Running Shoes',
 'Men HOVR Rise 2 Training Shoes',
 'Men Charged Pulse Running Shoe',
 'Men Speedfit 2.0 Hiking Shoes',
 'Men Liberate Nitro Running',
 'Men Trekking Shoes',
 'Unisex SC 3ZER0 IV Basketball',
 'Men Sneakers',
 'TriBase Reign 2 Training Shoes',
 'Men UltraRide Running Shoes',
 'Charged Escape 3 Evo Running',
 'Men Spike 19.1 Cricket Shoes',
 'Men AIR FORCE Leather Sneakers',
 'HOVR Sonic 3 Running Shoes',
 'Men AIR MAX VG-R Sneakers',
 '',
 'Men JOYRIDE Running Shoes',
 'Unisex Mercedes Running Shoes',
 'Men JORDAN MA2 Basketball',
 'REACT PHANTOM Running Shoes',
 'AIR ZOOM PEGASUS Running Shoes',
 'Men Solid Leather Loafers',
 'Men ZOOM FREAK 2 Basketball',
 'Men Solid Loafers',
 'Men Colourblocked Sneakers',
 'Men KD13 EP Basketball Shoes',
 'Men JORDAN Basketball Shoes',
 'Men Leather Oxfords',
 'Men Leather Slip-On Sneakers',
 'Unisex COSMIC UNITY Basketball',
 'Men React Infinity Running',
 'Women AIR MAX UP Sneakers',
 'Unisex RS-X X-Mas Sneakers',
 'Men JORDAN DELTA Basketball',
 'Women PEGASUS 37 Running Shoes',
 'Men AIR ZOOM Running Shoes',
 'Women AIR ZOOM Running Shoes',
 'Men Sneakers Casual Shoes',
 'HOVR Sonic 3 Running Shoes',
 'Men UltraRide Running Shoes',
 'Unisex Sneakers Casual Shoes',
 'Men Liquify Running Shoes',
 'Women REACT Running Shoes',
 'HOVR Velociti 3 Sports Shoes',
 'Men Charged Pursuit 2 Running',
 'Women Eternity Nitro Running',
 'Men Velocity Nitro Running',
 'Men Liquify Running Shoes',
 'Women ULTRABOOST Running',
 'Men GO RUN 7 Running Shoes',
 'Men SPEED 500 2 Running Shoes',
 'Men HOVR Rise 2 Training Shoes',
 'Men Charged Pulse Running Shoe',
 'Men Speedfit 2.0 Hiking Shoes',
 'Men Liberate Nitro Running',
 'Men Trekking Shoes',
 'Unisex SC 3ZER0 IV Basketball',
 'Men Sneakers',
 'TriBase Reign 2 Training Shoes',
 'Men UltraRide Running Shoes',
 'Charged Escape 3 Evo Running',
 'Men Spike 19.1 Cricket Shoes',
 'Men AIR FORCE Leather Sneakers',
 'HOVR Sonic 3 Running Shoes',
 'Men AIR MAX VG-R Sneakers',
 '',
 'Men JOYRIDE Running Shoes',
 'Unisex Mercedes Running Shoes',
 'Men JORDAN MA2 Basketball',
 'REACT PHANTOM Running Shoes',
 'AIR ZOOM PEGASUS Running Shoes',
 'Men Solid Leather Loafers',
 'Men ZOOM FREAK 2 Basketball',
 'Men Solid Loafers',
 'Men Colourblocked Sneakers',
 'Men KD13 EP Basketball Shoes',
 'Men JORDAN Basketball Shoes',
 'Men Leather Oxfords',
 'Men Leather Slip-On Sneakers',
 'Unisex COSMIC UNITY Basketball',
 'Men React Infinity Running',
 'Women AIR MAX UP Sneakers',
 'Unisex RS-X X-Mas Sneakers',
 'Men JORDAN DELTA Basketball',
 'Women PEGASUS 37 Running Shoes',
 'Men AIR ZOOM Running Shoes',
 'Women AIR ZOOM Running Shoes',
 'Men Sneakers Casual Shoes',
 'HOVR Sonic 3 Running Shoes',
 'Men UltraRide Running Shoes',
 'Unisex Sneakers Casual Shoes',
 'Men Liquify Running Shoes',
 'Women REACT Running Shoes',
 'HOVR Velociti 3 Sports Shoes',
 'Men Charged Pursuit 2 Running',
 'Women Eternity Nitro Running',
 'Men Velocity Nitro Running',
 'Men Liquify Running Shoes',
 'Women ULTRABOOST Running',
 'Men GO RUN 7 Running Shoes',
 'Men SPEED 500 2 Running Shoes',
 'Men HOVR Rise 2 Training Shoes',
 'Men Charged Pulse Running Shoe',
 'Men Speedfit 2.0 Hiking Shoes',
 'Men Liberate Nitro Running',
 'Men Trekking Shoes',
 'Unisex SC 3ZER0 IV Basketball',
 'Men Sneakers',
 'TriBase Reign 2 Training Shoes',
 'Men UltraRide Running Shoes',
 'Charged Escape 3 Evo Running',
 'Men Spike 19.1 Cricket Shoes',
 'Men AIR FORCE Leather Sneakers',
 'HOVR Sonic 3 Running Shoes',
 'Men AIR MAX VG-R Sneakers']

In [184]:
price

['Rs. 11246',
 'Rs. 8996',
 'Rs. 7799',
 'Rs. 8750',
 'Rs. 6999',
 'Rs. 11199',
 'Rs. 12145',
 'Rs. 11621',
 'Rs. 8621',
 'Rs. 6999',
 'Rs. 7496',
 'Rs. 7721',
 'Rs. 8236',
 'Rs. 8799',
 'Rs. 8099',
 'Rs. 8799',
 'Rs. 8996',
 'Rs. 9599',
 'Rs. 9099',
 'Rs. 8799',
 'Rs. 12349',
 'Rs. 7999',
 'Rs. 6999',
 'Rs. 7999',
 'Rs. 10399',
 'Rs. 7199',
 'Rs. 9599',
 'Rs. 8099',
 'Rs. 8799',
 'Rs. 6965',
 'Rs. 11246',
 'Rs. 8996',
 'Rs. 7799',
 'Rs. 8750',
 'Rs. 6999',
 'Rs. 11199',
 'Rs. 12145',
 'Rs. 11621',
 'Rs. 8621',
 'Rs. 6999',
 'Rs. 7496',
 'Rs. 7721',
 'Rs. 8236',
 'Rs. 8799',
 'Rs. 8099',
 'Rs. 8799',
 'Rs. 8996',
 'Rs. 9599',
 'Rs. 9099',
 'Rs. 8799',
 'Rs. 12349',
 'Rs. 7999',
 'Rs. 6999',
 'Rs. 7999',
 'Rs. 10399',
 'Rs. 7199',
 'Rs. 9599',
 'Rs. 8099',
 'Rs. 8799',
 'Rs. 6965',
 'Rs. 11246',
 'Rs. 8996',
 'Rs. 7799',
 'Rs. 8750',
 'Rs. 6999',
 'Rs. 11199',
 'Rs. 12145',
 'Rs. 11621',
 'Rs. 8621',
 'Rs. 6999',
 'Rs. 7496',
 'Rs. 7721',
 'Rs. 8236',
 'Rs. 8799',
 'Rs. 8099',
 'Rs. 8799',
 'Rs. 8996',
 'Rs. 9599',
 'Rs. 9099',
 'Rs. 8799',
 'Rs. 12349',
 'Rs. 7999',
 'Rs. 6999',
 'Rs. 7999',
 'Rs. 10399',
 'Rs. 7199',
 'Rs. 9599',
 'Rs. 8099',
 'Rs. 8799',
 'Rs. 6965',
 'Rs. 11246',
 'Rs. 8996',
 'Rs. 7799',
 'Rs. 8750',
 'Rs. 6999',
 'Rs. 11199',
 'Rs. 12145',
 'Rs. 11621',
 'Rs. 8621',
 'Rs. 6999',
 'Rs. 7496',
 'Rs. 7721',
 'Rs. 8236',
 'Rs. 8799',
 'Rs. 8099',
 'Rs. 8799',
 'Rs. 8996',
 'Rs. 9599',
 'Rs. 9099',
 'Rs. 8799',
 'Rs. 12349',
 'Rs. 7999',
 'Rs. 6999',
 'Rs. 7999',
 'Rs. 10399',
 'Rs. 7199',
 'Rs. 9599',
 'Rs. 8099',
 'Rs. 8799',
 'Rs. 6965',
 'Rs. 11246',
 'Rs. 8996',
 'Rs. 7799',
 'Rs. 8750',
 'Rs. 6999',
 'Rs. 11199',
 'Rs. 12145',
 'Rs. 11621',
 'Rs. 8621',
 'Rs. 6999',
 'Rs. 7496',
 'Rs. 7721',
 'Rs. 8236',
 'Rs. 8799',
 'Rs. 8099',
 'Rs. 8799',
 'Rs. 8996',
 'Rs. 9599',
 'Rs. 9099',
 'Rs. 8799',
 'Rs. 12349',
 'Rs. 7999',
 'Rs. 6999',
 'Rs. 7999',
 'Rs. 10399',
 'Rs. 7199',
 'Rs. 9599',
 'Rs. 8099',
 'Rs. 8799',
 'Rs. 6965',
 'Rs. 11246',
 'Rs. 8996',
 'Rs. 7799',
 'Rs. 8750',
 'Rs. 6999',
 'Rs. 11199',
 'Rs. 12145',
 'Rs. 11621',
 'Rs. 8621',
 'Rs. 6999',
 'Rs. 7496',
 'Rs. 7721',
 'Rs. 8236',
 'Rs. 8799',
 'Rs. 8099',
 'Rs. 8799',
 'Rs. 8996',
 'Rs. 9599',
 'Rs. 9099',
 'Rs. 8799',
 'Rs. 12349',
 'Rs. 7999',
 'Rs. 6999',
 'Rs. 7999',
 'Rs. 10399',
 'Rs. 7199',
 'Rs. 9599',
 'Rs. 8099',
 'Rs. 8799',
 'Rs. 6965',
 'Rs. 11246',
 'Rs. 8996',
 'Rs. 7799',
 'Rs. 8750',
 'Rs. 6999',
 'Rs. 11199',
 'Rs. 12145',
 'Rs. 11621',
 'Rs. 8621',
 'Rs. 6999',
 'Rs. 7496',
 'Rs. 7721',
 'Rs. 8236',
 'Rs. 8799',
 'Rs. 8099',
 'Rs. 8799',
 'Rs. 8996',
 'Rs. 9599',
 'Rs. 9099',
 'Rs. 8799',
 'Rs. 12349',
 'Rs. 7999',
 'Rs. 6999',
 'Rs. 7999',
 'Rs. 10399',
 'Rs. 7199',
 'Rs. 9599',
 'Rs. 8099',
 'Rs. 8799',
 'Rs. 6965',
 'Rs. 11246',
 'Rs. 8996',
 'Rs. 7799',
 'Rs. 8750',
 'Rs. 6999',
 'Rs. 11199',
 'Rs. 12145',
 'Rs. 11621',
 'Rs. 8621',
 'Rs. 6999',
 'Rs. 7496',
 'Rs. 7721',
 'Rs. 8236',
 'Rs. 8799',
 'Rs. 8099',
 'Rs. 8799',
 'Rs. 8996',
 'Rs. 9599',
 'Rs. 9099',
 'Rs. 8799',
 'Rs. 12349',
 'Rs. 7999',
 'Rs. 6999',
 'Rs. 7999',
 'Rs. 10399',
 'Rs. 7199',
 'Rs. 9599',
 'Rs. 8099',
 'Rs. 8799',
 'Rs. 6965',
 'Rs. 11246',
 'Rs. 8996',
 'Rs. 7799',
 'Rs. 8750',
 'Rs. 6999',
 'Rs. 11199',
 'Rs. 12145',
 'Rs. 11621',
 'Rs. 8621',
 'Rs. 6999',
 'Rs. 7496',
 'Rs. 7721',
 'Rs. 8236',
 'Rs. 8799',
 'Rs. 8099',
 'Rs. 8799',
 'Rs. 8996',
 'Rs. 9599',
 'Rs. 9099',
 'Rs. 8799',
 'Rs. 12349',
 'Rs. 7999',
 'Rs. 6999',
 'Rs. 7999',
 'Rs. 10399',
 'Rs. 7199',
 'Rs. 9599',
 'Rs. 8099',
 'Rs. 8799',
 'Rs. 6965',
 'Rs. 11246',
 'Rs. 8996',
 'Rs. 7799',
 'Rs. 8750',
 'Rs. 6999',
 'Rs. 11199',
 'Rs. 12145',
 'Rs. 11621',
 'Rs. 8621',
 'Rs. 6999',
 'Rs. 7496',
 'Rs. 7721',
 'Rs. 8236',
 'Rs. 8799',
 'Rs. 8099',
 'Rs. 8799',
 'Rs. 8996',
 'Rs. 9599',
 'Rs. 9099',
 'Rs. 8799',
 'Rs. 12349',
 'Rs. 7999',
 'Rs. 6999',
 'Rs. 7999',
 'Rs. 10399',
 'Rs. 7199',
 'Rs. 9599',
 'Rs. 8099',
 'Rs. 8799',
 'Rs. 6965']

In [185]:
# will check number of data extracted
print(len(brand),len(desc),len(price))

500 500 300

In [186]:
# in list type. not in string so no need for eval()
import pandas as pd

df1 = pd.DataFrame(brand,columns=['Brand of Shoes'])
df1

      Brand of Shoes
0               Nike
1               Nike
2    PUMA Motorsport
3               Nike
4               Nike
..               ...
495     UNDER ARMOUR
496             Puma
497             Nike
498     UNDER ARMOUR
499             Nike

[500 rows x 1 columns]

In [187]:
df2 = pd.DataFrame(desc,columns=['Description of shoes'])
df2

               Description of shoes
0      Men KD13 EP Basketball Shoes
1         Men JOYRIDE Running Shoes
2     Unisex Mercedes Running Shoes
3         Men JORDAN MA2 Basketball
4       REACT PHANTOM Running Shoes
..                              ...
495    Charged Escape 3 Evo Running
496    Men Spike 19.1 Cricket Shoes
497  Men AIR FORCE Leather Sneakers
498      HOVR Sonic 3 Running Shoes
499       Men AIR MAX VG-R Sneakers

[500 rows x 1 columns]

In [188]:
df3 = pd.DataFrame(price,columns=['Price'])
df3

         Price
0    Rs. 11246
1     Rs. 8996
2     Rs. 7799
3     Rs. 8750
4     Rs. 6999
..         ...
295   Rs. 7199
296   Rs. 9599
297   Rs. 8099
298   Rs. 8799
299   Rs. 6965

[300 rows x 1 columns]

In [189]:
result = pd.concat([df1, df2], axis=1, join='inner')
result

      Brand of Shoes            Description of shoes
0               Nike    Men KD13 EP Basketball Shoes
1               Nike       Men JOYRIDE Running Shoes
2    PUMA Motorsport   Unisex Mercedes Running Shoes
3               Nike       Men JORDAN MA2 Basketball
4               Nike     REACT PHANTOM Running Shoes
..               ...                             ...
495     UNDER ARMOUR    Charged Escape 3 Evo Running
496             Puma    Men Spike 19.1 Cricket Shoes
497             Nike  Men AIR FORCE Leather Sneakers
498     UNDER ARMOUR      HOVR Sonic 3 Running Shoes
499             Nike       Men AIR MAX VG-R Sneakers

[500 rows x 2 columns]

In [190]:
result = pd.concat([result, df3], axis=1, join='inner')
result

      Brand of Shoes            Description of shoes      Price
0               Nike    Men KD13 EP Basketball Shoes  Rs. 11246
1               Nike       Men JOYRIDE Running Shoes   Rs. 8996
2    PUMA Motorsport   Unisex Mercedes Running Shoes   Rs. 7799
3               Nike       Men JORDAN MA2 Basketball   Rs. 8750
4               Nike     REACT PHANTOM Running Shoes   Rs. 6999
..               ...                             ...        ...
295     UNDER ARMOUR    Charged Escape 3 Evo Running   Rs. 7199
296             Puma    Men Spike 19.1 Cricket Shoes   Rs. 9599
297             Nike  Men AIR FORCE Leather Sneakers   Rs. 8099
298     UNDER ARMOUR      HOVR Sonic 3 Running Shoes   Rs. 8799
299             Nike       Men AIR MAX VG-R Sneakers   Rs. 6965

[300 rows x 3 columns]

In [191]:
result = result.drop(result.index[100:],axis = 0)
result

     Brand of Shoes            Description of shoes      Price
0              Nike    Men KD13 EP Basketball Shoes  Rs. 11246
1              Nike       Men JOYRIDE Running Shoes   Rs. 8996
2   PUMA Motorsport   Unisex Mercedes Running Shoes   Rs. 7799
3              Nike       Men JORDAN MA2 Basketball   Rs. 8750
4              Nike     REACT PHANTOM Running Shoes   Rs. 6999
..              ...                             ...        ...
95     UNDER ARMOUR    Charged Escape 3 Evo Running  Rs. 11199
96             Puma    Men Spike 19.1 Cricket Shoes  Rs. 12145
97             Nike  Men AIR FORCE Leather Sneakers  Rs. 11621
98     UNDER ARMOUR      HOVR Sonic 3 Running Shoes   Rs. 8621
99             Nike       Men AIR MAX VG-R Sneakers   Rs. 6999

[100 rows x 3 columns]

# Ques 10> Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”

In [214]:
url = 'https://www.amazon.in/'
driver.get(url)

In [215]:
#finding element for job search bar
search_job= driver.find_element_by_id('twotabsearchtextbox')
search_job

In [216]:
#write on search bar
search_job.send_keys("Laptop")

In [217]:
# do click using xpath function
search_btn = driver.find_element_by_xpath("//span[@id='nav-search-submit-text']")
search_btn.click()

#### Observation: amazon.in don't allows mutliselect at the same time. eg, it dont allows to select i7 as well as i9 at the same time. so, will do seperately

### i7

In [218]:
#finding element for cpu type
cpu1= driver.find_element_by_xpath("//ul[@class='a-unordered-list a-nostyle a-vertical a-spacing-medium']/li[@id='p_n_feature_thirteen_browse-bin/12598163031']/span/a/div")
# cpu2= driver.find_element_by_xpath("//ul[@class='a-unordered-list a-nostyle a-vertical a-spacing-medium']/li[@id='p_n_feature_thirteen_browse-bin/16757432031']/span/a/div")

cpu1.click()
# cpu2.click()

Extraction is to be done for: 1> title 2>rating 3> price

In [219]:
title=[]
rating=[]
price=[]

In [243]:
import time
for i in range(0,1):
    for j in driver.find_elements_by_xpath('//div[@class="a-section a-spacing-none"]/h2'):
        title.append(j.text)
    for k in driver.find_elements_by_xpath('//div[@class="a-section a-spacing-none a-spacing-top-micro"]'):
        rating.append(k.text)
    for l in driver.find_elements_by_xpath('//span[@class="a-price-whole"]'):
        price.append(l.text)
    driver.find_element_by_xpath('//ul[@class="a-pagination"]/li/a').click()
    time.sleep(4)

In [244]:
title

['Dell XPS 9570 15.6" (39.62cms) UHD Laptop (8th Gen i9-8950HK/32GB/1TB SSD/Win 10 + MS Office/Integrated Graphics), Silver',
 'ASUS ROG G703GI-E5148T 17.3" (43.94 cms) FHD 144Hz/3ms Gaming Laptop (8th Gen Intel Core i9-8950HK/64GB/2TB SSHD + 1.5TB NVMe SSD/Windows 10/GTX 1080 8GB Graphics/4.70 Kg), Aluminum',
 'ASUS ZenBook Pro Duo Intel Core i9-10980HK 10th Gen 15.6" 4K UHD OLED Touchscreen Laptop (32GB RAM/1TB NVMe SSD/Windows 10/6GB NVIDIA GeForce RTX 2060 Graphics/Celestial Blue/2.5 Kg), UX581LV-H2035T',
 'Dell XPS 9570 15.6" (39.62cms) UHD Laptop (8th Gen i9-8950HK/32GB/1TB SSD/Win 10 + MS Office/Integrated Graphics), Silver',
 'Lenovo Legion 7 10th Gen Intel Core i9 15.6 inch Full HD Gaming Laptop (16GB/1TB SSD/Windows 10/MS Office 2019/144 Hz/NVIDIA RTX 2080 8GB GDDR6 Graphics/Slate Grey/2.25Kg), 81YU006HIN',
 'Dell G7 7500 15.6inch FHD 300 Hz Display Gaming Laptop (10th Gen i9-10885H / 16 GB / 1TB SSD / NVIDIA RTX 2070 8GB Graphics / 1Yr Premium Warranty / Win 10 + MS Office H&S 2019) D560233WIN9B, Black',
 'ASUS ROG Strix Scar 17 (2020), 17.3" FHD 300Hz/3ms, Intel Core i9-10980HK 10th Gen, RTX 2080 Super GDDR6 8GB Graphics, Gaming Laptop (32GB/2TB RAID 0 SSD/Windows 10/Black/2.99 Kg), G732LXS-HG059T',
 'ASUS ZenBook Pro Duo UX581 Intel Core i9 9th Gen 15.6" 4K UHD OLED Touchscreen Laptop (32GB RAM/1TB NVMe SSD/Windows 10/6GB GDDR6 Graphics Card/ScreenPad Plus/Celestial Blue/2.50 Kg), UX581GV-H9201T',
 '(Renewed) Dell XPS 9570 Laptop|i9-8950HK|32GB DDR4|1TB SSD|15.6" 4K Touch|NVIDIA GTX 1050Ti 4GB|Win 10 HSL|Backlit',
 'HP Omen X 2S Core i9 9th Gen 15.6-inch Dual Screen Gaming Laptop (16GB/2TB SSD/Windows 10/8GB NVIDIA RTX 2080 Graphics/Shadow Black), 15-dg0019TX',
 'Apple MacBook Pro (16-inch, 16GB RAM, 1TB Storage, 2.3GHz 9th Gen Intel Core i9) - Space Grey',
 'ASUS ROG Zephyrus Duo 15, 15.6" FHD 300Hz/3ms, Intel Core i9-10980HK 10th Gen, RTX 2080 SUPER Max-Q 8GB Graphic, Gaming Laptop (32GB/2TB RAID 0 SSD/Office 2019/Windows 10/Gray/2.4 Kg) GX550LXS-HF168TS',
 'HP Z4 Workstation, Intel Core i9-7900X, RAM 32GB (4x8GB), 2TB Hard Disk, GFX NVIDIA Quadro P2000 5GB (4) DP, Windows 10 Pro, DVDRW, 3 Yrs Onsite Warranty by HP',
 'Dell Inspiron 5406 14" FHD Touch Display 2in1 Laptop (11th Gen i7-1165G7 / 8Gb / 512Gb SSD / Integrated Graphics / Win 10 + MSO / Titan Grey Color / FPR/ Active Pen) D560414WIN9S',
 'Life Digital Laptop 15.6-inch (39.62 cms) (Intel Core i7, 4GB RAM, 256GB SSD, Windows 10), ZED AIR CX7',
 'Life Digital Laptop 15.6-inch (39.62 cms) (Intel Core i7, 8GB RAM, 512GB SSD, Windows 10), ZED AIR CX7',
 'Mi Notebook Horizon Edition 14 Intel Core i5-10210U 10th Gen 14-inch (35.56 cms) Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AR+Webcam',
 'Dell Inspiron 7306 i7 11th Gen, x360 13.3" 4K UHD Touch Laptop, 16GB RAM, 512GB SSD + 32GB Optane, Windows 10 Home, Intel Iris XE Graphics, Dell Active Pen, Dell Waves MaxxAudio, Element Black Color',
 'Lenovo Yoga Slim 7i 11th Gen Intel Core i7 14" FHD IPS Thin and Light Laptop (16GB/1TB SSD/Win 10/Office/Intel Iris Xe Graphics/Fingerprint/HD IR Camera/Aluminium Surface/Slate Grey/1.36Kg) 82A3009QIN',
 'HP Pavilion x360 (2021) 14" (35.56cms) FHD Touchscreen Laptop, 11th Gen Core i7, 8 GB RAM, 512GB SSD, 2-in-1 Convertible, Windows 10, MS Office, Finger Print Reader (14-dw1040TU)',
 'Dell Inspiron 5406 14" FHD Touch Display 2in1 Laptop (11th Gen i7-1165G7 / 8Gb / 512Gb SSD / Integrated Graphics / Win 10 + MSO / Titan Grey Color / FPR/ Active Pen) D560414WIN9S',
 'HP Pavilion Gaming 10th Gen Intel Core i7 Processor 15.6-inch FHD Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/Windows 10/NVIDIA 1650Ti 4GB/Shadow Black), 15-dk1509TX',
 '(Renewed) Dell Intel 6th Gen Core i7-6820HQ 15-Inch (38.1 cms) 1366x768 Laptop (8 GB/500 GB HDD/Windows/MS Office Pro 2019 /AMD/Black/2.47 Kg), Latitude E5570',
 '(Renewed) Dell Latitude E6420 14 Inch Laptop (Core I7 2460M/4GB/320GB/Nvidia Dedicated Graphics/Windows Professional/MS Office), Dark Grey',
 'Life Digital Laptop 15.6-inch (39.62 cms) (Intel Core i7, 4GB RAM, 256GB SSD, Windows 10), ZED AIR CX7',
 'Acer Nitro 5 Intel Core i7-9th Gen 17.3-inch Display 1920 x 1080 Gaming Laptop (8GB Ram/1 TB HDD/256 GB SSD/Window 10 Home/4GB NVIDIA GeForce GTX 1650 Graphics/Black), AN517-51',
 '(Renewed) Lenovo Intel 4th Gen Core i7-4980HQ 12.5-Inch (31.75 cms) Touchscreen Full HD (1920 X 1080) Pixels Laptop (8 GB/500 GB/Windows 10 Pro/Black/3 Kg), LENOVO THINKPAD YOGA S1',
 'Mi Notebook Horizon Edition 14 Intel Core i5-10210U 10th Gen 14-inch (35.56 cms) Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AR+Webcam',
 'Lenovo Yoga 7 11th Gen Intel Core i7 14" (35.56cms) Full HD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Windows 10/MS Office 2019/Fingerprint Reader/Slate Grey/Aluminium Surface/1.43Kg), 82BH004HIN',
 'Asus ROG Zephyrus S Ultra Slim Gaming Laptop, 15.6" 144Hz IPS Type FHD, GeForce RTX 2070, Intel Core i7-8750H, 16GB DDR4, 512GB PCIe NVMe SSD, Aura Sync RGB, Windows 10, GX531GW-AS76',
 'Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 14-inch FHD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Win 10/Office 2019/Lenovo Digital Pen Stylus/Fingerprint Reader/Graphite Grey/1.5Kg), 82HS0092IN',
 'Lenovo 2019 Yoga C930 2-in-1 13.9" 4K UHD Touch-Screen Laptop (Intel i7, 16GB DDR4, 1TB PCI-e SSD, 2X Thunderbolt 3, Dolby Atmos Audio, Webcam, WiFi, Windows 10, Active Pen, 3 LBS, 0.6", Mica)',
 '(Renewed) Lenovo T430 14-inch Laptop (Core i7/ 16GB RAM /1TB HDD/Windows 10 Pro/MS Office 2019, Intel Integrated Graphics, PAN INDIA WARRANTY) Black',
 'Lenovo Legion Y540 Intel Core i7 9th Gen 15.6” FHD Gaming (8GB/256SSD + 1TBHDD/Win10/NVIDIA GeForce GTX 1650 4GB/Raven Black/2.3kg), 81SY00U7IN',
 'MSI GE75 Raider 10SFS 17.3" FHD Gaming Laptop - Core i7-10875H+HM470 I DDR IV 8GB*2 (3200MHz) I 512GB NVMe PCIe SSD +1TB (SATA) 7200rpm I NVIDIA RTX2070 Super, GDDR6 8GB I Windows 10 Home - Black',
 'HP Pavilion Gaming 10th Gen Intel Core i7 Processor 15.6-inch FHD Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/Windows 10/NVIDIA 1650 4GB/Shadow Black), 15-dk1151TX',
 'Lenovo IdeaPad Gaming 3 10th Gen Intel Core i7 15.6-inch FHD IPS Gaming Laptop (8GB/1TB HDD + 256 GB SSD/Windows 10/NVIDIA GTX 1650 4GB GDDR6/with M100 RGB Gaming Mouse/Onyx Black/2.2Kg), 81Y400VAIN',
 'OMEN by HP 15.6-inch 10th Gen Intel Core i7-10870H Processor FHD Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/144Hz Refresh Rate/Win 10/NVIDIA RTX 3060 6GB/Shadow Black), 15-ek1017TX',
 'ASUS VivoBook S S14 Intel Core i7-1165G7 11th Gen, 14-inch FHD Thin and Light Laptop (8GB RAM/512GB SSD + 32GB Optane Memory/Windows 10/Office 2019/Iris X Graphics- Indie Black/1.4 Kg), S433EA-AM701TS',
 'Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6" FHD Gaming Laptop (16GB/1TB SSD/Windows 10/MS Office 2019/144 Hz/NVIDIA RTX 2060 6GB GDDR6/with M300 RGB Gaming Mouse/Iron Grey/2.3Kg), 82AW005SIN',
 'Lenovo Yoga 7 11th Gen Intel Core i7 14" (35.56cms) Full HD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Windows 10/MS Office 2019/Fingerprint Reader/Slate Grey/Aluminium Surface/1.43Kg), 82BH004HIN',
 'Dell Inspiron 7490 i7-10510U, 8GB RAM, 512GB NVMe SSD, 14" Full HD 1920x1080 Non Touchscreen, Fingerprint Reader, Windows 10 Home, USB C, HDMI, USB 3.1, Silver',
 'Acer Swift 5 14" (35.56cms) Full HD IPS Display with Touchscreen Ultra Thin and Light Notebook (Intel i7 - 11th Gen/16GB RAM/1TB SSD/Win10/Intel Iris Xe Graphics/1.05 Kg/Mist Green), SF514-55TA']

In [245]:
price

['2,49,990',
 '4,13,890',
 '3,11,000',
 '2,49,990',
 '2,62,990',
 '2,00,690',
 '2,77,639',
 '2,79,990',
 '1,89,900',
 '3,45,800',
 '2,15,990',
 '2,66,990',
 '2,69,900',
 '86,990',
 '24,990',
 '29,990',
 '53,999',
 '1,17,999',
 '97,990',
 '78,593',
 '86,990',
 '84,990',
 '61,799',
 '34,000',
 '24,990',
 '69,990',
 '46,290',
 '53,999',
 '99,990',
 '3,43,099',
 '83,990',
 '2,16,327',
 '37,999',
 '68,990',
 '1,84,990',
 '77,990',
 '1,34,999',
 '79,980',
 '1,35,490',
 '99,990',
 '84,999',
 '91,999']

In [246]:
rating

['5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 'Get it by Tuesday, May 25\nFREE Delivery by Amazon\nOnly 1 left in stock.',
 '3',
 'Get it by Sunday, May 23\nFREE Delivery by Amazon',
 '11',
 'Get it by Sunday, May 23\nFREE Delivery by Amazon',
 '732',
 'FREE Delivery by Amazon',
 'Get it by Sunday, May 23\nFREE Delivery by Amazon\nOnly 2 left in stock.',
 'Get it by Sunday, May 23\nFREE Delivery by Amazon',
 '15',
 'Get it by Monday, May 24\nFREE Delivery by Amazon',
 '4',
 'Get it by Tuesday, May 25\nFREE Delivery by Amazon\nOnly 1 left in stock.',
 '4',
 'Get it by Monday, May 24\nFREE Delivery by Amazon',
 'Get it by Wednesday, May 26\nFREE Delivery by Amazon',
 'Get it by Wednesday, May 26\nFREE Delivery by Amazon',
 '3',
 'Get it by Sunday, May 23\nFREE Delivery by Amazon',
 '10',
 'Get it by Thursday, May 27\nFREE Delivery by Amazon',
 '2',
 'Get it by Monday, May 24\nFREE Delivery by Amazon',
 '732',
 'FREE Delivery by Amazon',
 '6',
 'Get it by Sunday, May 23\nFREE Delivery by Amazon\nOnly 1 left in stock.',
 '114',
 'Get it Monday, June 7 - Monday, June 14\nFREE Delivery',
 '11',
 'FREE Delivery by Amazon\nIn stock on May 25, 2021.',
 '40',
 'Get it Monday, June 7 - Monday, June 14\nFREE Delivery',
 'Get it by Tuesday, May 25\nFREE Delivery by Amazon\nOnly 1 left in stock.',
 '6',
 'Get it by Monday, May 24\nFREE Delivery by Amazon',
 '2',
 'Get it by Tuesday, May 25\nFREE Delivery by Amazon\nOnly 1 left in stock.',
 '13',
 '25',
 'Get it by Sunday, May 23\nFREE Delivery by Amazon\nOnly 2 left in stock.',
 '4',
 'Get it by Sunday, May 23\nFREE Delivery by Amazon',
 '61',
 'Get it Thursday, May 27 - Monday, May 31\nFREE Delivery\nOnly 1 left in stock.',
 '60',
 'Get it by Wednesday, May 26\nFREE Delivery by Amazon',
 '6',
 'Get it by Sunday, May 23\nFREE Delivery by Amazon\nOnly 1 left in stock.',
 'Get it by Sunday, May 23\nFREE Delivery by Amazon',
 '16',
 'Get it by Thursday, May 27\nFREE Delivery by Amazon']

In [247]:
# will check number of data extracted
print(len(title),len(rating),len(price))

43 153 42

In [224]:
# in list type. not in string so no need for eval()
import pandas as pd

df1 = pd.DataFrame(title,columns=['Title of Laptop for i7'])
df1

                               Title of Laptop for i7
0   Dell Inspiron 5406 14" FHD Touch Display 2in1 ...
1   Lenovo Yoga Slim 7 10th Gen Intel Core i7 14 i...
2   Life Digital Laptop 15.6-inch (39.62 cms) (Int...
3   Mi Notebook Horizon Edition 14 Intel Core i5-1...
4   Dell Inspiron 7306 i7 11th Gen, x360 13.3" 4K ...
5   Lenovo Yoga Slim 7i 11th Gen Intel Core i7 14"...
6   HP Pavilion x360 (2021) 14" (35.56cms) FHD Tou...
7   Dell Inspiron 5406 14" FHD Touch Display 2in1 ...
8   HP Pavilion Gaming 10th Gen Intel Core i7 Proc...
9   (Renewed) Dell Intel 6th Gen Core i7-6820HQ 15...
10  (Renewed) Dell Latitude E6420 14 Inch Laptop (...
11  Life Digital Laptop 15.6-inch (39.62 cms) (Int...
12  Acer Nitro 5 Intel Core i7-9th Gen 17.3-inch D...
13  (Renewed) Lenovo Intel 4th Gen Core i7-4980HQ ...
14  Mi Notebook Horizon Edition 14 Intel Core i5-1...
15  Dell Inspiron 7490 i7-10510U, 8GB RAM, 512GB N...
16  Asus ROG Zephyrus S Ultra Slim Gaming Laptop, ...
17  Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...
18  Lenovo 2019 Yoga C930 2-in-1 13.9" 4K UHD Touc...
19  (Renewed) Lenovo T430 14-inch Laptop (Core i7/...
20  Lenovo Legion Y540 Intel Core i7 9th Gen 15.6”...
21  MSI GE75 Raider 10SFS 17.3" FHD Gaming Laptop ...
22  HP Pavilion Gaming 10th Gen Intel Core i7 Proc...
23  Lenovo IdeaPad Gaming 3 10th Gen Intel Core i7...
24  OMEN by HP 15.6-inch 10th Gen Intel Core i7-10...
25  ASUS VivoBook S S14 Intel Core i7-1165G7 11th ...
26  Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6"...
27  Lenovo Yoga 7 11th Gen Intel Core i7 14" (35.5...
28  Acer Swift 5 14" (35.56cms) Full HD IPS Displa...

In [296]:
df2 = pd.DataFrame(rating,columns=['Ratings'])
df2

                                               Ratings
0                                                   25
1    Get it by Monday, May 24\nFREE Delivery by Amazon
2                                                   29
3    Get it by Monday, May 24\nFREE Delivery by Ama...
4                                                    4
..                                                 ...
109
110
111
112
113

[114 rows x 1 columns]

In [249]:
df3 = pd.DataFrame(price,columns=['Price of Laptop'])
df3

   Price of Laptop
0         2,49,990
1         4,13,890
2         3,11,000
3         2,49,990
4         2,62,990
5         2,00,690
6         2,77,639
7         2,79,990
8         1,89,900
9         3,45,800
10        2,15,990
11        2,66,990
12        2,69,900
13          86,990
14          24,990
15          29,990
16          53,999
17        1,17,999
18          97,990
19          78,593
20          86,990
21          84,990
22          61,799
23          34,000
24          24,990
25          69,990
26          46,290
27          53,999
28          99,990
29        3,43,099
30          83,990
31        2,16,327
32          37,999
33          68,990
34        1,84,990
35          77,990
36        1,34,999
37          79,980
38        1,35,490
39          99,990
40          84,999
41          91,999

In [250]:
result = pd.concat([df1, df2], axis=1, join='inner')
result

                               Title of Laptop for i9 Ratings
0   Dell XPS 9570 15.6" (39.62cms) UHD Laptop (8th...       5
1   ASUS ROG G703GI-E5148T 17.3" (43.94 cms) FHD 1...       5
2   ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...       5
3   Dell XPS 9570 15.6" (39.62cms) UHD Laptop (8th...       5
4   Lenovo Legion 7 10th Gen Intel Core i9 15.6 in...       4
5   Dell G7 7500 15.6inch FHD 300 Hz Display Gamin...       5
6   ASUS ROG Strix Scar 17 (2020), 17.3" FHD 300Hz...       5
7   ASUS ZenBook Pro Duo UX581 Intel Core i9 9th G...       5
8   (Renewed) Dell XPS 9570 Laptop|i9-8950HK|32GB ...       5
9   HP Omen X 2S Core i9 9th Gen 15.6-inch Dual Sc...       5
10  Apple MacBook Pro (16-inch, 16GB RAM, 1TB Stor...       5
11  ASUS ROG Zephyrus Duo 15, 15.6" FHD 300Hz/3ms,...       5
12  HP Z4 Workstation, Intel Core i9-7900X, RAM 32...       5

In [251]:
result = pd.concat([result, df3], axis=1, join='inner')
result

                               Title of Laptop for i9 Ratings Price of Laptop
0   Dell XPS 9570 15.6" (39.62cms) UHD Laptop (8th...       5        2,49,990
1   ASUS ROG G703GI-E5148T 17.3" (43.94 cms) FHD 1...       5        4,13,890
2   ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...       5        3,11,000
3   Dell XPS 9570 15.6" (39.62cms) UHD Laptop (8th...       5        2,49,990
4   Lenovo Legion 7 10th Gen Intel Core i9 15.6 in...       4        2,62,990
5   Dell G7 7500 15.6inch FHD 300 Hz Display Gamin...       5        2,00,690
6   ASUS ROG Strix Scar 17 (2020), 17.3" FHD 300Hz...       5        2,77,639
7   ASUS ZenBook Pro Duo UX581 Intel Core i9 9th G...       5        2,79,990
8   (Renewed) Dell XPS 9570 Laptop|i9-8950HK|32GB ...       5        1,89,900
9   HP Omen X 2S Core i9 9th Gen 15.6-inch Dual Sc...       5        3,45,800
10  Apple MacBook Pro (16-inch, 16GB RAM, 1TB Stor...       5        2,15,990
11  ASUS ROG Zephyrus Duo 15, 15.6" FHD 300Hz/3ms,...       5        2,66,990
12  HP Z4 Workstation, Intel Core i9-7900X, RAM 32...       5        2,69,900

In [252]:
result = result.drop(result.index[10:],axis = 0)
result

                              Title of Laptop for i9 Ratings Price of Laptop
0  Dell XPS 9570 15.6" (39.62cms) UHD Laptop (8th...       5        2,49,990
1  ASUS ROG G703GI-E5148T 17.3" (43.94 cms) FHD 1...       5        4,13,890
2  ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...       5        3,11,000
3  Dell XPS 9570 15.6" (39.62cms) UHD Laptop (8th...       5        2,49,990
4  Lenovo Legion 7 10th Gen Intel Core i9 15.6 in...       4        2,62,990
5  Dell G7 7500 15.6inch FHD 300 Hz Display Gamin...       5        2,00,690
6  ASUS ROG Strix Scar 17 (2020), 17.3" FHD 300Hz...       5        2,77,639
7  ASUS ZenBook Pro Duo UX581 Intel Core i9 9th G...       5        2,79,990
8  (Renewed) Dell XPS 9570 Laptop|i9-8950HK|32GB ...       5        1,89,900
9  HP Omen X 2S Core i9 9th Gen 15.6-inch Dual Sc...       5        3,45,800

### i9

In [253]:
#finding element for job search bar
search= driver.find_element_by_id('twotabsearchtextbox')
search

In [254]:
#write on search bar
search.clear()
search.send_keys("Laptop")

In [255]:
# do click using xpath function
search_btn = driver.find_element_by_xpath("//span[@id='nav-search-submit-text']")
search_btn.click()

In [256]:
#finding element for cpu type
# cpu1= driver.find_element_by_xpath("//ul[@class='a-unordered-list a-nostyle a-vertical a-spacing-medium']/li[@id='p_n_feature_thirteen_browse-bin/12598163031']/span/a/div")
cpu2= driver.find_element_by_xpath("//ul[@class='a-unordered-list a-nostyle a-vertical a-spacing-medium']/li[@id='p_n_feature_thirteen_browse-bin/16757432031']/span/a/div")

# cpu1.click()
cpu2.click()

In [257]:
title=[]
rating=[]
price=[]

In [289]:
import time
# for i in range(0,1):
for j in driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]'):
        title.append(j.text)
for k in driver.find_elements_by_xpath('//span[@class="a-icon-alt"]'):
        rating.append(k.text)
for l in driver.find_elements_by_xpath('//span[@class="a-price-whole"]'):
        price.append(l.text)
#     driver.find_element_by_xpath('//ul[@class="a-pagination"]/li/a').click()
time.sleep(4)

In [290]:
title

['Dell XPS 9570 15.6" (39.62cms) UHD Laptop (8th Gen i9-8950HK/32GB/1TB SSD/Win 10 + MS Office/Integrated Graphics), Silver',
 'ASUS ROG G703GI-E5148T 17.3" (43.94 cms) FHD 144Hz/3ms Gaming Laptop (8th Gen Intel Core i9-8950HK/64GB/2TB SSHD + 1.5TB NVMe SSD/Windows 10/GTX 1080 8GB Graphics/4.70 Kg), Aluminum',
 'ASUS ZenBook Pro Duo Intel Core i9-10980HK 10th Gen 15.6" 4K UHD OLED Touchscreen Laptop (32GB RAM/1TB NVMe SSD/Windows 10/6GB NVIDIA GeForce RTX 2060 Graphics/Celestial Blue/2.5 Kg), UX581LV-H2035T',
 'Dell XPS 9570 15.6" (39.62cms) UHD Laptop (8th Gen i9-8950HK/32GB/1TB SSD/Win 10 + MS Office/Integrated Graphics), Silver',
 'Lenovo Legion 7 10th Gen Intel Core i9 15.6 inch Full HD Gaming Laptop (16GB/1TB SSD/Windows 10/MS Office 2019/144 Hz/NVIDIA RTX 2080 8GB GDDR6 Graphics/Slate Grey/2.25Kg), 81YU006HIN',
 'Dell G7 7500 15.6inch FHD 300 Hz Display Gaming Laptop (10th Gen i9-10885H / 16 GB / 1TB SSD / NVIDIA RTX 2070 8GB Graphics / 1Yr Premium Warranty / Win 10 + MS Office H&S 2019) D560233WIN9B, Black',
 'ASUS ROG Strix Scar 17 (2020), 17.3" FHD 300Hz/3ms, Intel Core i9-10980HK 10th Gen, RTX 2080 Super GDDR6 8GB Graphics, Gaming Laptop (32GB/2TB RAID 0 SSD/Windows 10/Black/2.99 Kg), G732LXS-HG059T',
 'ASUS ZenBook Pro Duo UX581 Intel Core i9 9th Gen 15.6" 4K UHD OLED Touchscreen Laptop (32GB RAM/1TB NVMe SSD/Windows 10/6GB GDDR6 Graphics Card/ScreenPad Plus/Celestial Blue/2.50 Kg), UX581GV-H9201T',
 '(Renewed) Dell XPS 9570 Laptop|i9-8950HK|32GB DDR4|1TB SSD|15.6" 4K Touch|NVIDIA GTX 1050Ti 4GB|Win 10 HSL|Backlit',
 'HP Omen X 2S Core i9 9th Gen 15.6-inch Dual Screen Gaming Laptop (16GB/2TB SSD/Windows 10/8GB NVIDIA RTX 2080 Graphics/Shadow Black), 15-dg0019TX',
 'Apple MacBook Pro (16-inch, 16GB RAM, 1TB Storage, 2.3GHz 9th Gen Intel Core i9) - Space Grey',
 'ASUS ROG Zephyrus Duo 15, 15.6" FHD 300Hz/3ms, Intel Core i9-10980HK 10th Gen, RTX 2080 SUPER Max-Q 8GB Graphic, Gaming Laptop (32GB/2TB RAID 0 SSD/Office 2019/Windows 10/Gray/2.4 Kg) GX550LXS-HF168TS',
 'HP Z4 Workstation, Intel Core i9-7900X, RAM 32GB (4x8GB), 2TB Hard Disk, GFX NVIDIA Quadro P2000 5GB (4) DP, Windows 10 Pro, DVDRW, 3 Yrs Onsite Warranty by HP',
 'Dell XPS 9570 15.6" (39.62cms) UHD Laptop (8th Gen i9-8950HK/32GB/1TB SSD/Win 10 + MS Office/Integrated Graphics), Silver',
 'ASUS ROG G703GI-E5148T 17.3" (43.94 cms) FHD 144Hz/3ms Gaming Laptop (8th Gen Intel Core i9-8950HK/64GB/2TB SSHD + 1.5TB NVMe SSD/Windows 10/GTX 1080 8GB Graphics/4.70 Kg), Aluminum',
 'ASUS ZenBook Pro Duo Intel Core i9-10980HK 10th Gen 15.6" 4K UHD OLED Touchscreen Laptop (32GB RAM/1TB NVMe SSD/Windows 10/6GB NVIDIA GeForce RTX 2060 Graphics/Celestial Blue/2.5 Kg), UX581LV-H2035T',
 'Dell XPS 9570 15.6" (39.62cms) UHD Laptop (8th Gen i9-8950HK/32GB/1TB SSD/Win 10 + MS Office/Integrated Graphics), Silver',
 'Lenovo Legion 7 10th Gen Intel Core i9 15.6 inch Full HD Gaming Laptop (16GB/1TB SSD/Windows 10/MS Office 2019/144 Hz/NVIDIA RTX 2080 8GB GDDR6 Graphics/Slate Grey/2.25Kg), 81YU006HIN',
 'Dell G7 7500 15.6inch FHD 300 Hz Display Gaming Laptop (10th Gen i9-10885H / 16 GB / 1TB SSD / NVIDIA RTX 2070 8GB Graphics / 1Yr Premium Warranty / Win 10 + MS Office H&S 2019) D560233WIN9B, Black',
 'ASUS ROG Strix Scar 17 (2020), 17.3" FHD 300Hz/3ms, Intel Core i9-10980HK 10th Gen, RTX 2080 Super GDDR6 8GB Graphics, Gaming Laptop (32GB/2TB RAID 0 SSD/Windows 10/Black/2.99 Kg), G732LXS-HG059T',
 'ASUS ZenBook Pro Duo UX581 Intel Core i9 9th Gen 15.6" 4K UHD OLED Touchscreen Laptop (32GB RAM/1TB NVMe SSD/Windows 10/6GB GDDR6 Graphics Card/ScreenPad Plus/Celestial Blue/2.50 Kg), UX581GV-H9201T',
 '(Renewed) Dell XPS 9570 Laptop|i9-8950HK|32GB DDR4|1TB SSD|15.6" 4K Touch|NVIDIA GTX 1050Ti 4GB|Win 10 HSL|Backlit',
 'HP Omen X 2S Core i9 9th Gen 15.6-inch Dual Screen Gaming Laptop (16GB/2TB SSD/Windows 10/8GB NVIDIA RTX 2080 Graphics/Shadow Black), 15-dg0019TX',
 'Apple MacBook Pro (16-inch, 16GB RAM, 1TB Storage, 2.3GHz 9th Gen Intel Core i9) - Space Grey',
 'ASUS ROG Zephyrus Duo 15, 15.6" FHD 300Hz/3ms, Intel Core i9-10980HK 10th Gen, RTX 2080 SUPER Max-Q 8GB Graphic, Gaming Laptop (32GB/2TB RAID 0 SSD/Office 2019/Windows 10/Gray/2.4 Kg) GX550LXS-HF168TS',
 'HP Z4 Workstation, Intel Core i9-7900X, RAM 32GB (4x8GB), 2TB Hard Disk, GFX NVIDIA Quadro P2000 5GB (4) DP, Windows 10 Pro, DVDRW, 3 Yrs Onsite Warranty by HP',
 'Dell XPS 9570 15.6" (39.62cms) UHD Laptop (8th Gen i9-8950HK/32GB/1TB SSD/Win 10 + MS Office/Integrated Graphics), Silver',
 'ASUS ROG G703GI-E5148T 17.3" (43.94 cms) FHD 144Hz/3ms Gaming Laptop (8th Gen Intel Core i9-8950HK/64GB/2TB SSHD + 1.5TB NVMe SSD/Windows 10/GTX 1080 8GB Graphics/4.70 Kg), Aluminum',
 'ASUS ZenBook Pro Duo Intel Core i9-10980HK 10th Gen 15.6" 4K UHD OLED Touchscreen Laptop (32GB RAM/1TB NVMe SSD/Windows 10/6GB NVIDIA GeForce RTX 2060 Graphics/Celestial Blue/2.5 Kg), UX581LV-H2035T',
 'Dell XPS 9570 15.6" (39.62cms) UHD Laptop (8th Gen i9-8950HK/32GB/1TB SSD/Win 10 + MS Office/Integrated Graphics), Silver',
 'Lenovo Legion 7 10th Gen Intel Core i9 15.6 inch Full HD Gaming Laptop (16GB/1TB SSD/Windows 10/MS Office 2019/144 Hz/NVIDIA RTX 2080 8GB GDDR6 Graphics/Slate Grey/2.25Kg), 81YU006HIN',
 'Dell G7 7500 15.6inch FHD 300 Hz Display Gaming Laptop (10th Gen i9-10885H / 16 GB / 1TB SSD / NVIDIA RTX 2070 8GB Graphics / 1Yr Premium Warranty / Win 10 + MS Office H&S 2019) D560233WIN9B, Black',
 'ASUS ROG Strix Scar 17 (2020), 17.3" FHD 300Hz/3ms, Intel Core i9-10980HK 10th Gen, RTX 2080 Super GDDR6 8GB Graphics, Gaming Laptop (32GB/2TB RAID 0 SSD/Windows 10/Black/2.99 Kg), G732LXS-HG059T',
 'ASUS ZenBook Pro Duo UX581 Intel Core i9 9th Gen 15.6" 4K UHD OLED Touchscreen Laptop (32GB RAM/1TB NVMe SSD/Windows 10/6GB GDDR6 Graphics Card/ScreenPad Plus/Celestial Blue/2.50 Kg), UX581GV-H9201T',
 '(Renewed) Dell XPS 9570 Laptop|i9-8950HK|32GB DDR4|1TB SSD|15.6" 4K Touch|NVIDIA GTX 1050Ti 4GB|Win 10 HSL|Backlit',
 'HP Omen X 2S Core i9 9th Gen 15.6-inch Dual Screen Gaming Laptop (16GB/2TB SSD/Windows 10/8GB NVIDIA RTX 2080 Graphics/Shadow Black), 15-dg0019TX',
 'Apple MacBook Pro (16-inch, 16GB RAM, 1TB Storage, 2.3GHz 9th Gen Intel Core i9) - Space Grey',
 'ASUS ROG Zephyrus Duo 15, 15.6" FHD 300Hz/3ms, Intel Core i9-10980HK 10th Gen, RTX 2080 SUPER Max-Q 8GB Graphic, Gaming Laptop (32GB/2TB RAID 0 SSD/Office 2019/Windows 10/Gray/2.4 Kg) GX550LXS-HF168TS',
 'HP Z4 Workstation, Intel Core i9-7900X, RAM 32GB (4x8GB), 2TB Hard Disk, GFX NVIDIA Quadro P2000 5GB (4) DP, Windows 10 Pro, DVDRW, 3 Yrs Onsite Warranty by HP',
 'Dell XPS 9570 15.6" (39.62cms) UHD Laptop (8th Gen i9-8950HK/32GB/1TB SSD/Win 10 + MS Office/Integrated Graphics), Silver',
 'ASUS ROG G703GI-E5148T 17.3" (43.94 cms) FHD 144Hz/3ms Gaming Laptop (8th Gen Intel Core i9-8950HK/64GB/2TB SSHD + 1.5TB NVMe SSD/Windows 10/GTX 1080 8GB Graphics/4.70 Kg), Aluminum',
 'ASUS ZenBook Pro Duo Intel Core i9-10980HK 10th Gen 15.6" 4K UHD OLED Touchscreen Laptop (32GB RAM/1TB NVMe SSD/Windows 10/6GB NVIDIA GeForce RTX 2060 Graphics/Celestial Blue/2.5 Kg), UX581LV-H2035T',
 'Dell XPS 9570 15.6" (39.62cms) UHD Laptop (8th Gen i9-8950HK/32GB/1TB SSD/Win 10 + MS Office/Integrated Graphics), Silver',
 'Lenovo Legion 7 10th Gen Intel Core i9 15.6 inch Full HD Gaming Laptop (16GB/1TB SSD/Windows 10/MS Office 2019/144 Hz/NVIDIA RTX 2080 8GB GDDR6 Graphics/Slate Grey/2.25Kg), 81YU006HIN',
 'Dell G7 7500 15.6inch FHD 300 Hz Display Gaming Laptop (10th Gen i9-10885H / 16 GB / 1TB SSD / NVIDIA RTX 2070 8GB Graphics / 1Yr Premium Warranty / Win 10 + MS Office H&S 2019) D560233WIN9B, Black',
 'ASUS ROG Strix Scar 17 (2020), 17.3" FHD 300Hz/3ms, Intel Core i9-10980HK 10th Gen, RTX 2080 Super GDDR6 8GB Graphics, Gaming Laptop (32GB/2TB RAID 0 SSD/Windows 10/Black/2.99 Kg), G732LXS-HG059T',
 'ASUS ZenBook Pro Duo UX581 Intel Core i9 9th Gen 15.6" 4K UHD OLED Touchscreen Laptop (32GB RAM/1TB NVMe SSD/Windows 10/6GB GDDR6 Graphics Card/ScreenPad Plus/Celestial Blue/2.50 Kg), UX581GV-H9201T',
 '(Renewed) Dell XPS 9570 Laptop|i9-8950HK|32GB DDR4|1TB SSD|15.6" 4K Touch|NVIDIA GTX 1050Ti 4GB|Win 10 HSL|Backlit',
 'HP Omen X 2S Core i9 9th Gen 15.6-inch Dual Screen Gaming Laptop (16GB/2TB SSD/Windows 10/8GB NVIDIA RTX 2080 Graphics/Shadow Black), 15-dg0019TX',
 'Apple MacBook Pro (16-inch, 16GB RAM, 1TB Storage, 2.3GHz 9th Gen Intel Core i9) - Space Grey',
 'ASUS ROG Zephyrus Duo 15, 15.6" FHD 300Hz/3ms, Intel Core i9-10980HK 10th Gen, RTX 2080 SUPER Max-Q 8GB Graphic, Gaming Laptop (32GB/2TB RAID 0 SSD/Office 2019/Windows 10/Gray/2.4 Kg) GX550LXS-HF168TS',
 'HP Z4 Workstation, Intel Core i9-7900X, RAM 32GB (4x8GB), 2TB Hard Disk, GFX NVIDIA Quadro P2000 5GB (4) DP, Windows 10 Pro, DVDRW, 3 Yrs Onsite Warranty by HP',
 'Dell XPS 9570 15.6" (39.62cms) UHD Laptop (8th Gen i9-8950HK/32GB/1TB SSD/Win 10 + MS Office/Integrated Graphics), Silver',
 'ASUS ROG G703GI-E5148T 17.3" (43.94 cms) FHD 144Hz/3ms Gaming Laptop (8th Gen Intel Core i9-8950HK/64GB/2TB SSHD + 1.5TB NVMe SSD/Windows 10/GTX 1080 8GB Graphics/4.70 Kg), Aluminum',
 'ASUS ZenBook Pro Duo Intel Core i9-10980HK 10th Gen 15.6" 4K UHD OLED Touchscreen Laptop (32GB RAM/1TB NVMe SSD/Windows 10/6GB NVIDIA GeForce RTX 2060 Graphics/Celestial Blue/2.5 Kg), UX581LV-H2035T',
 'Dell XPS 9570 15.6" (39.62cms) UHD Laptop (8th Gen i9-8950HK/32GB/1TB SSD/Win 10 + MS Office/Integrated Graphics), Silver',
 'Lenovo Legion 7 10th Gen Intel Core i9 15.6 inch Full HD Gaming Laptop (16GB/1TB SSD/Windows 10/MS Office 2019/144 Hz/NVIDIA RTX 2080 8GB GDDR6 Graphics/Slate Grey/2.25Kg), 81YU006HIN',
 'Dell G7 7500 15.6inch FHD 300 Hz Display Gaming Laptop (10th Gen i9-10885H / 16 GB / 1TB SSD / NVIDIA RTX 2070 8GB Graphics / 1Yr Premium Warranty / Win 10 + MS Office H&S 2019) D560233WIN9B, Black',
 'ASUS ROG Strix Scar 17 (2020), 17.3" FHD 300Hz/3ms, Intel Core i9-10980HK 10th Gen, RTX 2080 Super GDDR6 8GB Graphics, Gaming Laptop (32GB/2TB RAID 0 SSD/Windows 10/Black/2.99 Kg), G732LXS-HG059T',
 'ASUS ZenBook Pro Duo UX581 Intel Core i9 9th Gen 15.6" 4K UHD OLED Touchscreen Laptop (32GB RAM/1TB NVMe SSD/Windows 10/6GB GDDR6 Graphics Card/ScreenPad Plus/Celestial Blue/2.50 Kg), UX581GV-H9201T',
 '(Renewed) Dell XPS 9570 Laptop|i9-8950HK|32GB DDR4|1TB SSD|15.6" 4K Touch|NVIDIA GTX 1050Ti 4GB|Win 10 HSL|Backlit',
 'HP Omen X 2S Core i9 9th Gen 15.6-inch Dual Screen Gaming Laptop (16GB/2TB SSD/Windows 10/8GB NVIDIA RTX 2080 Graphics/Shadow Black), 15-dg0019TX',
 'Apple MacBook Pro (16-inch, 16GB RAM, 1TB Storage, 2.3GHz 9th Gen Intel Core i9) - Space Grey',
 'ASUS ROG Zephyrus Duo 15, 15.6" FHD 300Hz/3ms, Intel Core i9-10980HK 10th Gen, RTX 2080 SUPER Max-Q 8GB Graphic, Gaming Laptop (32GB/2TB RAID 0 SSD/Office 2019/Windows 10/Gray/2.4 Kg) GX550LXS-HF168TS',
 'HP Z4 Workstation, Intel Core i9-7900X, RAM 32GB (4x8GB), 2TB Hard Disk, GFX NVIDIA Quadro P2000 5GB (4) DP, Windows 10 Pro, DVDRW, 3 Yrs Onsite Warranty by HP',
 'Dell XPS 9570 15.6" (39.62cms) UHD Laptop (8th Gen i9-8950HK/32GB/1TB SSD/Win 10 + MS Office/Integrated Graphics), Silver',
 'ASUS ROG G703GI-E5148T 17.3" (43.94 cms) FHD 144Hz/3ms Gaming Laptop (8th Gen Intel Core i9-8950HK/64GB/2TB SSHD + 1.5TB NVMe SSD/Windows 10/GTX 1080 8GB Graphics/4.70 Kg), Aluminum',
 'ASUS ZenBook Pro Duo Intel Core i9-10980HK 10th Gen 15.6" 4K UHD OLED Touchscreen Laptop (32GB RAM/1TB NVMe SSD/Windows 10/6GB NVIDIA GeForce RTX 2060 Graphics/Celestial Blue/2.5 Kg), UX581LV-H2035T',
 'Dell XPS 9570 15.6" (39.62cms) UHD Laptop (8th Gen i9-8950HK/32GB/1TB SSD/Win 10 + MS Office/Integrated Graphics), Silver',
 'Lenovo Legion 7 10th Gen Intel Core i9 15.6 inch Full HD Gaming Laptop (16GB/1TB SSD/Windows 10/MS Office 2019/144 Hz/NVIDIA RTX 2080 8GB GDDR6 Graphics/Slate Grey/2.25Kg), 81YU006HIN',
 'Dell G7 7500 15.6inch FHD 300 Hz Display Gaming Laptop (10th Gen i9-10885H / 16 GB / 1TB SSD / NVIDIA RTX 2070 8GB Graphics / 1Yr Premium Warranty / Win 10 + MS Office H&S 2019) D560233WIN9B, Black',
 'ASUS ROG Strix Scar 17 (2020), 17.3" FHD 300Hz/3ms, Intel Core i9-10980HK 10th Gen, RTX 2080 Super GDDR6 8GB Graphics, Gaming Laptop (32GB/2TB RAID 0 SSD/Windows 10/Black/2.99 Kg), G732LXS-HG059T',
 'ASUS ZenBook Pro Duo UX581 Intel Core i9 9th Gen 15.6" 4K UHD OLED Touchscreen Laptop (32GB RAM/1TB NVMe SSD/Windows 10/6GB GDDR6 Graphics Card/ScreenPad Plus/Celestial Blue/2.50 Kg), UX581GV-H9201T',
 '(Renewed) Dell XPS 9570 Laptop|i9-8950HK|32GB DDR4|1TB SSD|15.6" 4K Touch|NVIDIA GTX 1050Ti 4GB|Win 10 HSL|Backlit',
 'HP Omen X 2S Core i9 9th Gen 15.6-inch Dual Screen Gaming Laptop (16GB/2TB SSD/Windows 10/8GB NVIDIA RTX 2080 Graphics/Shadow Black), 15-dg0019TX',
 'Apple MacBook Pro (16-inch, 16GB RAM, 1TB Storage, 2.3GHz 9th Gen Intel Core i9) - Space Grey',
 'ASUS ROG Zephyrus Duo 15, 15.6" FHD 300Hz/3ms, Intel Core i9-10980HK 10th Gen, RTX 2080 SUPER Max-Q 8GB Graphic, Gaming Laptop (32GB/2TB RAID 0 SSD/Office 2019/Windows 10/Gray/2.4 Kg) GX550LXS-HF168TS',
 'HP Z4 Workstation, Intel Core i9-7900X, RAM 32GB (4x8GB), 2TB Hard Disk, GFX NVIDIA Quadro P2000 5GB (4) DP, Windows 10 Pro, DVDRW, 3 Yrs Onsite Warranty by HP',
 'Dell XPS 9570 15.6" (39.62cms) UHD Laptop (8th Gen i9-8950HK/32GB/1TB SSD/Win 10 + MS Office/Integrated Graphics), Silver',
 'ASUS ROG G703GI-E5148T 17.3" (43.94 cms) FHD 144Hz/3ms Gaming Laptop (8th Gen Intel Core i9-8950HK/64GB/2TB SSHD + 1.5TB NVMe SSD/Windows 10/GTX 1080 8GB Graphics/4.70 Kg), Aluminum',
 'ASUS ZenBook Pro Duo Intel Core i9-10980HK 10th Gen 15.6" 4K UHD OLED Touchscreen Laptop (32GB RAM/1TB NVMe SSD/Windows 10/6GB NVIDIA GeForce RTX 2060 Graphics/Celestial Blue/2.5 Kg), UX581LV-H2035T',
 'Dell XPS 9570 15.6" (39.62cms) UHD Laptop (8th Gen i9-8950HK/32GB/1TB SSD/Win 10 + MS Office/Integrated Graphics), Silver',
 'Lenovo Legion 7 10th Gen Intel Core i9 15.6 inch Full HD Gaming Laptop (16GB/1TB SSD/Windows 10/MS Office 2019/144 Hz/NVIDIA RTX 2080 8GB GDDR6 Graphics/Slate Grey/2.25Kg), 81YU006HIN',
 'Dell G7 7500 15.6inch FHD 300 Hz Display Gaming Laptop (10th Gen i9-10885H / 16 GB / 1TB SSD / NVIDIA RTX 2070 8GB Graphics / 1Yr Premium Warranty / Win 10 + MS Office H&S 2019) D560233WIN9B, Black',
 'ASUS ROG Strix Scar 17 (2020), 17.3" FHD 300Hz/3ms, Intel Core i9-10980HK 10th Gen, RTX 2080 Super GDDR6 8GB Graphics, Gaming Laptop (32GB/2TB RAID 0 SSD/Windows 10/Black/2.99 Kg), G732LXS-HG059T',
 'ASUS ZenBook Pro Duo UX581 Intel Core i9 9th Gen 15.6" 4K UHD OLED Touchscreen Laptop (32GB RAM/1TB NVMe SSD/Windows 10/6GB GDDR6 Graphics Card/ScreenPad Plus/Celestial Blue/2.50 Kg), UX581GV-H9201T',
 '(Renewed) Dell XPS 9570 Laptop|i9-8950HK|32GB DDR4|1TB SSD|15.6" 4K Touch|NVIDIA GTX 1050Ti 4GB|Win 10 HSL|Backlit',
 'HP Omen X 2S Core i9 9th Gen 15.6-inch Dual Screen Gaming Laptop (16GB/2TB SSD/Windows 10/8GB NVIDIA RTX 2080 Graphics/Shadow Black), 15-dg0019TX',
 'Apple MacBook Pro (16-inch, 16GB RAM, 1TB Storage, 2.3GHz 9th Gen Intel Core i9) - Space Grey',
 'ASUS ROG Zephyrus Duo 15, 15.6" FHD 300Hz/3ms, Intel Core i9-10980HK 10th Gen, RTX 2080 SUPER Max-Q 8GB Graphic, Gaming Laptop (32GB/2TB RAID 0 SSD/Office 2019/Windows 10/Gray/2.4 Kg) GX550LXS-HF168TS',
 'HP Z4 Workstation, Intel Core i9-7900X, RAM 32GB (4x8GB), 2TB Hard Disk, GFX NVIDIA Quadro P2000 5GB (4) DP, Windows 10 Pro, DVDRW, 3 Yrs Onsite Warranty by HP',
 'Dell XPS 9570 15.6" (39.62cms) UHD Laptop (8th Gen i9-8950HK/32GB/1TB SSD/Win 10 + MS Office/Integrated Graphics), Silver',
 'ASUS ROG G703GI-E5148T 17.3" (43.94 cms) FHD 144Hz/3ms Gaming Laptop (8th Gen Intel Core i9-8950HK/64GB/2TB SSHD + 1.5TB NVMe SSD/Windows 10/GTX 1080 8GB Graphics/4.70 Kg), Aluminum',
 'ASUS ZenBook Pro Duo Intel Core i9-10980HK 10th Gen 15.6" 4K UHD OLED Touchscreen Laptop (32GB RAM/1TB NVMe SSD/Windows 10/6GB NVIDIA GeForce RTX 2060 Graphics/Celestial Blue/2.5 Kg), UX581LV-H2035T',
 'Dell XPS 9570 15.6" (39.62cms) UHD Laptop (8th Gen i9-8950HK/32GB/1TB SSD/Win 10 + MS Office/Integrated Graphics), Silver',
 'Lenovo Legion 7 10th Gen Intel Core i9 15.6 inch Full HD Gaming Laptop (16GB/1TB SSD/Windows 10/MS Office 2019/144 Hz/NVIDIA RTX 2080 8GB GDDR6 Graphics/Slate Grey/2.25Kg), 81YU006HIN',
 'Dell G7 7500 15.6inch FHD 300 Hz Display Gaming Laptop (10th Gen i9-10885H / 16 GB / 1TB SSD / NVIDIA RTX 2070 8GB Graphics / 1Yr Premium Warranty / Win 10 + MS Office H&S 2019) D560233WIN9B, Black',
 'ASUS ROG Strix Scar 17 (2020), 17.3" FHD 300Hz/3ms, Intel Core i9-10980HK 10th Gen, RTX 2080 Super GDDR6 8GB Graphics, Gaming Laptop (32GB/2TB RAID 0 SSD/Windows 10/Black/2.99 Kg), G732LXS-HG059T',
 'ASUS ZenBook Pro Duo UX581 Intel Core i9 9th Gen 15.6" 4K UHD OLED Touchscreen Laptop (32GB RAM/1TB NVMe SSD/Windows 10/6GB GDDR6 Graphics Card/ScreenPad Plus/Celestial Blue/2.50 Kg), UX581GV-H9201T',
 '(Renewed) Dell XPS 9570 Laptop|i9-8950HK|32GB DDR4|1TB SSD|15.6" 4K Touch|NVIDIA GTX 1050Ti 4GB|Win 10 HSL|Backlit',
 'HP Omen X 2S Core i9 9th Gen 15.6-inch Dual Screen Gaming Laptop (16GB/2TB SSD/Windows 10/8GB NVIDIA RTX 2080 Graphics/Shadow Black), 15-dg0019TX',
 'Apple MacBook Pro (16-inch, 16GB RAM, 1TB Storage, 2.3GHz 9th Gen Intel Core i9) - Space Grey',
 'ASUS ROG Zephyrus Duo 15, 15.6" FHD 300Hz/3ms, Intel Core i9-10980HK 10th Gen, RTX 2080 SUPER Max-Q 8GB Graphic, Gaming Laptop (32GB/2TB RAID 0 SSD/Office 2019/Windows 10/Gray/2.4 Kg) GX550LXS-HF168TS',
 'HP Z4 Workstation, Intel Core i9-7900X, RAM 32GB (4x8GB), 2TB Hard Disk, GFX NVIDIA Quadro P2000 5GB (4) DP, Windows 10 Pro, DVDRW, 3 Yrs Onsite Warranty by HP']

In [291]:
price

['2,49,990',
 '4,13,890',
 '3,11,000',
 '2,49,990',
 '2,62,990',
 '2,00,690',
 '2,77,639',
 '2,79,990',
 '1,89,900',
 '3,45,800',
 '2,15,990',
 '2,66,990',
 '2,69,900',
 '2,49,990',
 '4,13,890',
 '3,11,000',
 '2,49,990',
 '2,62,990',
 '2,00,690',
 '2,77,639',
 '2,79,990',
 '1,89,900',
 '3,45,800',
 '2,15,990',
 '2,66,990',
 '2,69,900',
 '2,49,990',
 '4,13,890',
 '3,11,000',
 '2,49,990',
 '2,62,990',
 '2,00,690',
 '2,77,639',
 '2,79,990',
 '1,89,900',
 '3,45,800',
 '2,15,990',
 '2,66,990',
 '2,69,900',
 '2,49,990',
 '4,13,890',
 '3,11,000',
 '2,49,990',
 '2,62,990',
 '2,00,690',
 '2,77,639',
 '2,79,990',
 '1,89,900',
 '3,45,800',
 '2,15,990',
 '2,66,990',
 '2,69,900',
 '2,49,990',
 '4,13,890',
 '3,11,000',
 '2,49,990',
 '2,62,990',
 '2,00,690',
 '2,77,639',
 '2,79,990',
 '1,89,900',
 '3,45,800',
 '2,15,990',
 '2,66,990',
 '2,69,900',
 '2,49,990',
 '4,13,890',
 '3,11,000',
 '2,49,990',
 '2,62,990',
 '2,00,690',
 '2,77,639',
 '2,79,990',
 '1,89,900',
 '3,45,800',
 '2,15,990',
 '2,66,990',
 '2,69,900',
 '2,49,990',
 '4,13,890',
 '3,11,000',
 '2,49,990',
 '2,62,990',
 '2,00,690',
 '2,77,639',
 '2,79,990',
 '1,89,900',
 '3,45,800',
 '2,15,990',
 '2,66,990',
 '2,69,900',
 '2,49,990',
 '4,13,890',
 '3,11,000',
 '2,49,990',
 '2,62,990',
 '2,00,690',
 '2,77,639',
 '2,79,990',
 '1,89,900',
 '3,45,800',
 '2,15,990',
 '2,66,990',
 '2,69,900']

In [294]:
# will check number of data extracted
print(len(title),len(price))

104 104

In [280]:
# in list type. not in string so no need for eval()

df1 = pd.DataFrame(title,columns=['Title of Laptop for i9'])
df1

                               Title of Laptop for i9
0   Dell XPS 9570 15.6" (39.62cms) UHD Laptop (8th...
1   ASUS ROG G703GI-E5148T 17.3" (43.94 cms) FHD 1...
2   ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...
3   Dell XPS 9570 15.6" (39.62cms) UHD Laptop (8th...
4   Lenovo Legion 7 10th Gen Intel Core i9 15.6 in...
..                                                ...
73  (Renewed) Dell XPS 9570 Laptop|i9-8950HK|32GB ...
74  HP Omen X 2S Core i9 9th Gen 15.6-inch Dual Sc...
75  Apple MacBook Pro (16-inch, 16GB RAM, 1TB Stor...
76  ASUS ROG Zephyrus Duo 15, 15.6" FHD 300Hz/3ms,...
77  HP Z4 Workstation, Intel Core i9-7900X, RAM 32...

[78 rows x 1 columns]

In [281]:
df2 = pd.DataFrame(price,columns=['Price of Laptop'])
df2

   Price of Laptop
0         2,49,990
1         4,13,890
2         3,11,000
3         2,49,990
4         2,62,990
..             ...
73        1,89,900
74        3,45,800
75        2,15,990
76        2,66,990
77        2,69,900

[78 rows x 1 columns]

In [282]:
result2 = pd.concat([df1, df2], axis=1, join='inner')
result2

                               Title of Laptop for i9 Price of Laptop
0   Dell XPS 9570 15.6" (39.62cms) UHD Laptop (8th...        2,49,990
1   ASUS ROG G703GI-E5148T 17.3" (43.94 cms) FHD 1...        4,13,890
2   ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...        3,11,000
3   Dell XPS 9570 15.6" (39.62cms) UHD Laptop (8th...        2,49,990
4   Lenovo Legion 7 10th Gen Intel Core i9 15.6 in...        2,62,990
..                                                ...             ...
73  (Renewed) Dell XPS 9570 Laptop|i9-8950HK|32GB ...        1,89,900
74  HP Omen X 2S Core i9 9th Gen 15.6-inch Dual Sc...        3,45,800
75  Apple MacBook Pro (16-inch, 16GB RAM, 1TB Stor...        2,15,990
76  ASUS ROG Zephyrus Duo 15, 15.6" FHD 300Hz/3ms,...        2,66,990
77  HP Z4 Workstation, Intel Core i9-7900X, RAM 32...        2,69,900

[78 rows x 2 columns]

In [283]:
result2 = result2.drop(result2.index[10:],axis = 0)
result2

                              Title of Laptop for i9 Price of Laptop
0  Dell XPS 9570 15.6" (39.62cms) UHD Laptop (8th...        2,49,990
1  ASUS ROG G703GI-E5148T 17.3" (43.94 cms) FHD 1...        4,13,890
2  ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...        3,11,000
3  Dell XPS 9570 15.6" (39.62cms) UHD Laptop (8th...        2,49,990
4  Lenovo Legion 7 10th Gen Intel Core i9 15.6 in...        2,62,990
5  Dell G7 7500 15.6inch FHD 300 Hz Display Gamin...        2,00,690
6  ASUS ROG Strix Scar 17 (2020), 17.3" FHD 300Hz...        2,77,639
7  ASUS ZenBook Pro Duo UX581 Intel Core i9 9th G...        2,79,990
8  (Renewed) Dell XPS 9570 Laptop|i9-8950HK|32GB ...        1,89,900
9  HP Omen X 2S Core i9 9th Gen 15.6-inch Dual Sc...        3,45,800

In [295]:
result_main = pd.concat([result, result2], axis=1, join='inner')
result_main

,Title of Laptop for i9,Ratings,Price of Laptop,Title of Laptop for i9,Price of Laptop
0,"Dell XPS 9570 15.6"" (39.62cms) UHD Laptop (8th...",5,"2,49,990","Dell XPS 9570 15.6"" (39.62cms) UHD Laptop (8th...","2,49,990"
1,"ASUS ROG G703GI-E5148T 17.3"" (43.94 cms) FHD 1...",5,"4,13,890","ASUS ROG G703GI-E5148T 17.3"" (43.94 cms) FHD 1...","4,13,890"
2,ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...,5,"3,11,000",ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...,"3,11,000"
3,"Dell XPS 9570 15.6"" (39.62cms) UHD Laptop (8th...",5,"2,49,990","Dell XPS 9570 15.6"" (39.62cms) UHD Laptop (8th...","2,49,990"
4,Lenovo Legion 7 10th Gen Intel Core i9 15.6 in...,4,"2,62,990",Lenovo Legion 7 10th Gen Intel Core i9 15.6 in...,"2,62,990"
5,Dell G7 7500 15.6inch FHD 300 Hz Display Gamin...,5,"2,00,690",Dell G7 7500 15.6inch FHD 300 Hz Display Gamin...,"2,00,690"
6,"ASUS ROG Strix Scar 17 (2020), 17.3"" FHD 300Hz...",5,"2,77,639","ASUS ROG Strix Scar 17 (2020), 17.3"" FHD 300Hz...","2,77,639"
7,ASUS ZenBook Pro Duo UX581 Intel Core i9 9th G...,5,"2,79,990",ASUS ZenBook Pro Duo UX581 Intel Core i9 9th G...,"2,79,990"
8,(Renewed) Dell XPS 9570 Laptop|i9-8950HK|32GB ...,5,"1,89,900",(Renewed) Dell XPS 9570 Laptop|i9-8950HK|32GB ...,"1,89,900"
9,HP Omen X 2S Core i9 9th Gen 15.6-inch Dual Sc...,5,"3,45,800",HP Omen X 2S Core i9 9th Gen 15.6-inch Dual Sc...,"3,45,800"